n8n_workflows/In/BAT IN Telegram.json
{
  "updatedAt": "2025-11-23T04:05:43.000Z",
  "createdAt": "2025-10-14T06:44:54.979Z",
  "id": "pmDPBdREgE5wf1Cn",
  "name": "BAT IN Telegram",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": "=hwYfaLAKCwaWpoQk",
        "options": {}
      },
      "id": "d465b7a4-8b49-4ab3-a163-fb10ed45ca9d",
      "name": "Execute Universal Batcher",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        864,
        288
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "id": "6108bb21-0192-431b-8551-833d807df004",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        288
      ],
      "webhookId": "telegram-webhook",
      "credentials": {
        "telegramApi": {
          "id": "pp6VRePNlKLBuoCQ",
          "name": "Client TG"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "19b6d600-4368-4ebc-a0f2-6b732c2d83ce",
      "name": "Get Voice File1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -288,
        176
      ],
      "webhookId": "cef2b97d-fec3-49c2-8714-cda1998d7ea1",
      "credentials": {
        "telegramApi": {
          "id": "QIs2m5gKKih3bnhF",
          "name": "Operator TG"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -96,
        176
      ],
      "id": "52653c0e-4d0f-46cf-b18d-3eb37a7d7f12",
      "name": "Transcribe Voice1",
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Telegram Trigger1').first().json.message;\nconst transcription = $input.first().json.text;\n\nlet messageText = msg.text || msg.caption || '';\n\nconst hasPhoto = !!msg.photo;\nconst hasVoice = !!msg.voice;\nconst hasVideo = !!msg.video;\nconst hasDocument = !!msg.document;\n\nlet photoFileId = null;\nlet videoFileId = null;\nlet documentFileId = null;\n\nif (hasPhoto) {\n  const photos = msg.photo;\n  photoFileId = photos[photos.length - 1].file_id;\n}\nif (hasVideo) videoFileId = msg.video.file_id;\nif (hasDocument) documentFileId = msg.document.file_id;\n\nconst urls = [];\nif (msg.entities) {\n  msg.entities\n    .filter(e => e.type === 'url' || e.type === 'text_link')\n    .forEach(e => {\n      if (e.type === 'url') {\n        urls.push(messageText.substring(e.offset, e.offset + e.length));\n      } else if (e.url) {\n        urls.push(e.url);\n      }\n    });\n}\n\nconst clientName = [\n  msg.from.first_name,\n  msg.from.last_name\n].filter(Boolean).join(' ').trim() || null;\n\n// Если было голосовое - добавляем транскрипцию\nif (hasVoice && transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'telegram',\n  external_user_id: msg.from.id.toString(),\n  external_chat_id: msg.chat.id.toString(),\n  \n  text: messageText,\n  timestamp: new Date(msg.date * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: clientName,\n  client_email: null,\n  \n  media: {\n    has_voice: hasVoice,\n    voice_transcribed_text: hasVoice ? transcription : null,\n    has_images: hasPhoto,\n    images: hasPhoto ? [{\n      file_id: photoFileId,\n      caption: msg.caption || null\n    }] : [],\n    has_video: hasVideo,\n    videos: hasVideo ? [{\n      file_id: videoFileId,\n      caption: msg.caption || null\n    }] : [],\n    has_document: hasDocument,\n    documents: hasDocument ? [{\n      file_id: documentFileId,\n      file_name: msg.document?.file_name || null\n    }] : []\n  },\n  \n  meta: {\n    external_message_id: msg.message_id.toString(),\n    ad_channel: 'telegram',\n    ad_id: null,\n    original_media_type: hasVoice ? 'voice' : hasPhoto ? 'photo' : hasVideo ? 'video' : 'text',\n    raw: msg,\n    username: msg.from.username || null\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "feec653d-8a5a-4923-897f-3d7ed0a4a199",
      "name": "Normalize with Voice1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message;\n\nlet messageText = msg.text || msg.caption || '';\n\nconst hasPhoto = !!msg.photo;\nconst hasVoice = false;\nconst hasVideo = !!msg.video;\nconst hasDocument = !!msg.document;\n\nlet photoFileId = null;\nlet videoFileId = null;\nlet documentFileId = null;\n\nif (hasPhoto) {\n  const photos = msg.photo;\n  photoFileId = photos[photos.length - 1].file_id;\n}\nif (hasVideo) videoFileId = msg.video.file_id;\nif (hasDocument) documentFileId = msg.document.file_id;\n\nconst urls = [];\nif (msg.entities) {\n  msg.entities\n    .filter(e => e.type === 'url' || e.type === 'text_link')\n    .forEach(e => {\n      if (e.type === 'url') {\n        urls.push(messageText.substring(e.offset, e.offset + e.length));\n      } else if (e.url) {\n        urls.push(e.url);\n      }\n    });\n}\n\nconst clientName = [\n  msg.from.first_name,\n  msg.from.last_name\n].filter(Boolean).join(' ').trim() || null;\n\nreturn {\n  channel: 'telegram',\n  external_user_id: msg.from.id.toString(),\n  external_chat_id: msg.chat.id.toString(),\n  \n  text: messageText,\n  timestamp: new Date(msg.date * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: clientName,\n  client_email: null,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: hasPhoto,\n    images: hasPhoto ? [{\n      file_id: photoFileId,\n      caption: msg.caption || null\n    }] : [],\n    has_video: hasVideo,\n    videos: hasVideo ? [{\n      file_id: videoFileId,\n      caption: msg.caption || null\n    }] : [],\n    has_document: hasDocument,\n    documents: hasDocument ? [{\n      file_id: documentFileId,\n      file_name: msg.document?.file_name || null\n    }] : []\n  },\n  \n  meta: {\n    external_message_id: msg.message_id.toString(),\n    ad_channel: 'telegram',\n    ad_id: null,\n    original_media_type: hasPhoto ? 'photo' : hasVideo ? 'video' : 'text',\n    raw: msg,\n    username: msg.from.username || null\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "803b9f0e-fb14-4892-9e5c-3b5061a05aaf",
      "name": "Normalize without Voice1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        384
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "04d0baab-134b-4edf-a901-c4331befe2c9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "58d7ea37-e6c6-40ba-9a70-a3ebc552639e",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -576,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Вход: ваш объект с meta.raw.*\n// Выход: тот же объект + обязательные верхнеуровневые поля\nconst src = $input.first().json;\nconst raw = src.meta?.raw || {};\nconst channel = src.channel || src.meta?.ad_channel || 'telegram';\nconst external_chat_id = src.external_chat_id || raw.chat?.id?.toString() || null;\nconst external_user_id = src.external_user_id || raw.from?.id?.toString() || null;\nconst external_message_id = src.external_message_id || src.meta?.external_message_id || raw.message_id?.toString() || null;\nconst text = (typeof src.text === 'string' && src.text.trim().length) ? src.text : (raw.text || '');\nconst timestamp = src.timestamp || (raw.date ? new Date(raw.date * 1000).toISOString() : null);\n\n// Для Tenant Resolver нужен bot_token\nconst bot_token = '8411509872:AAFmR4xk6kJFBgKsYdXRJAULhxHWe1McJQ8';\n\nreturn {\n  ...src,\n  channel,\n  bot_token,\n  external_chat_id,\n  external_user_id,\n  external_message_id,\n  text,\n  timestamp\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        288
      ],
      "id": "081faa54-3a0c-4af5-be74-85cdb3f4b544",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rRO6sxLqiCdgvLZz",
          "mode": "list",
          "cachedResultUrl": "/workflow/rRO6sxLqiCdgvLZz",
          "cachedResultName": "BAT_Tenant_Resolver"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        592,
        288
      ],
      "id": "ff746e87-e4ec-4f2b-aba6-7e551d46ee39",
      "name": "Execute Tenant Resolver"
    }
  ],
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File1": {
      "main": [
        [
          {
            "node": "Transcribe Voice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice1": {
      "main": [
        [
          {
            "node": "Normalize with Voice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Voice File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize without Voice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize with Voice1": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize without Voice1": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Execute Tenant Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tenant Resolver": {
      "main": [
        [
          {
            "node": "Execute Universal Batcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "105d9257-d8e4-499e-b565-59277e076f5d",
  "versionCounter": 19,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-14T06:44:54.992Z",
      "createdAt": "2025-10-14T06:44:54.992Z",
      "role": "workflow:owner",
      "workflowId": "pmDPBdREgE5wf1Cn",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-02T07:52:39.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-23T04:03:40.721Z",
      "createdAt": "2025-11-23T04:03:40.721Z",
      "id": "nLdF41tEx70V7m3A",
      "name": "In"
    }
  ]
}