n8n_workflows/In/BAT_IN_VK.json
{
  "id": "aRjmaO3jZqhl8hOG",
  "name": "BAT IN VK",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vk",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "43916d8b-9bfe-4dc9-9d48-d6c090c37707",
      "name": "VK Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -736,
        128
      ],
      "webhookId": "vk-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "operation": "equals",
              "value2": "confirmation"
            }
          ]
        }
      },
      "id": "2b19610f-7767-4623-a932-4328bdbd8cc7",
      "name": "Is Confirmation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -512,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $env.VK_CONFIRMATION_STRING }}",
        "options": {}
      },
      "id": "f34d1b32-9c18-4a91-aad4-a39429653b1b",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -288,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "operation": "equals",
              "value2": "message_new"
            }
          ]
        }
      },
      "id": "c50968c7-c95a-4584-8735-a61560939972",
      "name": "Is New Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.object.message.attachments && $json.object.message.attachments.some(a => a.type === 'audio_message') }}",
              "value2": true
            }
          ]
        }
      },
      "id": "4b12cfbd-6b9d-4a21-9c35-1fbaa413d6e6",
      "name": "Has Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -64,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.object.message;\n\n// Находим голосовое сообщение\nconst voiceAttachment = msg.attachments.find(a => a.type === 'audio_message');\nconst voiceUrl = voiceAttachment?.audio_message?.link_mp3;\n\nif (!voiceUrl) {\n  throw new Error('Voice URL not found');\n}\n\nreturn {\n  voice_url: voiceUrl,\n  original_message: msg\n};"
      },
      "id": "01970bb1-8d2a-40f8-8a05-e51da7ab9365",
      "name": "Extract Voice URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        128
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.voice_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "b1e13912-0787-4143-8988-c49cbf0d8221",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        384,
        128
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        592,
        128
      ],
      "id": "4063e6e0-d564-4333-a7f9-cc5888c85204",
      "name": "Transcribe Voice",
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Extract Voice URL').first().json.original_message;\nconst transcription = $input.first().json.text;\n\nlet messageText = msg.text || '';\n\nconst hasPhoto = msg.attachments?.some(a => a.type === 'photo') || false;\nconst hasVoice = true;\nconst hasVideo = msg.attachments?.some(a => a.type === 'video') || false;\nconst hasDocument = msg.attachments?.some(a => a.type === 'doc') || false;\n\nconst urls = [];\nlet photoUrl = null;\n\nif (hasPhoto) {\n  const photoAttachment = msg.attachments.find(a => a.type === 'photo');\n  if (photoAttachment?.photo?.sizes) {\n    const maxSize = photoAttachment.photo.sizes.reduce((max, size) => \n      (size.width * size.height > max.width * max.height) ? size : max\n    );\n    photoUrl = maxSize.url;\n    urls.push(photoUrl);\n  }\n}\n\n// Добавляем транскрипцию\nif (transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'vk',\n  external_user_id: msg.from_id.toString(),\n  external_chat_id: msg.peer_id.toString(),\n  \n  text: messageText,\n  timestamp: new Date(msg.date * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: null,\n  client_email: null,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: hasPhoto,\n    images: hasPhoto ? [{ url: photoUrl }] : [],\n    has_video: hasVideo,\n    videos: [],\n    has_document: hasDocument\n  },\n  \n  meta: {\n    external_message_id: msg.id.toString(),\n    ad_channel: 'vk',\n    ad_id: null,\n    original_media_type: 'voice',\n    raw: msg,\n    group_id: msg.group_id?.toString()\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "d0e546d5-36df-49c5-918c-fe9ee49d5252",
      "name": "Normalize with Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.object.message;\n\nlet messageText = msg.text || '';\n\nconst hasPhoto = msg.attachments?.some(a => a.type === 'photo') || false;\nconst hasVoice = false;\nconst hasVideo = msg.attachments?.some(a => a.type === 'video') || false;\nconst hasDocument = msg.attachments?.some(a => a.type === 'doc') || false;\n\nconst urls = [];\nlet photoUrl = null;\n\nif (hasPhoto) {\n  const photoAttachment = msg.attachments.find(a => a.type === 'photo');\n  if (photoAttachment?.photo?.sizes) {\n    const maxSize = photoAttachment.photo.sizes.reduce((max, size) => \n      (size.width * size.height > max.width * max.height) ? size : max\n    );\n    photoUrl = maxSize.url;\n    urls.push(photoUrl);\n  }\n}\n\nreturn {\n  channel: 'vk',\n  external_user_id: msg.from_id.toString(),\n  external_chat_id: msg.peer_id.toString(),\n  \n  text: messageText,\n  timestamp: new Date(msg.date * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: null,\n  client_email: null,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: hasPhoto,\n    images: hasPhoto ? [{ url: photoUrl }] : [],\n    has_video: hasVideo,\n    videos: [],\n    has_document: hasDocument\n  },\n  \n  meta: {\n    external_message_id: msg.id.toString(),\n    ad_channel: 'vk',\n    ad_id: null,\n    original_media_type: hasPhoto ? 'photo' : 'text',\n    raw: msg\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "18cd3b3c-3b72-415f-8c78-d4b71a355349",
      "name": "Normalize without Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "553b28ba-8c27-4521-890a-49e4418aadab",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1504,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": "=hwYfaLAKCwaWpoQk",
        "options": {}
      },
      "id": "10a4080e-076f-4299-9ed9-413be1cad7a6",
      "name": "Execute Universal Batcher",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1264,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rRO6sxLqiCdgvLZz",
          "mode": "list",
          "cachedResultUrl": "/workflow/rRO6sxLqiCdgvLZz",
          "cachedResultName": "BAT_Tenant_Resolver"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1040,
        224
      ],
      "id": "bf155844-345f-4fa5-b642-a7b85e9fe0fb",
      "name": "Execute Tenant Resolver"
    }
  ],
  "connections": {
    "VK Trigger": {
      "main": [
        [
          {
            "node": "Is Confirmation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Confirmation?": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is New Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Message?": {
      "main": [
        [
          {
            "node": "Has Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice?": {
      "main": [
        [
          {
            "node": "Extract Voice URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize without Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Voice URL": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Normalize with Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize with Voice": {
      "main": [
        [
          {
            "node": "Execute Tenant Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize without Voice": {
      "main": [
        [
          {
            "node": "Execute Tenant Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Universal Batcher": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tenant Resolver": {
      "main": [
        [
          {
            "node": "Execute Universal Batcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-23T04:03:40.721Z",
      "createdAt": "2025-11-23T04:03:40.721Z",
      "id": "nLdF41tEx70V7m3A",
      "name": "In"
    }
  ],
  "updatedAt": "2025-11-23T04:05:54.000Z",
  "createdAt": "2025-10-14T06:43:11.670Z"
}