n8n_workflows/In/BAT_IN_WhatsApp.json
{
  "id": "FjpPHrKqC1LUG8Cr",
  "name": "BAT IN WhatsApp",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e7e15e52-8199-4815-a222-0261f5462b4a",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -912,
        32
      ],
      "webhookId": "whatsapp-webhook"
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json;\n\n// WAPPI API webhook format\nconst chatId = event.chatId || event.chat_id;\nconst sender = event.sender || event.from;\nconst messageText = event.text || event.body || '';\nconst messageId = event.messageId || event.id || Date.now().toString();\nconst timestamp = event.timestamp ? new Date(event.timestamp * 1000).toISOString() : new Date().toISOString();\n\n// Извлекаем номер телефона из chatId (формат: 79991234567@c.us)\nlet phone = chatId.split('@')[0];\nif (phone && !phone.startsWith('+')) {\n  phone = '+' + phone;\n}\n\n// Проверяем медиа\nconst media = event.media || {};\nconst hasPhoto = media.type === 'image' || (event.hasMedia && event.media?.mimetype?.startsWith('image/'));\nconst hasVoice = media.type === 'audio' || media.type === 'voice' || event.media?.mimetype?.startsWith('audio/');\nconst hasVideo = media.type === 'video' || event.media?.mimetype?.startsWith('video/');\nconst hasDocument = media.type === 'document' || event.media?.mimetype === 'application/pdf';\n\nconst urls = [];\nlet photoUrl = null;\nlet voiceUrl = null;\nlet videoUrl = null;\n\n// WAPPI предоставляет прямые ссылки на медиа\nif (media.url) {\n  urls.push(media.url);\n  if (hasPhoto) photoUrl = media.url;\n  if (hasVoice) voiceUrl = media.url;\n  if (hasVideo) videoUrl = media.url;\n}\n\n// Альтернативный формат для совместимости\nif (event.mediaUrl) {\n  urls.push(event.mediaUrl);\n  if (hasPhoto && !photoUrl) photoUrl = event.mediaUrl;\n  if (hasVoice && !voiceUrl) voiceUrl = event.mediaUrl;\n  if (hasVideo && !videoUrl) videoUrl = event.mediaUrl;\n}\n\nreturn {\n  has_voice: hasVoice,\n  voice_url: voiceUrl,\n  raw_event: event,\n  chat_id: chatId,\n  phone: phone,\n  message_text: messageText,\n  message_id: messageId,\n  timestamp: timestamp,\n  sender_name: event.senderName || event.pushname || null,\n  has_photo: hasPhoto,\n  photo_url: photoUrl,\n  has_video: hasVideo,\n  video_url: videoUrl,\n  has_document: hasDocument,\n  urls: urls\n};"
      },
      "id": "b8cf8cbe-9275-4e92-a399-fed461a01561",
      "name": "Extract WhatsApp Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        32
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.voice_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "da5cc390-9d99-4b8a-8cb7-3daba5f3f07e",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -256,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -32,
        -80
      ],
      "id": "7183c6e9-0993-459b-8fae-c7fff7dcb289",
      "name": "Transcribe Voice",
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract WhatsApp Data').first().json;\nconst transcription = $input.first().json.text;\n\nlet messageText = data.message_text;\nif (transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'whatsapp',\n  external_user_id: data.phone?.replace(/\\+/g, ''),\n  external_chat_id: data.chat_id,\n  \n  text: messageText,\n  timestamp: data.timestamp,\n  \n  client_phone: data.phone,\n  client_name: data.sender_name,\n  client_email: null,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'whatsapp',\n    ad_id: null,\n    original_media_type: 'voice',\n    raw: data.raw_event,\n    provider: 'wappi'\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "2735ee3b-3caf-4d32-859d-584cd6fce3d2",
      "name": "Normalize with Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  channel: 'whatsapp',\n  external_user_id: data.phone?.replace(/\\+/g, ''),\n  external_chat_id: data.chat_id,\n  \n  text: data.message_text,\n  timestamp: data.timestamp,\n  \n  client_phone: data.phone,\n  client_name: data.sender_name,\n  client_email: null,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'whatsapp',\n    ad_id: null,\n    original_media_type: data.has_photo ? 'photo' : data.has_video ? 'video' : 'text',\n    raw: data.raw_event,\n    provider: 'wappi'\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "0344b17f-3569-4bec-aeab-a1a52814777e",
      "name": "Normalize without Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true } }}",
        "options": {}
      },
      "id": "461e3220-7025-4e1f-859b-c93476a48451",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        32
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "04d0baab-134b-4edf-a901-c4331befe2c9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "9cd16faf-cd3f-46f2-86d6-7547320148a8",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -496,
        32
      ]
    },
    {
      "parameters": {
        "workflowId": "=hwYfaLAKCwaWpoQk",
        "options": {}
      },
      "id": "d9f4827b-832c-4c72-b424-0dafcce09bb9",
      "name": "Execute Universal Batcher",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        992,
        32
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rRO6sxLqiCdgvLZz",
          "mode": "list",
          "cachedResultUrl": "/workflow/rRO6sxLqiCdgvLZz",
          "cachedResultName": "BAT_Tenant_Resolver"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        752,
        32
      ],
      "id": "7b50d708-873e-465b-b108-8bfb9cd6da38",
      "name": "Execute Tenant Resolver"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Extract WhatsApp Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract WhatsApp Data": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Normalize with Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize with Voice": {
      "main": [
        [
          {
            "node": "Execute Tenant Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize without Voice": {
      "main": [
        [
          {
            "node": "Execute Tenant Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize without Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Universal Batcher": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tenant Resolver": {
      "main": [
        [
          {
            "node": "Execute Universal Batcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-23T04:03:40.721Z",
      "createdAt": "2025-11-23T04:03:40.721Z",
      "id": "nLdF41tEx70V7m3A",
      "name": "In"
    }
  ],
  "updatedAt": "2025-11-23T04:05:34.000Z",
  "createdAt": "2025-10-14T06:51:32.248Z"
}