workflows_to_import/new/ELO_Out_Avito.json
{
  "name": "ELO_Out_Avito",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elo-out-avito",
        "responseMode": "responseNode"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "http://mcp-avito:8765/send",
        "jsonParameters": true,
        "options": {},
        "body": "={{ {\n  chat_id: $json.external_chat_id,\n  text: $json.text\n} }}",
        "responseFormat": "json"
      },
      "id": "Send MCP Avito",
      "name": "Send MCP Avito",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "lastNode",
        "responseBody": "={{$json}}"
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Send MCP Avito", "type": "main", "index": 0}]]
    },
    "Send MCP Avito": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

