workflows_to_import/new/ELO_Core_Ingest.json
{
  "name": "ELO_Core_Ingest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elo-core-ingest",
        "responseMode": "responseNode"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { accepted: true, received: $json, trace_id: $json.trace_id } }];"
      },
      "id": "Ack",
      "name": "Ack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "lastNode",
        "responseBody": "={{$json}}"
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Ack", "type": "main", "index": 0}]]
    },
    "Ack": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

