NEW/workflows/Core/ELO_Pipeline_Orchestrator.json
{
  "name": "ELO_Pipeline_Orchestrator",
  "description": "Main pipeline orchestrator. Expects resolved data (tenant_id, client_id, dialog_id) from ELO_Resolver.",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "jsCode": "// Input already has resolved data from ELO_Resolver\nconst input = $input.first().json;\n\n// Validate required fields (all from ELO_Resolver)\nif (!input.tenant_id) throw new Error('Missing tenant_id - ELO_Resolver not called?');\nif (!input.client_id) throw new Error('Missing client_id - ELO_Resolver not called?');\nif (!input.dialog_id) throw new Error('Missing dialog_id - ELO_Resolver not called?');\n\nconst trace_id = input.trace_id || `trace_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\nreturn {\n  // From ELO_Resolver (already resolved!)\n  tenant_id: input.tenant_id,\n  client_id: input.client_id,\n  dialog_id: input.dialog_id,\n  channel_id: input.channel_id,\n  channel_account_id: input.channel_account_id,\n  channel: input.channel,\n  external_chat_id: input.external_chat_id,\n  \n  // Message\n  text: input.text || '',\n  media: input.media || null,\n  \n  // Flags from resolver\n  is_new_client: input.is_new_client || false,\n  is_new_dialog: input.is_new_dialog || false,\n  \n  // Meta\n  meta: input.meta || {},\n  trace_id: trace_id,\n  pipeline_start: Date.now()\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-576, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.n8nsrv.ru/webhook/elo-dispatch-tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  tenant_id: $json.tenant_id,\n  dialog_id: $json.dialog_id,\n  message: { text: $json.text },\n  trace_id: $json.trace_id\n}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "call-dispatcher",
      "name": "Call Task Dispatcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-352, 0]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Validate Input').first().json;\nconst dispatchResult = $input.first().json;\n\nreturn {\n  ...input,\n  extraction: {\n    trace_id: dispatchResult.trace_id,\n    tasks_created: dispatchResult.tasks_created,\n    poll_url: dispatchResult.poll_url\n  }\n};"
      },
      "id": "merge-dispatch",
      "name": "Merge Dispatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-128, 0]
    },
    {
      "parameters": {
        "jsCode": "// Poll for extraction results with retry\nconst input = $input.first().json;\nconst trace_id = input.extraction.trace_id;\nconst maxAttempts = 10;\nconst pollInterval = 500; // ms\n\nlet results = null;\nlet attempts = 0;\n\nwhile (attempts < maxAttempts) {\n  attempts++;\n  \n  try {\n    const response = await fetch(`https://n8n.n8nsrv.ru/webhook/elo-results/${trace_id}`);\n    const data = await response.json();\n    \n    if (data.status === 'complete') {\n      results = data;\n      break;\n    }\n  } catch (e) {\n    // Continue polling\n  }\n  \n  // Wait before next poll\n  await new Promise(resolve => setTimeout(resolve, pollInterval));\n}\n\nreturn {\n  ...input,\n  extracted_context: results || { status: 'timeout', entities: [] }\n};"
      },
      "id": "poll-results",
      "name": "Poll Extraction Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [96, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.n8nsrv.ru/webhook/elo-funnel-controller-v2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  context: {\n    tenant_id: $json.tenant_id,\n    dialog_id: $json.dialog_id,\n    client_id: $json.client_id,\n    current_stage: 'lead',\n    vertical_id: 1,\n    stage_masks: {}\n  },\n  message: { text: $json.text },\n  extracted_context: $json.extracted_context,\n  trace_id: $json.trace_id\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-funnel",
      "name": "Call Funnel Controller",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 0]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Poll Extraction Results').first().json;\nconst funnelResult = $input.first().json;\n\nreturn {\n  ...input,\n  funnel: funnelResult\n};"
      },
      "id": "merge-funnel",
      "name": "Merge Funnel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [544, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-response",
              "leftValue": "={{ $json.funnel?.response?.type }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-response",
      "name": "Needs Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [768, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.n8nsrv.ru/webhook/elo-core-response-generator",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  context: $json.funnel.context,\n  response_goal: $json.funnel.response,\n  triggers_fired: []\n}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "call-response-gen",
      "name": "Call Response Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [992, -112]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Merge Funnel').first().json;\nconst responseResult = $input.first().json;\n\nreturn {\n  ...input,\n  response: responseResult.response\n};"
      },
      "id": "merge-response",
      "name": "Merge Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1216, -112]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Update dialog context\nUPDATE elo_t_dialogs\nSET \n  context = $1::jsonb,\n  last_message_at = NOW(),\n  updated_at = NOW()\nWHERE id = $2::uuid;",
        "options": {
          "queryReplacement": "={{ [JSON.stringify($json.funnel?.context || {}), $json.dialog_id] }}"
        }
      },
      "id": "update-dialog",
      "name": "Update Dialog Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1440, 0],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build final output for channel send\nlet responseData = null;\n\ntry {\n  responseData = $('Merge Response').first()?.json;\n} catch (e) {\n  responseData = $('Merge Funnel').first()?.json;\n}\n\nconst input = responseData || $('Merge Funnel').first().json;\n\nreturn {\n  // Routing info\n  channel: input.channel,\n  external_chat_id: input.external_chat_id,\n  tenant_id: input.tenant_id,\n  \n  // Response\n  response: input.response || {\n    text: null,\n    buttons: [],\n    attachments: []\n  },\n  \n  // Meta\n  dialog_id: input.dialog_id,\n  client_id: input.client_id,\n  trace_id: input.trace_id,\n  \n  // Stats\n  pipeline_duration_ms: Date.now() - input.pipeline_start,\n  extraction_entities: input.extracted_context?.entities?.length || 0,\n  stage: input.funnel?.stage || null\n};"
      },
      "id": "build-output",
      "name": "Build Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1664, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-text",
              "leftValue": "={{ $json.response?.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-response",
      "name": "Has Response Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1888, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "avito",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "avito"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "vk",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vk"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "max",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "max"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "channel-router",
      "name": "Channel Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2112, -112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://155.212.221.189:8767/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $json.external_chat_id,\n  text: $json.response.text,\n  buttons: $json.response.buttons,\n  tenant_id: $json.tenant_id\n}) }}",
        "options": {}
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2336, -336]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://155.212.221.189:8766/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone: $json.external_chat_id,\n  text: $json.response.text,\n  tenant_id: $json.tenant_id\n}) }}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2336, -224]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://155.212.221.189:8765/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $json.external_chat_id,\n  text: $json.response.text,\n  tenant_id: $json.tenant_id\n}) }}",
        "options": {}
      },
      "id": "send-avito",
      "name": "Send Avito",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2336, -112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://155.212.221.189:8769/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  peer_id: $json.external_chat_id,\n  text: $json.response.text,\n  tenant_id: $json.tenant_id\n}) }}",
        "options": {}
      },
      "id": "send-vk",
      "name": "Send VK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2336, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://155.212.221.189:8768/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $json.external_chat_id,\n  text: $json.response.text,\n  tenant_id: $json.tenant_id\n}) }}",
        "options": {}
      },
      "id": "send-max",
      "name": "Send MAX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2336, 112]
    },
    {
      "parameters": {
        "jsCode": "// No response to send\nconst input = $input.first().json;\n\nreturn {\n  status: 'no_response',\n  dialog_id: input.dialog_id,\n  trace_id: input.trace_id\n};"
      },
      "id": "no-response",
      "name": "No Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2112, 112]
    },
    {
      "parameters": {
        "jsCode": "// Final output\nconst sendResult = $input.first().json;\nconst buildOutput = $('Build Output').first().json;\n\nreturn {\n  status: 'sent',\n  channel: buildOutput.channel,\n  dialog_id: buildOutput.dialog_id,\n  trace_id: buildOutput.trace_id,\n  pipeline_duration_ms: buildOutput.pipeline_duration_ms,\n  send_result: sendResult\n};"
      },
      "id": "final-output",
      "name": "Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2560, -112]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Call Task Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Task Dispatcher": {
      "main": [
        [
          {
            "node": "Merge Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Dispatch": {
      "main": [
        [
          {
            "node": "Poll Extraction Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Extraction Results": {
      "main": [
        [
          {
            "node": "Call Funnel Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Funnel Controller": {
      "main": [
        [
          {
            "node": "Merge Funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Funnel": {
      "main": [
        [
          {
            "node": "Needs Response?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Response?": {
      "main": [
        [
          {
            "node": "Call Response Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Dialog Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Response Generator": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Response": {
      "main": [
        [
          {
            "node": "Update Dialog Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Dialog Context": {
      "main": [
        [
          {
            "node": "Build Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Output": {
      "main": [
        [
          {
            "node": "Has Response Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Response Text?": {
      "main": [
        [
          {
            "node": "Channel Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Router": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Avito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send VK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send MAX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Avito": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send VK": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send MAX": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "id": "eiI07cPEeFxzR69p",
      "name": "Core"
    },
    {
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ]
}
