n8n_workflows/Out/BAT_OUT_Telegram.json
{
  "id": "v1s1eefpYkPCfikZ",
  "name": "BAT OUT Telegram",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "2141ad67-f48d-490d-966b-cfb33474ab45",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  SELECT\n    a.ad_channel as channel,\n    a.client_id,\n    c.telegram_id,\n    c.vk_id,\n    c.whatsapp_id,\n    c.avito_id,\n    c.phone\n  FROM appeals a\n  JOIN clients c ON c.id = a.client_id\n  WHERE a.id = '{{ $json.appeal_id }}'::uuid\n",
        "options": {}
      },
      "id": "d0099f41-0132-4718-98bb-fc51918346f4",
      "name": "Fetch Chat Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -512,
        -48
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "  const trigger = $('Execute Workflow Trigger').first().json;\n  const chat = $('Fetch Chat Data').first().json;\n\n  const chatId = chat.telegram_id || chat.whatsapp_id || chat.vk_id || chat.avito_id;\n\n  return {\n    appeal_id: trigger.appeal_id,\n    tenant_id: trigger.tenant_id,\n    operator_id: trigger.operator_id,\n    response_text: trigger.response_text,\n    media_type: trigger.media_type,\n    media_data: trigger.media_data,\n    action_source: trigger.action_source,\n    channel: trigger.channel || chat.channel || (chat.telegram_id ? 'telegram' : chat.whatsapp_id ? 'whatsapp' : chat.vk_id ? 'vk' : 'avito'),\n    chat_id: chatId,\n    external_chat_id: chatId,\n    telegram_id: chat.telegram_id,\n    phone: chat.phone,\n    client_id: chat.client_id,\n    // Определяем тип touchpoint\n    // Если action_source === 'promo' или 'greeting' → promo\n    // Иначе → outbound\n    touchpoint_direction: (trigger.action_source === 'promo' || trigger.action_source === 'greeting' || trigger.action_source === 'broadcast') ? 'promo' : 'outbound'\n  };"
      },
      "id": "7e9de6b0-3212-4671-b083-e52e0409bcec",
      "name": "Prepare Telegram Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -48
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.external_chat_id }}",
        "text": "={{ $json.response_text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "8c446ba3-7a61-4ec9-b6c9-4a773c73a676",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        80,
        -48
      ],
      "webhookId": "61c272e7-905c-460c-8ebc-b9ea78cc2ba1",
      "credentials": {
        "telegramApi": {
          "id": "pp6VRePNlKLBuoCQ",
          "name": "Client TG"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages_history (\n  tenant_id,\n  appeal_id,\n  message_type,\n  message_text,\n  channel,\n  channel_id,\n  external_message_id,\n  external_chat_id\n)\nSELECT\n  NULLIF('{{ $('Prepare Telegram Payload').item.json.tenant_id }}','')::uuid,\n  '{{ $('Prepare Telegram Payload').item.json.appeal_id }}'::uuid,\n  'operator',\n  '{{ $json.result.text }}',\n  '{{ $('Prepare Telegram Payload').item.json.channel }}',\n  (SELECT id FROM channels WHERE code = '{{ $('Prepare Telegram Payload').item.json.channel }}' LIMIT 1),\n  '{{ $json.result.message_id }}',\n  NULLIF('{{ $('Prepare Telegram Payload').item.json.chat_id }}','')\nRETURNING *;",
        "options": {}
      },
      "id": "a78c3bee-4d0b-4d6d-8227-7d14aae4c663",
      "name": "Save Message History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        -48
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.n8nsrv.ru/webhook/neo4j/touchpoint/register",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  client_id: $('Prepare Telegram Payload').item.json.client_id,\n  appeal_id: $('Prepare Telegram Payload').item.json.appeal_id,\n  channel: $('Prepare Telegram Payload').item.json.channel,\n  direction: $('Prepare Telegram Payload').item.json.touchpoint_direction,\n  type: 'message',\n  tenant_id: $('Prepare Telegram Payload').item.json.tenant_id,\n  // outbound/promo НЕ создаёт сущности сам по себе\n  creates_entity: false\n}) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "1bca8047-a083-4542-ac6d-64baf158bee4",
      "name": "Register Touchpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        576,
        -48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message_id\": $('Send Telegram Message').item.json.result.message_id } }}",
        "options": {}
      },
      "id": "57ec8141-488a-4aef-87aa-8a466ec32b45",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        -48
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Fetch Chat Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Chat Data": {
      "main": [
        [
          {
            "node": "Prepare Telegram Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Payload": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Save Message History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Message History": {
      "main": [
        [
          {
            "node": "Register Touchpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Touchpoint": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-23T04:03:34.766Z",
      "createdAt": "2025-11-23T04:03:34.766Z",
      "id": "IbDkJphbr4EygdRZ",
      "name": "Out"
    }
  ],
  "updatedAt": "2025-12-03T18:01:19.000Z",
  "createdAt": "2025-10-14T07:03:45.869Z"
}