n8n_workflows/Out/BAT_OUT_Telegram.json
{
  "id": "v1s1eefpYkPCfikZ",
  "name": "BAT OUT Telegram",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "ee5e013b-fb89-4c28-92d7-c40eeae23278",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Подготовка данных для отправки через MCP Telegram\nconst input = $input.first().json;\nconst outMessage = input.out_message || input;\n\n// external_chat_id в формате tg_XXXXXXXXXX\nlet chatId = outMessage.external_chat_id || '';\nif (chatId.startsWith('tg_')) {\n  chatId = chatId.substring(3);  // Убираем префикс tg_\n}\n\nreturn {\n  chat_id: chatId,\n  text: outMessage.message_text || outMessage.text,\n  bot_token: outMessage.bot_token,\n  parse_mode: 'Markdown',\n  tenant_id: outMessage.tenant_id,\n  appeal_id: outMessage.appeal_id,\n  client_id: outMessage.client_id,\n  action_source: outMessage.action_source || 'response'\n};"
      },
      "id": "9df10f9a-c413-4388-aa1a-69558c815ea3",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://tg.eldoleado.ru/api/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "mcp-telegram-secret-2024"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"token\": \"{{ $json.bot_token }}\",\n  \"chat_id\": \"{{ $json.chat_id }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"parse_mode\": \"{{ $json.parse_mode }}\"\n}",
        "options": {}
      },
      "id": "1df747e1-9d43-4bb2-b39d-d1f32f4bcd36",
      "name": "Send via MCP Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -400,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst preparedData = $('Prepare Message').first().json;\n\nif (!response.success) {\n  console.error('Telegram send failed:', response);\n}\n\n// Определяем тип touchpoint\nconst actionSource = preparedData.action_source || '';\nconst touchpointDirection = (actionSource === 'promo' || actionSource === 'greeting' || actionSource === 'broadcast') ? 'promo' : 'outbound';\n\nreturn {\n  ...preparedData,\n  telegram_response: response,\n  message_id: response.message_id?.toString() || Date.now().toString(),\n  sent_at: new Date().toISOString(),\n  touchpoint_direction: touchpointDirection\n};"
      },
      "id": "239922c0-3f2f-450e-8206-2e7cec9599a5",
      "name": "Process Telegram Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages_history (\n  tenant_id,\n  appeal_id,\n  message_type,\n  message_text,\n  channel, channel_id,\n  external_message_id,\n  external_chat_id\n)\nSELECT\n  '{{ $json.tenant_id }}'::uuid,\n  '{{ $json.appeal_id }}'::uuid,\n  'agent',\n  {{ $json.text ? \"'\" + $json.text.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  'telegram',\n  (SELECT id FROM channels WHERE code = 'telegram' LIMIT 1),\n  '{{ $json.message_id }}',\n  'tg_{{ $json.chat_id }}'\nRETURNING *;",
        "options": {}
      },
      "id": "a6f71c41-1787-4402-954d-075c4b25ed0d",
      "name": "Save Message History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        48,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.n8nsrv.ru/webhook/neo4j/touchpoint/register",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  client_id: $('Process Telegram Response').item.json.client_id,\n  appeal_id: $('Process Telegram Response').item.json.appeal_id,\n  channel: 'telegram',\n  direction: $('Process Telegram Response').item.json.touchpoint_direction,\n  type: 'message',\n  tenant_id: $('Process Telegram Response').item.json.tenant_id,\n  creates_entity: false\n}) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "394969eb-9719-4bab-8b32-4ef7bcffa1cc",
      "name": "Register Touchpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        272,
        -32
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message": {
      "main": [
        [
          {
            "node": "Send via MCP Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via MCP Telegram": {
      "main": [
        [
          {
            "node": "Process Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Telegram Response": {
      "main": [
        [
          {
            "node": "Save Message History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Message History": {
      "main": [
        [
          {
            "node": "Register Touchpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-23T04:03:34.766Z",
      "createdAt": "2025-11-23T04:03:34.766Z",
      "id": "IbDkJphbr4EygdRZ",
      "name": "Out"
    }
  ],
  "updatedAt": "2025-12-05T10:42:52.000Z",
  "createdAt": "2025-10-14T07:03:45.869Z"
}