n8n_workflows/Core/BAT Neo4j CRUD.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neo4j/crud",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -688,
        -320
      ],
      "webhookId": "neo4j-crud",
      "id": "8ce8a58a-f6c5-4926-a623-42c34f8bc18f"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst operation = body.operation || 'read'; // create, read, update, delete\nconst nodeType = body.nodeType || 'Client'; // Client, Device, Problem, etc.\nconst nodeId = body.nodeId || null;\nconst properties = body.properties || {};\nconst edgeType = body.edgeType || null; // OWNS, HAS_PROBLEM, etc.\nconst fromId = body.fromId || null;\nconst toId = body.toId || null;\nconst edgeProperties = body.edgeProperties || {};\n\nreturn {\n  operation,\n  nodeType,\n  nodeId,\n  properties,\n  edgeType,\n  fromId,\n  toId,\n  edgeProperties\n};"
      },
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -320
      ],
      "id": "f758bdad-648e-4a9d-b328-b203d9a181a3"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "create"
            }
          ]
        }
      },
      "name": "Is Create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        -320
      ],
      "id": "9773ab82-efdc-4be8-84b7-e90d6ef178d6"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "read"
            }
          ]
        }
      },
      "name": "Is Read?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        -112
      ],
      "id": "eb67b224-0dd8-4235-a304-416a5601c756"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "update"
            }
          ]
        }
      },
      "name": "Is Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        80
      ],
      "id": "8d58db1e-3c1e-49ea-bdbe-5ccf2c81a552"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "delete"
            }
          ]
        }
      },
      "name": "Is Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        288
      ],
      "id": "23ca4556-7e28-4bdf-b4a7-32bbaa0d08bb"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "create_edge"
            }
          ]
        }
      },
      "name": "Is Create Edge?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        480
      ],
      "id": "dce54867-6f2a-489d-8c4d-1cfd3feb3570"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const nodeType = $json.nodeType;\n  const props = $json.properties;\n  const propsStr = Object.entries(props).map(([k,v]) => `${k}: $${k}`).join(', ');\n  \n  JSON.stringify({\n    statements: [{\n      statement: `CREATE (n:${nodeType} {id: $id, ${propsStr}}) RETURN n`,\n      parameters: { id: $json.nodeId || crypto.randomUUID(), ...props }\n    }]\n  })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Create Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        -320
      ],
      "id": "14bf0608-42d1-4f45-adbf-f14b4dd4bd3d",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const nodeType = $json.nodeType;\n  const nodeId = $json.nodeId;\n  \n  JSON.stringify({\n    statements: [{\n      statement: nodeId \n        ? `MATCH (n:${nodeType} {id: $id}) RETURN n`\n        : `MATCH (n:${nodeType}) RETURN n LIMIT 100`,\n      parameters: nodeId ? { id: nodeId } : {}\n    }]\n  })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Read Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        -112
      ],
      "id": "3b7ee368-342e-4ba4-b65b-ae3976049c25",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const nodeType = $json.nodeType;\n  const nodeId = $json.nodeId;\n  const props = $json.properties;\n  const setStr = Object.entries(props).map(([k,v]) => `n.${k} = $${k}`).join(', ');\n  \n  JSON.stringify({\n    statements: [{\n      statement: `MATCH (n:${nodeType} {id: $id}) SET ${setStr} RETURN n`,\n      parameters: { id: nodeId, ...props }\n    }]\n  })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Update Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        80
      ],
      "id": "f341b26d-4b3a-4dac-81e2-de7b3a86c008",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const nodeType = $json.nodeType;\n  const nodeId = $json.nodeId;\n  \n  JSON.stringify({\n    statements: [{\n      statement: `MATCH (n:${nodeType} {id: $id}) DETACH DELETE n RETURN count(n) as deleted`,\n      parameters: { id: nodeId }\n    }]\n  })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Delete Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        288
      ],
      "id": "90e2d986-d5a6-40e6-b645-ac8795bcc654",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const edgeType = $json.edgeType;\n  const fromId = $json.fromId;\n  const toId = $json.toId;\n  const props = $json.edgeProperties;\n  const propsStr = Object.keys(props).length > 0 \n    ? '{' + Object.entries(props).map(([k,v]) => `${k}: $${k}`).join(', ') + '}'\n    : '';\n  \n  JSON.stringify({\n    statements: [{\n      statement: `MATCH (a {id: $fromId}), (b {id: $toId}) CREATE (a)-[r:${edgeType} ${propsStr}]->(b) RETURN r`,\n      parameters: { fromId, toId, ...props }\n    }]\n  })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Create Edge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        480
      ],
      "id": "bc647751-1252-471b-aa55-75909c20132b",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $json;\nconst data = result.results?.[0]?.data || [];\nconst nodes = data.map(d => d.row?.[0] || d);\n\nreturn {\n  success: true,\n  count: nodes.length,\n  data: nodes\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -16
      ],
      "id": "60c0b55e-4e01-407c-b8e6-04f746f0b895"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        624,
        -16
      ],
      "id": "f811a4ea-4875-4578-ae5a-e96bb032dee4"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Is Create?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Read?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Update?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Delete?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Create Edge?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Create?": {
      "main": [
        [
          {
            "node": "Neo4j Create Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Read?": {
      "main": [
        [
          {
            "node": "Neo4j Read Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Update?": {
      "main": [
        [
          {
            "node": "Neo4j Update Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Delete?": {
      "main": [
        [
          {
            "node": "Neo4j Delete Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Create Edge?": {
      "main": [
        [
          {
            "node": "Neo4j Create Edge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Create Node": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Read Node": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Update Node": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Delete Node": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Create Edge": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "8ae77ca901b15c37bb42b26ea9b5a21b78217dd557a563108d875a64964c49bb"
  }
}