n8n_workflows/Core/BAT_Appeal_Manager.json
{
  "id": "L2pYPcv7r8j5XFU3",
  "name": "BAT Appeal Manager",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "556e3a2d-7380-4f3b-a6f0-45b14e28fa48",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2160,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconsole.log('═══ ATTACH BASE ═══');\nconsole.log('Saving client.id:', input.client?.id);\nreturn input;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        144
      ],
      "id": "218a74ba-667c-4ac6-ad10-1707f7c649ef",
      "name": "Attach Base"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1312,
        144
      ],
      "id": "ec66609e-fcb6-4bb1-8ed9-8d28cddce455",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const baseData = $('Attach Base').first()?.json || {};\nconst sqlResult = $input.first()?.json;\n\nconsole.log('═══ MERGE AFTER FIND ═══');\nconsole.log('SQL type:', typeof sqlResult);\nconsole.log('SQL is array?', Array.isArray(sqlResult));\nconsole.log('SQL length:', Array.isArray(sqlResult) ? sqlResult.length : 'not array');\n\n// Проверяем что SQL вернул\nlet appealRow = null;\nlet appealFound = false;\n\nif (sqlResult) {\n  if (Array.isArray(sqlResult)) {\n    if (sqlResult.length > 0) {\n      appealRow = sqlResult[0];\n      appealFound = true;\n      console.log('✅ Appeal found! ID:', appealRow.id);\n    } else {\n      console.log('⚠️ No active appeal found (empty array)');\n    }\n  } else if (sqlResult.id) {\n    appealRow = sqlResult;\n    appealFound = true;\n    console.log('✅ Appeal found! ID:', appealRow.id);\n  } else if (sqlResult.success === true) {\n    console.log('⚠️ SQL returned success=true (no appeal)');\n  }\n}\n\n// КРИТИЧНО: Восстанавливаем ВСЕ базовые данные\nconst output = {\n  ...baseData,  // Все поля включая client, channel, text и т.д.\n  appeal_found: appealFound\n};\n\n// Если нашли appeal - добавляем его\nif (appealRow) {\n  output.appeal = {\n    id: appealRow.id,\n    stage: appealRow.stage,\n    phone_model: appealRow.phone_model,\n    model_id: appealRow.model_id,\n    brand_id: appealRow.brand_id,\n    repair_type_id: appealRow.repair_type_id,\n    problem_description: appealRow.problem_description,\n    operation_mode: appealRow.operation_mode,\n    estimated_cost: appealRow.estimated_cost,\n    estimated_time: appealRow.estimated_time,\n    parts_owner: appealRow.parts_owner,\n    is_new: false\n  };\n}\n\nconsole.log('✅ Output client.id:', output.client?.id);\nconsole.log('Appeal found:', output.appeal_found);\nconsole.log('Appeal ID:', output.appeal?.id);\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        240
      ],
      "id": "ef3b3287-ffb8-49c5-8c50-c84eb8e046ef",
      "name": "Merge After Find"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH vals AS (\n  SELECT\n    '{{ $json.client?.id || \"\" }}' AS client_id_text,\n    '{{ $json.tenant_id }}' AS tenant_id_text\n),\nv AS (\n  SELECT \n    CASE\n      WHEN client_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'\n        THEN client_id_text::uuid\n      ELSE NULL\n    END AS client_id,\n    CASE\n      WHEN tenant_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'\n        THEN tenant_id_text::uuid\n      ELSE NULL\n    END AS tenant_id\n  FROM vals\n)\nSELECT a.id, a.stage, a.phone_model, a.model_id, a.problem_description, a.created_at, a.operation_mode\nFROM appeals a\nJOIN v ON v.client_id IS NOT NULL\nWHERE a.client_id = v.client_id\n  AND a.tenant_id = v.tenant_id\n  AND a.stage NOT IN ('Завершено', 'Отменено')\n  AND a.created_at > NOW() - INTERVAL '7 days'\nORDER BY a.created_at DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "bfaa9703-6fc1-4f7c-8458-b628b1562e79",
      "name": "Find Active Appeal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1520,
        64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "appeal-found",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.appeal_found }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "15bcbd88-d125-40e7-a8d8-e2f6bfdd931c",
      "name": "Appeal Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -704,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO appeals (\n    tenant_id,\n    client_id,\n    device_type_id,\n    brand_id,\n    repair_type_id,\n    ad_channel_id,\n    ad_id,\n    stage,\n    operation_mode,\n    created_at\n  )\n  VALUES (\n    '{{ $json.tenant_id }}'::uuid,\n    '{{ $json.client.id }}'::uuid,\n    NULL,\n    NULL,\n    NULL,\n    (SELECT id FROM channels WHERE code = '{{ $json.channel }}' LIMIT 1),\n    NULLIF('{{ $json.meta.ad_id }}', ''),\n    'Первичный контакт',\n    (SELECT COALESCE(operation_mode, 'assist') FROM tenants WHERE id = '{{ $json.tenant_id }}'::uuid),\n    NOW()\n  )\n  RETURNING *;",
        "options": {}
      },
      "id": "7097cc5a-ffa7-41ce-afee-dc30c084ea75",
      "name": "Create New Appeal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -288,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ИСПРАВЛЕННЫЙ КОД для узла \"Merge Existing Appeal\" в BAT Appeal Manager\n// Проблема: код искал appealRow.id, но appeal находится в appealRow.appeal.id\n\nconst inputData = $input.first()?.json || {};\n\nconsole.log('═══ MERGE EXISTING APPEAL ═══');\nconsole.log('Input keys:', Object.keys(inputData));\nconsole.log('Has appeal?', !!inputData.appeal);\nconsole.log('Appeal ID:', inputData.appeal?.id);\n\n// ИСПРАВЛЕНО: appeal уже есть в inputData.appeal (от Merge After Find1)\nconst existingAppeal = inputData.appeal;\n\nif (!existingAppeal || !existingAppeal.id) {\n  console.error('❌ No appeal in input!');\n  console.error('Input:', JSON.stringify(inputData, null, 2));\n  throw new Error('Appeal not found in input from Merge After Find1');\n}\n\nconsole.log('✅ Using existing appeal:', existingAppeal.id);\n\n// Формируем выход - пробрасываем все данные с appeal\nreturn {\n  ...inputData,\n  appeal: {\n    id: existingAppeal.id,\n    stage: existingAppeal.stage || 'Первичный контакт',\n    phone_model: existingAppeal.phone_model || null,\n    model_id: existingAppeal.model_id || null,\n    brand_id: existingAppeal.brand_id || null,\n    repair_type_id: existingAppeal.repair_type_id || null,\n    problem_description: existingAppeal.problem_description || null,\n    operation_mode: existingAppeal.operation_mode || 'assist',\n    estimated_cost: existingAppeal.estimated_cost || null,\n    estimated_time: existingAppeal.estimated_time || null,\n    parts_owner: existingAppeal.parts_owner || null,\n    is_new: false\n  }\n};\n"
      },
      "id": "8f5d69e5-3c42-4578-bed9-ac5ce1ba5ca7",
      "name": "Merge Existing Appeal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Безопасный доступ\nfunction fromNode(name) {\n  try {\n    const arr = $items(name);\n    return (arr && arr.length > 0) ? (arr[0].json || null) : null;\n  } catch (e) {\n    return null;\n  }\n}\n\n// Входные данные\nconst inMessage = fromNode('Execute Workflow Trigger') || fromNode('Webhook Trigger1') || $input.first()?.json || {};\nconst sqlResult = $input.first()?.json; // SQL результат\n\nconsole.log('=== MERGE NEW APPEAL DEBUG ===');\nconsole.log('Type of sqlResult:', typeof sqlResult);\nconsole.log('Is array:', Array.isArray(sqlResult));\nconsole.log('Full SQL result:', JSON.stringify(sqlResult, null, 2));\n\nfunction pick(existing, ...cands) {\n  if (existing !== undefined && existing !== null && `${existing}` !== '') return existing;\n  for (const c of cands) {\n    if (c !== undefined && c !== null && `${c}` !== '') return c;\n  }\n  return existing ?? null;\n}\n\n// КРИТИЧНО: Если SQL вернул массив - берем первый элемент!\nlet appealRow = sqlResult;\nif (Array.isArray(sqlResult)) {\n  console.log('SQL returned array with length:', sqlResult.length);\n  appealRow = sqlResult[0];\n}\n\nconsole.log('appealRow after processing:', JSON.stringify(appealRow, null, 2));\nconsole.log('appealRow.id:', appealRow?.id);\n\n// Проверка что данные есть\nif (!appealRow) {\n  console.error('❌ ERROR: No appeal data from SQL!');\n  throw new Error('No appeal data returned from SQL');\n}\n\nif (!appealRow.id) {\n  console.error('❌ ERROR: Appeal has no ID!');\n  console.error('Available fields:', Object.keys(appealRow));\n  throw new Error('Appeal ID is missing from SQL result');\n}\n\n// Сохраняем все поля из входных данных\nconst src = inMessage;\nconst prop = src.propertyName || {};\nconst meta = prop.meta || {};\nconst raw = meta.raw || {};\n\nconst channel = pick(src.channel, prop.channel, meta.ad_channel);\nconst external_chat_id = pick(src.external_chat_id, prop.external_chat_id, raw.chat?.id?.toString());\nconst external_user_id = pick(src.external_user_id, prop.external_user_id, raw.from?.id?.toString());\nconst external_message_id = pick(src.external_message_id, prop.external_message_id, meta.external_message_id, raw.message_id?.toString());\nconst timestamp = pick(src.timestamp, prop.timestamp, meta.timestamp, raw.date ? new Date(raw.date * 1000).toISOString() : null);\nconst text = pick(src.text, prop.text, raw.text);\n\n// Клиент (пробрасываем)\nconst client = src.client || {};\n\n// Appeal из SQL результата (КРИТИЧНО!)\nconst appeal = {\n  id: appealRow.id,                                    // UUID из БД\n  stage: appealRow.stage || 'Первичный контакт',\n  phone_model: appealRow.phone_model || null,\n  model_id: appealRow.model_id || null,\n  brand_id: appealRow.brand_id || null,\n  repair_type_id: appealRow.repair_type_id || null,\n  problem_description: appealRow.problem_description || null,\n  operation_mode: appealRow.operation_mode || 'assist',\n  estimated_cost: appealRow.estimated_cost || null,\n  estimated_time: appealRow.estimated_time || null,\n  parts_owner: appealRow.parts_owner || null,\n  is_new: true  // ← Для NEW appeal!\n};\n\nconsole.log('✅ Appeal object created with ID:', appeal.id);\n\n// Итог\nconst out = {\n  ...src,\n  ...(channel != null ? { channel } : {}),\n  ...(external_chat_id != null ? { external_chat_id } : {}),\n  ...(external_user_id != null ? { external_user_id } : {}),\n  ...(external_message_id != null ? { external_message_id } : {}),\n  ...(timestamp != null ? { timestamp } : {}),\n  ...(text ? { text } : {}),\n  client: client,\n  appeal: appeal  // ← ВОТ ГЛАВНОЕ!\n};\n\nif (out.success === undefined) out.success = true;\n\nconsole.log('=== OUTPUT ===');\nconsole.log('out.appeal.id:', out.appeal.id);\n\nreturn out;"
      },
      "id": "9652dc18-1afa-46b7-9033-79ecdeb6b910",
      "name": "Merge New Appeal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH vals AS (\n  SELECT\n    '{{ $json.tenant_id || \"\" }}'            AS tenant_id_text,\n    '{{ $json.appeal?.id || \"\" }}'           AS appeal_id_text,\n    '{{ $json.message_type || $json.role || \"client\" }}' AS message_type_text,\n    '{{ $json.text || \"\" }}'                 AS message_text,\n    '{{ $json.channel || \"\" }}'              AS channel_code,\n    '{{ $json.external_message_id || \"\" }}'  AS ext_msg_id,\n    '{{ $json.external_chat_id || \"\" }}'     AS ext_chat_id\n),\nvalidated AS (\n  SELECT\n    CASE\n      WHEN tenant_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'\n        THEN tenant_id_text::uuid\n      ELSE NULL\n    END AS tenant_id,\n    CASE\n      WHEN appeal_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'\n        THEN appeal_id_text::uuid\n      ELSE NULL\n    END AS appeal_id,\n    NULLIF(message_type_text,'') AS message_type,\n    NULLIF(message_text,'')      AS message_text,\n    NULLIF(channel_code,'')      AS channel_code,\n    NULLIF(ext_msg_id,'')        AS ext_msg_id,\n    NULLIF(ext_chat_id,'')       AS ext_chat_id\n  FROM vals\n),\nrefs AS (\n  SELECT\n    v.tenant_id,\n    v.appeal_id,\n    v.message_type,\n    v.message_text,\n    (SELECT id FROM channels WHERE code = v.channel_code LIMIT 1) AS channel_id,\n    v.channel_code,\n    v.ext_msg_id,\n    v.ext_chat_id\n  FROM validated v\n)\nINSERT INTO messages_history (\n  tenant_id,\n  appeal_id,\n  message_type,\n  message_text,\n  channel,\n  channel_id,\n  external_message_id,\n  external_chat_id\n)\nSELECT\n  r.tenant_id,\n  r.appeal_id,\n  COALESCE(r.message_type, 'client'),\n  COALESCE(r.message_text, ''),\n  r.channel_code,\n  r.channel_id,\n  r.ext_msg_id,\n  r.ext_chat_id\nFROM refs r\nWHERE r.appeal_id IS NOT NULL AND r.tenant_id IS NOT NULL\nRETURNING *;",
        "options": {}
      },
      "id": "5a4401bb-f7d2-4260-98ad-1713981571c0",
      "name": "Save Message History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        112,
        144
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "=Flhmu33l0ZhZhr90",
        "options": {}
      },
      "id": "8c0ed5b6-450e-48b6-9be4-677259c6a3af",
      "name": "Execute AI Extractor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        704,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"appeal_id\": $json.appeal.id } }}",
        "options": {}
      },
      "id": "3897dbb3-1598-441c-908c-c0a62ab02b2e",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        944,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// ИСПРАВЛЕННЫЙ КОД для узла \"Prepare Contract1\" в BAT Appeal Manager\n// Проблема: имена узлов были с \"1\" на конце, но реальные имена без \"1\"\n\n// Безопасный доступ к данным нод по имени\nfunction fromNode(name) {\n  try {\n    const arr = $items(name);\n    return (arr && arr.length > 0) ? (arr[0].json || null) : null;\n  } catch (e) {\n    return null;\n  }\n}\n\nconst input = $input.first()?.json || {};\n\n// ИСПРАВЛЕНО: убрали \"1\" из имён узлов\nconst src =\n  fromNode('Merge Existing Appeal') ??\n  fromNode('Merge New Appeal') ??\n  fromNode('Execute Workflow Trigger') ??\n  input;\n\n// Универсальная выборка: берём существующее, иначе первый непустой кандидат\nfunction pick(existing, ...cands) {\n  if (existing !== undefined && existing !== null && `${existing}` !== '') return existing;\n  for (const c of cands) {\n    if (c !== undefined && c !== null && `${c}` !== '') return c;\n  }\n  return existing ?? null;\n}\n\n// Источники «истины» в вашем формате\nconst prop = src.propertyName || {};\nconst meta = prop.meta || {};\nconst raw  = meta.raw || {};\n\n// Канал и идентификаторы\nconst channel              = pick(src.channel,              prop.channel,              meta.ad_channel);\nconst external_chat_id     = pick(src.external_chat_id,     prop.external_chat_id,     raw.chat?.id?.toString());\nconst external_user_id     = pick(src.external_user_id,     prop.external_user_id,     raw.from?.id?.toString());\nconst external_message_id  = pick(src.external_message_id,  prop.external_message_id,  meta.external_message_id, raw.message_id?.toString());\nconst timestamp            = pick(src.timestamp,            prop.timestamp,            meta.timestamp, raw.date ? new Date(raw.date * 1000).toISOString() : null);\n\n// Текст\nlet text = (src.text ?? '').trim();\nif (!text) text = prop.text || raw.text || '';\n\n// Клиент (не затираем уже мерженный)\nconst clientSrc = src.client || {};\nconst client = { ...clientSrc };\n\n// Апелляция (если есть) - ВАЖНО!\nconst appealSrc = src.appeal || {};\nconst appealIn = input;\n\n// КРИТИЧНО: Создаем appeal ТОЛЬКО если есть id!\nlet appeal = null;\nconst appealId = pick(\n  appealSrc.id,\n  appealIn.appeal_id,\n  appealIn.id\n);\n\nif (appealId) {\n  appeal = {\n    id: appealId,\n    stage: pick(appealSrc.stage, appealIn.stage),\n    phone_model: pick(appealSrc.phone_model, appealIn.phone_model),\n    model_id: pick(appealSrc.model_id, appealIn.model_id),\n    brand_id: pick(appealSrc.brand_id, appealIn.brand_id),\n    repair_type_id: pick(appealSrc.repair_type_id, appealIn.repair_type_id),\n    problem_description: pick(appealSrc.problem_description, appealIn.problem_description),\n    operation_mode: pick(appealSrc.operation_mode, appealIn.operation_mode, 'assist'),\n    estimated_cost: pick(appealSrc.estimated_cost, appealIn.estimated_cost),\n    estimated_time: pick(appealSrc.estimated_time, appealIn.estimated_time),\n    parts_owner: pick(appealSrc.parts_owner, appealIn.parts_owner),\n    is_new: pick(appealSrc.is_new, appealIn.is_new)\n  };\n\n  console.log('✅ Appeal exists with ID:', appealId);\n} else {\n  console.log('⚠️ No appeal ID found - appeal will be created later');\n}\n\n// Итог без дублей и без перезаписи\nconst out = {\n  ...src,\n  ...(channel != null ? { channel } : {}),\n  ...(external_chat_id != null ? { external_chat_id } : {}),\n  ...(external_user_id != null ? { external_user_id } : {}),\n  ...(external_message_id != null ? { external_message_id } : {}),\n  ...(timestamp != null ? { timestamp } : {}),\n  ...(text ? { text } : {}),\n  ...(Object.keys(client).length ? { client } : {}),\n  ...(appeal ? { appeal, appeal_id: appeal.id } : {})\n};\n\nif (out.success === undefined) out.success = true;\n\nconsole.log('=== PREPARE CONTRACT OUTPUT ===');\nconsole.log('Has appeal:', !!out.appeal);\nconsole.log('Appeal ID:', out.appeal?.id);\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        144
      ],
      "id": "1ee813e0-8623-42ee-ad4a-70ef3af1b8b7",
      "name": "Prepare Contract1"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\n  console.log('═══ MERGE AFTER FIND1 (FIXED) ═══');\n  console.log('Total items from Merge:', allItems.length);\n\n  // Ищем base data (содержит client.id) и SQL результат (содержит appeal id)\n  let baseData = null;\n  let sqlResult = null;\n\n  for (const item of allItems) {\n    const json = item.json;\n    console.log('Item keys:', Object.keys(json || {}));\n\n    // Base data содержит client объект\n    if (json?.client?.id) {\n      baseData = json;\n      console.log('Found base data with client.id:', json.client.id);\n    }\n\n    // SQL результат содержит id обращения (но не client)\n    if (json?.id && !json?.client) {\n      sqlResult = json;\n      console.log('Found SQL result with appeal id:', json.id);\n    }\n  }\n\n  // Если base data не найдено в items, пробуем $('Attach Base')\n  if (!baseData) {\n    try {\n      baseData = $('Attach Base').first()?.json || {};\n      console.log('Got base data from $(\"Attach Base\")');\n    } catch (e) {\n      console.log('Could not access Attach Base:', e.message);\n      baseData = {};\n    }\n  }\n\n  console.log('Base client.id:', baseData?.client?.id);\n  console.log('SQL appeal id:', sqlResult?.id);\n\n  // Определяем найдено ли обращение\n  let appealRow = null;\n  let appealFound = false;\n\n  if (sqlResult && sqlResult.id) {\n    appealRow = sqlResult;\n    appealFound = true;\n    console.log('✅ Appeal found! ID:', appealRow.id);\n  } else {\n    console.log('⚠️ No active appeal found');\n  }\n\n  // Формируем выход\n  const output = {\n    ...baseData,\n    appeal_found: appealFound\n  };\n\n  // Если нашли appeal - добавляем его\n  if (appealRow) {\n    output.appeal = {\n      id: appealRow.id,\n      stage: appealRow.stage,\n      phone_model: appealRow.phone_model,\n      model_id: appealRow.model_id,\n      brand_id: appealRow.brand_id,\n      repair_type_id: appealRow.repair_type_id,\n      problem_description: appealRow.problem_description,\n      operation_mode: appealRow.operation_mode,\n      estimated_cost: appealRow.estimated_cost,\n      estimated_time: appealRow.estimated_time,\n      parts_owner: appealRow.parts_owner,\n      is_new: false\n    };\n  }\n\n  console.log('✅ Output client.id:', output.client?.id);\n  console.log('Appeal found:', output.appeal_found);\n  console.log('Appeal ID:', output.appeal?.id);\n\n  return output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        144
      ],
      "id": "759d0783-1973-497d-bdea-e1a8e36dfb69",
      "name": "Merge After Find1"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Attach Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Base": {
      "main": [
        [
          {
            "node": "Find Active Appeal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge After Find1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Find": {
      "main": [
        [
          {
            "node": "Create New Appeal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Active Appeal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appeal Exists?": {
      "main": [
        [
          {
            "node": "Merge Existing Appeal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge After Find",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Appeal": {
      "main": [
        [
          {
            "node": "Merge New Appeal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Existing Appeal": {
      "main": [
        [
          {
            "node": "Save Message History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge New Appeal": {
      "main": [
        [
          {
            "node": "Save Message History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Message History": {
      "main": [
        [
          {
            "node": "Prepare Contract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute AI Extractor": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Contract1": {
      "main": [
        [
          {
            "node": "Execute AI Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Find1": {
      "main": [
        [
          {
            "node": "Appeal Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-23T04:04:01.292Z",
      "createdAt": "2025-11-23T04:04:01.292Z",
      "id": "eiI07cPEeFxzR69p",
      "name": "Core"
    }
  ],
  "updatedAt": "2025-11-29T09:52:30.000Z",
  "createdAt": "2025-11-27T10:38:45.060Z"
}