n8n_workflows/Core/BAT_AI_Appeal_Router.json
{
  "id": "Flhmu33l0ZhZhr90",
  "name": "BAT AI Appeal Router",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "f8b1cead-3e51-4751-a529-ee1a63e290d5",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2448,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  a.*,\n  b.name as brand_name,\n  m.name as model_name,\n  c.phone as client_phone,\n  c.name as client_name,\n  COALESCE(\n    (SELECT json_agg(json_build_object(\n      'timestamp', mh.created_at,\n      'is_client', CASE WHEN mh.message_type = 'client' THEN true ELSE false END,\n      'text', mh.message_text\n    ) ORDER BY mh.created_at ASC)\n    FROM messages_history mh \n    WHERE mh.appeal_id = a.id),\n    '[]'::json\n  ) as messages,\n  COALESCE(\n    (SELECT json_agg(json_build_object(\n      'id', ad.id,\n      'device_index', ad.device_index,\n      'brand_id', ad.brand_id,\n      'brand_name', db.name,\n      'model_id', ad.model_id,\n      'model_name', dm.name,\n      'owner_label', ad.owner_label,\n      'repairs', (SELECT json_agg(json_build_object(\n        'id', ar.id,\n        'category_id', ar.repair_category_id,\n        'category_name', rc.name\n      )) FROM appeal_repairs ar LEFT JOIN repair_categories rc ON rc.id = ar.repair_category_id WHERE ar.appeal_device_id = ad.id)\n    ) ORDER BY ad.device_index)\n    FROM appeal_devices ad\n    LEFT JOIN brands db ON db.id = ad.brand_id\n    LEFT JOIN models dm ON dm.id = ad.model_id\n    WHERE ad.appeal_id = a.id),\n    '[]'::json\n  ) as devices\nFROM appeals a\nLEFT JOIN brands b ON b.id = a.brand_id AND b.tenant_id = a.tenant_id\nLEFT JOIN models m ON m.id = a.model_id AND m.tenant_id = a.tenant_id\nLEFT JOIN clients c ON c.id = a.client_id AND c.tenant_id = a.tenant_id\nWHERE a.id = '{{ $json.appeal.id }}'::uuid\n  AND a.tenant_id = '{{ $json.tenant_id }}'::uuid;",
        "options": {}
      },
      "id": "55241a03-4bdf-47ba-b795-10e1425b60f6",
      "name": "Load Appeal & Devices",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2160,
        -96
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  field_name,\n  is_required,\n  collection_order,\n  tool_name as extraction_prompt\nFROM context_fields_config\nWHERE tenant_id = '{{ $json.tenant_id }}'::uuid\n  AND (deal_type_id IS NULL)\n  AND is_active = true\nORDER BY collection_order ASC;",
        "options": {}
      },
      "id": "cc020142-56b0-4f0c-8735-9947a5e57f28",
      "name": "Load Fields Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2160,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge Appeal Data + Fields Config\nlet appealData = null;\nlet fieldsConfig = [];\nlet inputData = null;\n\ntry {\n  inputData = $('Execute Workflow Trigger').first()?.json || {};\n} catch (e) {\n  inputData = {};\n}\n\ntry {\n  appealData = $('Load Appeal & Devices').first()?.json || null;\n} catch (e) {\n  console.error('Could not get appeal data:', e.message);\n}\n\ntry {\n  const fieldsItems = $('Load Fields Config').all();\n  fieldsConfig = fieldsItems.map(item => item.json);\n} catch (e) {\n  console.error('Could not get fields config:', e.message);\n}\n\nif (!appealData || !appealData.id) {\n  throw new Error('Appeal data not loaded!');\n}\n\nreturn {\n  ...appealData,\n  text: inputData.text,\n  channel: inputData.channel || appealData.channel,\n  external_chat_id: inputData.external_chat_id,\n  external_user_id: inputData.external_user_id,\n  fields_config: fieldsConfig,\n  appeal: {\n    id: appealData.id,\n    tenant_id: appealData.tenant_id,\n    client_id: appealData.client_id,\n    stage: appealData.stage,\n    channel: appealData.channel || inputData.channel,\n    operation_mode: appealData.operation_mode\n  }\n};"
      },
      "id": "10dc9157-0fc3-40f8-9291-ef1dd33d63d7",
      "name": "Merge Appeal & Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare context with device disambiguation, conversation focus, and completeness check\nconst data = $input.first().json;\nconst devices = data.devices || [];\nconst appeal = data;\nconst history = data.messages || [];\nconst fieldsConfig = data.fields_config || [];\nconst text = data.text || '';\n\nconst currentFocus = appeal.conversation_focus || {};\nconst lastDeviceId = appeal.last_mentioned_device_id;\nconst lastRepairId = appeal.last_mentioned_repair_id;\n\nconst groups = {};\ndevices.forEach(d => {\n  const key = `${d.brand_name || ''} ${d.model_name || ''}`.trim();\n  if (!groups[key]) groups[key] = [];\n  groups[key].push(d);\n});\n\nlet needsDisambiguation = false;\nlet disambiguationInfo = '';\nlet ambiguousDevices = [];\n\nfor (const [model, devs] of Object.entries(groups)) {\n  if (devs.length > 1) {\n    const withoutRepairs = devs.filter(d => !d.repairs || d.repairs.length === 0);\n    if (withoutRepairs.length > 1) {\n      needsDisambiguation = true;\n      disambiguationInfo += `Несколько ${model} (${devs.length} шт). `;\n      ambiguousDevices.push(...devs.map(d => d.id));\n    }\n  }\n}\n\nlet focusDeviceId = lastDeviceId;\nlet focusRepairId = lastRepairId;\nlet focusDeviceOrder = currentFocus.device_order || 1;\n\nif (devices.length === 1) {\n  focusDeviceId = devices[0].id;\n  focusDeviceOrder = devices[0].device_order || 1;\n  if (devices[0].repairs && devices[0].repairs.length === 1) {\n    focusRepairId = devices[0].repairs[0].id;\n  }\n}\n\nif (!focusDeviceId && devices.length > 0) {\n  focusDeviceId = devices[0].id;\n  focusDeviceOrder = devices[0].device_order || 1;\n}\n\nconst deviceList = devices.map((d, i) => {\n  const isFocused = d.id === focusDeviceId ? ' ← В ФОКУСЕ' : '';\n  const repairs = d.repairs?.map(r => r.category_name || r.repair_type).join(', ') || 'нет ремонтов';\n  const ownerLabel = d.owner_label ? ` (${d.owner_label})` : '';\n  return `#${d.device_order || i+1}: ${d.brand_name || '?'} ${d.model_name || '?'}${ownerLabel} - ${repairs}${isFocused}`;\n}).join('\\n');\n\nconst firstDevice = devices[0] || {};\nconst firstRepair = firstDevice.repairs?.[0] || {};\n\nconst currentState = {\n  brand: appeal.brand_name || firstDevice.brand_name || null,\n  brand_id: appeal.brand_id || firstDevice.brand_id || null,\n  model: appeal.model_name || firstDevice.model_name || null,\n  model_id: appeal.model_id || firstDevice.model_id || null,\n  repair_category: firstRepair.category_name || null,\n  repair_category_id: firstRepair.category_id || null\n};\n\nconst fieldMapping = {\n  'brand': 'brand_id',\n  'model': 'model_id',\n  'repair_type': 'repair_category_id',\n  'repair_category': 'repair_category_id',\n  'type': 'repair_category_id'\n};\n\nconst requiredFields = fieldsConfig.filter(f => f.is_required);\nconst missingFields = [];\nlet filledCount = 0;\n\nfor (const field of requiredFields) {\n  const stateKey = fieldMapping[field.field_name] || field.field_name;\n  if (currentState[stateKey]) {\n    filledCount++;\n  } else {\n    missingFields.push(field.field_name);\n  }\n}\n\nconst totalRequired = requiredFields.length || 1;\nconst completionPercentage = Math.round((filledCount / totalRequired) * 100);\nconst isComplete = missingFields.length === 0 && devices.length > 0 && firstDevice.brand_id && firstRepair.category_id;\n\nconst newFocus = {\n  device_id: focusDeviceId,\n  repair_id: focusRepairId,\n  device_order: focusDeviceOrder,\n  updated_at: new Date().toISOString()\n};\n\nreturn {\n  json: {\n    ...data,\n    appeal: data.appeal,\n    devices,\n    deviceList,\n    history,\n    text,\n    needsDisambiguation,\n    disambiguationInfo,\n    ambiguousDevices,\n    deviceCount: devices.length,\n    conversation_focus: newFocus,\n    focus_device_id: focusDeviceId,\n    focus_repair_id: focusRepairId,\n    focus_device_order: focusDeviceOrder,\n    is_complete: isComplete,\n    completion_percentage: completionPercentage,\n    missing_fields: missingFields,\n    current_state: currentState,\n    extracted_data: currentState,\n    fields_config: fieldsConfig\n  }\n};"
      },
      "id": "f196b5ec-686e-4612-9f19-5a6a7970d3c1",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "needs-extraction",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_complete }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "e60b0e2d-02e0-491d-a282-0a9b88968046",
      "name": "Needs Extraction?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1440,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aEzuOXgpLBTNZ4ie",
          "mode": "list",
          "cachedResultUrl": "/workflow/aEzuOXgpLBTNZ4ie",
          "cachedResultName": "BAT AI Task Dispatcher"
        },
        "options": {}
      },
      "id": "0c38d6d7-0150-41cf-b80d-81d9ae90e546",
      "name": "Call Task Dispatcher",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -1200,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const context = $input.first().json;\nreturn {\n  action: 'skip_extraction',\n  ...context,\n  total_tasks: 0,\n  completed: 0,\n  elapsed_ms: 0\n};"
      },
      "id": "c3b20e9b-3e87-4674-b493-683aa4237a71",
      "name": "Skip Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge Results - объединяем результаты из Task Dispatcher или Skip Extraction\nconst items = $input.all();\n\nif (items.length === 0) {\n  try {\n    const ctx = $('Prepare Context').first()?.json;\n    if (ctx) return ctx;\n  } catch (e) {}\n  return [];\n}\n\nconst result = items[0].json;\n\nlet context = null;\ntry {\n  context = $('Prepare Context').first()?.json;\n} catch (e) {}\n\nif (context && result.action !== 'skip_extraction') {\n  const merged = {\n    ...context,\n    ...result,\n    dispatcher_result: result\n  };\n  \n  if (result.extracted_data) {\n    merged.extracted_data = {\n      ...context.extracted_data,\n      ...result.extracted_data\n    };\n  }\n  \n  return merged;\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        0
      ],
      "id": "51524b7b-6fbe-427c-aabe-b5d2b385298b",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.n8nsrv.ru/webhook/neo4j/context",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  action: 'match_entities',\n  client_id: $json.appeal?.client_id || $json.client_id,\n  extracted: {\n    brand: $json.extracted_data?.brand || null,\n    model: $json.extracted_data?.model || null,\n    owner_label: $json.extracted_data?.owner_label || null,\n    problem_type: $json.extracted_data?.repair_category || null\n  },\n  current_focus: $json.conversation_focus || {}\n}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "7b49e17a-65ee-4bcd-a80b-aca5d5b30354",
      "name": "Call Graph Matcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Process Match Result - обрабатываем результат матчинга с графом\nconst data = $input.first().json;\nlet matchResult = null;\n\n// Пытаемся получить результат матчинга\ntry {\n  const matcherResponse = $('Call Graph Matcher').first()?.json;\n  if (matcherResponse && matcherResponse.device) {\n    matchResult = matcherResponse;\n  }\n} catch (e) {\n  console.log('Could not get matcher response:', e.message);\n}\n\n// Если матчинг не сработал, используем fallback\nif (!matchResult) {\n  matchResult = {\n    device: {\n      action: 'create_new',\n      matched_id: null\n    },\n    problem: {\n      action: 'create_new',\n      matched_id: null\n    },\n    needs_clarification: false,\n    clarification_message: null\n  };\n}\n\n// Получаем контекст из Merge Results\nlet context = null;\ntry {\n  context = $('Merge Results').first()?.json || {};\n} catch (e) {\n  context = data;\n}\n\nconsole.log('=== PROCESS MATCH RESULT ===');\nconsole.log('Device action:', matchResult.device?.action);\nconsole.log('Matched device ID:', matchResult.device?.matched_id);\nconsole.log('Problem action:', matchResult.problem?.action);\nconsole.log('Needs clarification:', matchResult.needs_clarification);\n\nreturn {\n  json: {\n    ...context,\n    match_result: matchResult,\n    device_action: matchResult.device?.action || 'create_new',\n    matched_device_id: matchResult.device?.matched_id || null,\n    problem_action: matchResult.problem?.action || 'create_new',\n    matched_problem_id: matchResult.problem?.matched_id || null,\n    needs_clarification: matchResult.needs_clarification || false,\n    clarification_message: matchResult.clarification_message || null\n  }\n};"
      },
      "id": "362be99b-6507-4bce-a831-2893cedcfd84",
      "name": "Process Match Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build AI context string for the LLM\nconst data = $input.first().json;\nconst { appeal, devices, deviceList, history, needsDisambiguation, disambiguationInfo, text, missing_fields, needs_clarification, clarification_message } = data;\n\nlet context = '';\n\n// If need clarification from graph matcher\nif (needs_clarification && clarification_message) {\n  context += `⚠️ УТОЧНЕНИЕ: ${clarification_message}\\n\\n`;\n}\n\n// If need to clarify which device\nif (needsDisambiguation) {\n  context += `⚠️ УТОЧНИ УСТРОЙСТВО: ${disambiguationInfo}Спроси клиента какое именно устройство обсуждаем.\\n\\n`;\n}\n\ncontext += `Заявка #${appeal?.id || data.id}\\n`;\ncontext += `Канал: ${data.channel || appeal?.channel}\\n`;\nif (appeal?.conversation_context) context += `Контекст: ${appeal.conversation_context}\\n`;\n\nif (deviceList) {\n  context += `\\nУстройства клиента:\\n${deviceList}\\n`;\n} else {\n  context += `\\nУстройств пока нет\\n`;\n}\n\nif (missing_fields && missing_fields.length > 0) {\n  context += `\\nНужно уточнить: ${missing_fields.join(', ')}\\n`;\n}\n\nif (history && history.length > 0) {\n  const recent = history.slice(-5);\n  context += `\\nИстория (последние ${recent.length}):\\n`;\n  recent.forEach(h => {\n    const sender = h.is_client ? 'Клиент' : 'Мы';\n    context += `[${sender}] ${h.text?.substring(0, 100) || ''}\\n`;\n  });\n}\n\nif (text) {\n  context += `\\nТекущее сообщение клиента: \"${text}\"\\n`;\n}\n\nreturn { \n  json: { \n    ...data,\n    context,\n    chatInput: text || 'Здравствуйте'\n  } \n};"
      },
      "id": "fa2bc7e0-54f9-4ff8-aa4d-ab29b981d5a8",
      "name": "Build AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.context }}\n\nСообщение клиента: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "Ты — дружелюбный ассистент сервисного центра по ремонту телефонов.\n\nПРАВИЛА:\n1. Будь кратким и по делу (2-3 предложения максимум)\n2. НЕ используй markdown\n3. Говори естественным разговорным языком\n4. Если что-то не хватает - вежливо попроси уточнить\n5. Если всё заполнено - предложи рассчитать стоимость\n6. НЕ повторяй всю информацию - только подтверди ключевое\n\nПРИМЕРЫ ОТВЕТОВ:\n- \"Понял, ремонт iPhone 12 Pro. Что именно нужно починить?\"\n- \"Замена дисплея на iPhone 14, запчасть наша. Сейчас рассчитаю стоимость.\"\n- \"Здравствуйте! Чем могу помочь?\"\n- \"Это второй телефон к заявке или замена первого?\""
        }
      },
      "id": "023730e6-25d6-4ae4-a8eb-1d86c9849d3a",
      "name": "AI Response Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 300,
          "temperature": 0.7
        }
      },
      "id": "fba2eba4-68cf-4df7-a4d8-fdc21598d0d9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -80,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare Response - финальная подготовка ответа\nconst context = $('Build AI Context').first().json;\nconst aiResponse = $input.first().json;\n\nconst responseText = aiResponse.output || aiResponse.text || 'Здравствуйте! Чем могу помочь?';\n\nconst extracted_data = context.extracted_data || {};\nconst missing_fields = context.missing_fields || [];\n\nlet nextAction = 'continue';\nif (context.is_complete) {\n  nextAction = 'calculate_cost';\n} else if (missing_fields.length > 0) {\n  nextAction = 'wait_clarification';\n}\n\nlet route = 'minimal';\nif (extracted_data.brand_id && extracted_data.model_id && extracted_data.repair_category_id) {\n  route = 'full';\n} else if (extracted_data.brand_id || extracted_data.model_id) {\n  route = 'partial';\n}\n\nconst operationMode = context.appeal?.operation_mode || context.operation_mode || 'assist';\nconst appeal_id = context.appeal?.id || context.id;\nconst tenant_id = context.tenant_id || context.appeal?.tenant_id;\n\nreturn {\n  appeal_id: appeal_id,\n  tenant_id: tenant_id,\n  channel: context.channel || context.appeal?.channel,\n  external_chat_id: context.external_chat_id,\n  client_name: context.client_name,\n  response_text: responseText,\n  next_action: nextAction,\n  route: route,\n  extracted_data: extracted_data,\n  completion_percentage: context.completion_percentage || 0,\n  dispatcher_result: context.dispatcher_result,\n  devices: context.devices,\n  device_count: context.deviceCount || 0,\n  conversation_focus: context.conversation_focus,\n  focus_device_id: context.focus_device_id,\n  focus_repair_id: context.focus_repair_id,\n  operation_mode: operationMode,\n  \n  // Match result data for SQL\n  device_action: context.device_action || 'create_new',\n  matched_device_id: context.matched_device_id || null,\n  problem_action: context.problem_action || 'create_new',\n  matched_problem_id: context.matched_problem_id || null,\n  \n  approval_data: {\n    channel: context.channel,\n    external_chat_id: context.external_chat_id,\n    appeal_id: appeal_id,\n    client_name: context.client_name,\n    response_text: responseText,\n    next_action: nextAction,\n    appeal: context.appeal,\n    extracted_data: extracted_data,\n    operation_mode: operationMode,\n    completeness: {\n      percentage: context.completion_percentage || 0,\n      missing: missing_fields\n    }\n  }\n};"
      },
      "id": "4c0bc550-cf89-4efe-8ac3-1cd53bb89eaa",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "full",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "full"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "partial",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "partial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "minimal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "minimal"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "08b25797-b161-43f7-883f-1e615b29c647",
      "name": "Route by Completeness",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        576,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Full update with Graph Matcher: use_existing or create_new\nDO $$\nDECLARE\n  v_device_id uuid;\n  v_repair_id uuid;\nBEGIN\n  -- Device: use existing or create new\n  IF '{{ $json.device_action }}' = 'use_existing' AND '{{ $json.matched_device_id }}' != '' AND '{{ $json.matched_device_id }}' != 'null' THEN\n    -- Use existing device from graph\n    v_device_id := '{{ $json.matched_device_id }}'::uuid;\n    \n    -- Update device if needed (only model/brand if missing)\n    UPDATE appeal_devices \n    SET \n      brand_id = COALESCE(brand_id, {{ $json.extracted_data.brand_id ? \"'\" + $json.extracted_data.brand_id + \"'::uuid\" : 'NULL' }}),\n      model_id = COALESCE(model_id, {{ $json.extracted_data.model_id ? \"'\" + $json.extracted_data.model_id + \"'::uuid\" : 'NULL' }}),\n      updated_at = NOW()\n    WHERE id = v_device_id;\n  ELSE\n    -- Create new device\n    INSERT INTO appeal_devices (appeal_id, tenant_id, device_order, brand_id, model_id, owner_label)\n    VALUES (\n      '{{ $json.appeal_id }}'::uuid,\n      '{{ $json.tenant_id }}'::uuid,\n      COALESCE((SELECT MAX(device_order) + 1 FROM appeal_devices WHERE appeal_id = '{{ $json.appeal_id }}'::uuid), 1),\n      {{ $json.extracted_data.brand_id ? \"'\" + $json.extracted_data.brand_id + \"'::uuid\" : 'NULL' }},\n      {{ $json.extracted_data.model_id ? \"'\" + $json.extracted_data.model_id + \"'::uuid\" : 'NULL' }},\n      {{ $json.extracted_data.owner_label ? \"'\" + $json.extracted_data.owner_label + \"'\" : 'NULL' }}\n    )\n    RETURNING id INTO v_device_id;\n  END IF;\n\n  -- Problem/Repair: use existing or create new\n  IF '{{ $json.problem_action }}' = 'use_existing' AND '{{ $json.matched_problem_id }}' != '' AND '{{ $json.matched_problem_id }}' != 'null' THEN\n    v_repair_id := '{{ $json.matched_problem_id }}'::uuid;\n  ELSIF {{ $json.extracted_data.repair_category_id ? 'true' : 'false' }} THEN\n    INSERT INTO appeal_repairs (appeal_id, appeal_device_id, tenant_id, repair_category_id)\n    VALUES (\n      '{{ $json.appeal_id }}'::uuid,\n      v_device_id,\n      '{{ $json.tenant_id }}'::uuid,\n      '{{ $json.extracted_data.repair_category_id }}'::uuid\n    )\n    RETURNING id INTO v_repair_id;\n  END IF;\n\n  -- Update appeal\n  UPDATE appeals \n  SET \n    updated_at = NOW(),\n    stage = 'Расчёт стоимости',\n    context_completion_percentage = {{ $json.completion_percentage }},\n    conversation_focus = '{{ JSON.stringify($json.conversation_focus || {}).replace(/'/g, \"''\") }}'::jsonb,\n    last_mentioned_device_id = v_device_id,\n    last_mentioned_repair_id = v_repair_id\n  WHERE id = '{{ $json.appeal_id }}'::uuid;\nEND $$;",
        "options": {}
      },
      "id": "3eafff72-0394-49b5-a3b5-4aae2afda56a",
      "name": "Update Full Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        800,
        -176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Partial update with Graph Matcher\nDO $$\nDECLARE\n  v_device_id uuid;\nBEGIN\n  -- Device: use existing or create new\n  IF '{{ $json.device_action }}' = 'use_existing' AND '{{ $json.matched_device_id }}' != '' AND '{{ $json.matched_device_id }}' != 'null' THEN\n    v_device_id := '{{ $json.matched_device_id }}'::uuid;\n    \n    UPDATE appeal_devices \n    SET \n      brand_id = COALESCE(brand_id, {{ $json.extracted_data.brand_id ? \"'\" + $json.extracted_data.brand_id + \"'::uuid\" : 'NULL' }}),\n      model_id = COALESCE(model_id, {{ $json.extracted_data.model_id ? \"'\" + $json.extracted_data.model_id + \"'::uuid\" : 'NULL' }}),\n      updated_at = NOW()\n    WHERE id = v_device_id;\n  ELSE\n    INSERT INTO appeal_devices (appeal_id, tenant_id, device_order, brand_id, model_id, owner_label)\n    VALUES (\n      '{{ $json.appeal_id }}'::uuid,\n      '{{ $json.tenant_id }}'::uuid,\n      COALESCE((SELECT MAX(device_order) + 1 FROM appeal_devices WHERE appeal_id = '{{ $json.appeal_id }}'::uuid), 1),\n      {{ $json.extracted_data.brand_id ? \"'\" + $json.extracted_data.brand_id + \"'::uuid\" : 'NULL' }},\n      {{ $json.extracted_data.model_id ? \"'\" + $json.extracted_data.model_id + \"'::uuid\" : 'NULL' }},\n      {{ $json.extracted_data.owner_label ? \"'\" + $json.extracted_data.owner_label + \"'\" : 'NULL' }}\n    )\n    RETURNING id INTO v_device_id;\n  END IF;\n\n  UPDATE appeals\n  SET\n    updated_at = NOW(),\n    context_completion_percentage = {{ $json.completion_percentage }},\n    conversation_focus = '{{ JSON.stringify($json.conversation_focus || {}).replace(/'/g, \"''\") }}'::jsonb,\n    last_mentioned_device_id = v_device_id,\n    last_mentioned_repair_id = {{ $json.focus_repair_id ? \"'\" + $json.focus_repair_id + \"'::uuid\" : 'last_mentioned_repair_id' }}\n  WHERE id = '{{ $json.appeal_id }}'::uuid;\nEND $$;",
        "options": {}
      },
      "id": "178ce769-ccc3-4066-8791-e22422609fbe",
      "name": "Update Partial Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        800,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Minimal update: timestamp, stage, conversation focus\nUPDATE appeals \nSET \n  updated_at = NOW(),\n  stage = COALESCE(stage, 'Сбор информации'),\n  context_completion_percentage = {{ $json.completion_percentage }},\n  conversation_focus = '{{ JSON.stringify($json.conversation_focus || {}).replace(/'/g, \"''\") }}'::jsonb,\n  last_mentioned_device_id = {{ $json.focus_device_id ? \"'\" + $json.focus_device_id + \"'::uuid\" : 'last_mentioned_device_id' }},\n  last_mentioned_repair_id = {{ $json.focus_repair_id ? \"'\" + $json.focus_repair_id + \"'::uuid\" : 'last_mentioned_repair_id' }}\nWHERE id = '{{ $json.appeal_id }}'::uuid;",
        "options": {}
      },
      "id": "61ca9318-9814-42be-bb3e-491a47efb936",
      "name": "Update Minimal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        800,
        176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let data = null;\n\ntry {\n  data = $('Prepare Response').first().json;\n} catch (e) {\n  const items = $input.all();\n  if (items.length > 0) {\n    data = items[0].json;\n  }\n}\n\nreturn data || {};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        0
      ],
      "id": "d657327c-4da3-43a4-a308-9eca03e6229a",
      "name": "Merge After Update"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages_history (tenant_id, appeal_id, message_type, message_text, channel)\n  VALUES (\n    '{{ $json.tenant_id }}'::uuid,\n    '{{ $json.appeal_id }}'::uuid,\n    'agent',\n    '{{ $json.response_text.replace(/'/g, \"''\") }}',\n    '{{ $json.channel }}'\n  );",
        "options": {}
      },
      "id": "7ecc5fc0-627d-4a3d-a077-08a72375fce9",
      "name": "Save Response",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1248,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation_mode }}",
                    "rightValue": "auto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "auto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation_mode }}",
                    "rightValue": "assist",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "assist"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "189c3a6c-55b3-4d43-913f-64431bb53897",
      "name": "Route By Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1472,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "let data = null;\n\ntry {\n  data = $('Prepare Response').first().json;\n} catch (e) {\n  data = $input.first()?.json || {};\n}\n\nreturn {\n  tenant_id: data.tenant_id,\n  appeal_id: data.appeal_id,\n  client_name: data.client_name || '',\n  channel: data.channel,\n  text: data.text || '',\n  response_text: data.response_text || '',\n  external_chat_id: data.external_chat_id,\n  appeal: data.appeal,\n  missing_fields: data.missing_fields\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        96
      ],
      "id": "a2f97525-27fa-4d34-b858-6cb5508ed78a",
      "name": "Prepare Notifier Data"
    },
    {
      "parameters": {
        "workflowId": "GUeLgLcNnawYfpf9",
        "options": {}
      },
      "id": "a1e410f0-7c4c-4ef9-8dd9-314bbbe157d1",
      "name": "Call Operator Notifier",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1920,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"appeal_id\": $('Prepare Response').item.json.appeal_id,\n  \"response_text\": $('Prepare Response').item.json.response_text,\n  \"next_action\": $('Prepare Response').item.json.next_action,\n  \"completion_percentage\": $('Prepare Response').item.json.completion_percentage\n} }}",
        "options": {}
      },
      "id": "a0708ac2-84ed-43a7-a52a-c91c91d760c0",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2144,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet clientId = null;\ntry {\n  const ctx = $('Build AI Context').first()?.json;\n  clientId = ctx?.appeal?.client_id || ctx?.client_id;\n} catch (e) {}\n\nif (!clientId) {\n  clientId = data.approval_data?.appeal?.client_id;\n}\n\nif (!clientId) {\n  throw new Error('client_id not found');\n}\n\nreturn {\n  appeal_id: data.appeal_id,\n  client_id: clientId,\n  response_to_send: data.response_text,\n  channel: data.channel || 'telegram',\n  response_type: 'text',\n  operator_action: 'auto_response',\n  operator_name: 'ИИ-агент',\n  client_telegram_id: data.external_chat_id,\n  source_workflow: 'BAT AI Appeal Router (auto)',\n  extracted_data: data.extracted_data,\n  completion_percentage: data.completion_percentage,\n  approval_data: data.approval_data,\n  operation_mode: data.operation_mode,\n  client_name: data.client_name\n};"
      },
      "id": "2214e7d8-fa37-4d78-907a-5a704cdd606e",
      "name": "Prepare Auto Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -96
      ]
    },
    {
      "parameters": {
        "workflowId": "Gxd1gIKgk8HxuOya",
        "options": {}
      },
      "id": "bcf74123-2663-430d-ba8e-f451308e0c91",
      "name": "Call Client Response Sender",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1920,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.n8nsrv.ru/webhook/neo4j/touchpoint/register",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  client_id: $json.approval_data?.appeal?.client_id,\n  appeal_id: $json.appeal_id,\n  channel: $json.channel,\n  direction: 'outbound',\n  type: 'message',\n  tenant_id: $json.tenant_id\n}) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "30b9e956-0f6b-4401-9f1c-e1ab64f4f33c",
      "name": "Register Touchpoint (Outbound)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        208
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Load Appeal & Devices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Fields Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Appeal & Devices": {
      "main": [
        [
          {
            "node": "Merge Appeal & Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Fields Config": {
      "main": [
        [
          {
            "node": "Merge Appeal & Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Appeal & Fields": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Needs Extraction?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Extraction?": {
      "main": [
        [
          {
            "node": "Skip Extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Task Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Task Dispatcher": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Extraction": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Call Graph Matcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Graph Matcher": {
      "main": [
        [
          {
            "node": "Process Match Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Match Result": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "AI Response Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Response Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Response Generator": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Route by Completeness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Completeness": {
      "main": [
        [
          {
            "node": "Update Full Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Partial Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Minimal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Minimal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Full Data": {
      "main": [
        [
          {
            "node": "Merge After Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Partial Data": {
      "main": [
        [
          {
            "node": "Merge After Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Minimal": {
      "main": [
        [
          {
            "node": "Merge After Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Update": {
      "main": [
        [
          {
            "node": "Save Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Response": {
      "main": [
        [
          {
            "node": "Route By Mode",
            "type": "main",
            "index": 0
          },
          {
            "node": "Register Touchpoint (Outbound)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Mode": {
      "main": [
        [
          {
            "node": "Prepare Auto Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Notifier Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Notifier Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notifier Data": {
      "main": [
        [
          {
            "node": "Call Operator Notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Operator Notifier": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Auto Send": {
      "main": [
        [
          {
            "node": "Call Client Response Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-23T04:04:01.292Z",
      "createdAt": "2025-11-23T04:04:01.292Z",
      "id": "eiI07cPEeFxzR69p",
      "name": "Core"
    }
  ],
  "updatedAt": "2025-12-08T14:37:47.000Z",
  "createdAt": "2025-11-25T14:24:10.715Z"
}