n8n_workflows/Core/BAT_Neo4j_Touchpoint_Register.json
{
  "id": "TrCjdgREvPAB2yyL",
  "name": "BAT Neo4j Touchpoint Register",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neo4j/touchpoint/register",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -432,
        32
      ],
      "webhookId": "neo4j-touchpoint-register",
      "id": "e445ab81-7e0d-4a8c-aa7f-b37c028ba289"
    },
    {
      "parameters": {
        "jsCode": "// Валидация входных данных для Touchpoint Register\n// 3 типа касаний: inbound (новый клиент), mutual (диалог), outbound (промо)\n\nconst ALLOWED_CHANNELS = ['whatsapp', 'telegram', 'vk', 'avito', 'max', 'phone', 'email', 'web', 'form', 'in_person'];\nconst ALLOWED_DIRECTIONS = ['inbound', 'outbound', 'mutual'];\nconst ALLOWED_TYPES = ['message', 'call', 'visit', 'promo', 'form'];\n\nconst body = $json.body || {};\n\nconst client_id = body.client_id;\nconst appeal_id = body.appeal_id || null;\nconst channel = body.channel || 'unknown';\nconst direction = body.direction || 'mutual';\nconst type = body.type || 'message';\nconst is_new_client = body.is_new_client || false;\nconst vertical_id = body.vertical_id || null;\nconst tenant_id = body.tenant_id || null;\n\n// Валидация обязательных полей\nif (!client_id) {\n  throw new Error('client_id is required');\n}\n\nif (!ALLOWED_DIRECTIONS.includes(direction)) {\n  throw new Error(`Invalid direction: ${direction}. Allowed: ${ALLOWED_DIRECTIONS.join(', ')}`);\n}\n\n// Логика определения direction:\n// - is_new_client && нет телефона в базе → inbound\n// - is_new_client && есть телефон в базе → mutual  \n// - промо/рассылка → outbound\n// - диалог (есть inbound + был ответ + клиент написал) → mutual\n\nconst touchpoint_id = crypto.randomUUID();\n\nreturn {\n  touchpoint_id,\n  client_id,\n  appeal_id,\n  channel,\n  direction,\n  type,\n  is_new_client,\n  vertical_id,\n  tenant_id,\n  timestamp: new Date().toISOString(),\n  _validation: 'passed'\n};"
      },
      "name": "Parse & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        32
      ],
      "id": "7b47de87-a48c-4139-94a2-e1a539c94628"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const data = $json;\n  const statements = [];\n  \n  // 1. Создаём Touchpoint узел\n  statements.push({\n    statement: `\n      CREATE (t:Touchpoint {\n        id: $id,\n        timestamp: datetime($timestamp),\n        type: $type,\n        channel: $channel,\n        direction: $direction\n      })\n      RETURN t\n    `,\n    parameters: {\n      id: data.touchpoint_id,\n      timestamp: data.timestamp,\n      type: data.type,\n      channel: data.channel,\n      direction: data.direction\n    }\n  });\n  \n  // 2. Связь с Client (FROM для inbound, TO для outbound, оба для mutual)\n  if (data.direction === 'inbound') {\n    statements.push({\n      statement: `\n        MATCH (t:Touchpoint {id: $touchpointId})\n        MATCH (c:Client {id: $clientId})\n        CREATE (t)-[:FROM]->(c)\n        RETURN t, c\n      `,\n      parameters: {\n        touchpointId: data.touchpoint_id,\n        clientId: data.client_id\n      }\n    });\n  } else if (data.direction === 'outbound') {\n    statements.push({\n      statement: `\n        MATCH (t:Touchpoint {id: $touchpointId})\n        MATCH (c:Client {id: $clientId})\n        CREATE (t)-[:TO]->(c)\n        RETURN t, c\n      `,\n      parameters: {\n        touchpointId: data.touchpoint_id,\n        clientId: data.client_id\n      }\n    });\n  } else if (data.direction === 'mutual') {\n    // Для mutual - связь в обе стороны\n    statements.push({\n      statement: `\n        MATCH (t:Touchpoint {id: $touchpointId})\n        MATCH (c:Client {id: $clientId})\n        CREATE (t)-[:FROM]->(c)\n        CREATE (t)-[:TO]->(c)\n        RETURN t, c\n      `,\n      parameters: {\n        touchpointId: data.touchpoint_id,\n        clientId: data.client_id\n      }\n    });\n  }\n  \n  // 3. Связь с Vertical если указана\n  if (data.vertical_id) {\n    statements.push({\n      statement: `\n        MATCH (t:Touchpoint {id: $touchpointId})\n        MATCH (v:Vertical {id: $verticalId})\n        CREATE (t)-[:IN_VERTICAL]->(v)\n        RETURN t, v\n      `,\n      parameters: {\n        touchpointId: data.touchpoint_id,\n        verticalId: data.vertical_id\n      }\n    });\n  }\n  \n  JSON.stringify({ statements });\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Create Touchpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        96,
        32
      ],
      "id": "3303ddeb-6e2c-41ea-ad58-fc6a3e34fa8f",
      "credentials": {
        "httpBasicAuth": {
          "id": "bkJBnz7p38fXY4AN",
          "name": "Neo4j"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO touchpoints (\n  id,\n  client_id,\n  appeal_id,\n  type,\n  channel,\n  direction,\n  tenant_id,\n  created_at\n) VALUES (\n  '{{ $('Parse & Validate').item.json.touchpoint_id }}'::uuid,\n  '{{ $('Parse & Validate').item.json.client_id }}'::uuid,\n  {{ $('Parse & Validate').item.json.appeal_id ? \"'\" + $('Parse & Validate').item.json.appeal_id + \"'::uuid\" : 'NULL' }},\n  '{{ $('Parse & Validate').item.json.type }}',\n  '{{ $('Parse & Validate').item.json.channel }}',\n  '{{ $('Parse & Validate').item.json.direction }}',\n  {{ $('Parse & Validate').item.json.tenant_id ? \"'\" + $('Parse & Validate').item.json.tenant_id + \"'::uuid\" : 'NULL' }},\n  NOW()\n)\nRETURNING *;",
        "options": {}
      },
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        32
      ],
      "id": "515c1e0d-5ef4-4e12-be72-ec18a53b7e00",
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const neo4jResult = $('Neo4j Create Touchpoint').first()?.json || {};\nconst pgResult = $json;\nconst inputData = $('Parse & Validate').first()?.json || {};\n\n// Проверка на ошибки Neo4j\nif (neo4jResult.errors && neo4jResult.errors.length > 0) {\n  const errorMessages = neo4jResult.errors.map(e => e.message).join('; ');\n  return {\n    success: false,\n    error: 'Neo4j error: ' + errorMessages\n  };\n}\n\nreturn {\n  success: true,\n  touchpoint_id: inputData.touchpoint_id,\n  direction: inputData.direction,\n  channel: inputData.channel,\n  client_id: inputData.client_id,\n  neo4j_created: true,\n  pg_created: !!pgResult.id\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        32
      ],
      "id": "ff982981-16db-4fff-b8fa-3f0d71cc363c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 400 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        816,
        32
      ],
      "id": "2aabfd9b-3f3c-4440-9440-15c5c5646608"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate": {
      "main": [
        [
          {
            "node": "Neo4j Create Touchpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Create Touchpoint": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to PostgreSQL": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-23T04:04:01.292Z",
      "createdAt": "2025-11-23T04:04:01.292Z",
      "id": "eiI07cPEeFxzR69p",
      "name": "Core"
    }
  ],
  "updatedAt": "2025-12-04T13:58:20.000Z",
  "createdAt": "2025-12-03T17:35:58.215Z"
}