workflows_to_import/BAT Neo4j CRUD.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neo4j/crud",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -688,
        -320
      ],
      "webhookId": "neo4j-crud",
      "id": "8ce8a58a-f6c5-4926-a623-42c34f8bc18f"
    },
    {
      "parameters": {
        "jsCode": "// Whitelist допустимых типов узлов и рёбер (защита от Cypher-инъекции)\nconst ALLOWED_NODE_TYPES = [\n  'Client', 'Device', 'Problem', 'ProblemType',\n  'Touchpoint', 'Channel', 'Vertical', 'Fingerprint'\n];\n\nconst ALLOWED_EDGE_TYPES = [\n  'OWNS', 'HAS_PROBLEM', 'OF_TYPE', 'SOCIAL', 'REFERRED',\n  'HAS_CHANNEL', 'IDENTIFIED_BY', 'CUSTOMER_OF', 'FROM', 'TO',\n  'ABOUT_DEVICE', 'ABOUT_PROBLEM', 'REFERS_TO', 'VIA_CHANNEL', 'IN_VERTICAL'\n];\n\nconst ALLOWED_OPERATIONS = [\n  'create', 'read', 'update', 'delete', 'create_edge', 'delete_edge'\n];\n\nconst body = $json.body || {};\nconst operation = body.operation || 'read';\nconst nodeType = body.nodeType || 'Client';\nconst nodeId = body.nodeId || null;\nconst properties = body.properties || {};\nconst edgeType = body.edgeType || null;\nconst fromId = body.fromId || null;\nconst toId = body.toId || null;\nconst edgeProperties = body.edgeProperties || {};\n\n// Валидация операции\nif (!ALLOWED_OPERATIONS.includes(operation)) {\n  throw new Error(`Invalid operation: ${operation}. Allowed: ${ALLOWED_OPERATIONS.join(', ')}`);\n}\n\n// Валидация nodeType для операций с узлами\nif (['create', 'read', 'update', 'delete'].includes(operation)) {\n  if (!ALLOWED_NODE_TYPES.includes(nodeType)) {\n    throw new Error(`Invalid nodeType: ${nodeType}. Allowed: ${ALLOWED_NODE_TYPES.join(', ')}`);\n  }\n}\n\n// Валидация edgeType для операций с рёбрами\nif (['create_edge', 'delete_edge'].includes(operation)) {\n  if (!edgeType || !ALLOWED_EDGE_TYPES.includes(edgeType)) {\n    throw new Error(`Invalid edgeType: ${edgeType}. Allowed: ${ALLOWED_EDGE_TYPES.join(', ')}`);\n  }\n  if (!fromId || !toId) {\n    throw new Error('fromId and toId are required for edge operations');\n  }\n}\n\n// Валидация nodeId для операций update/delete\nif (['update', 'delete'].includes(operation) && !nodeId) {\n  throw new Error('nodeId is required for update/delete operations');\n}\n\n// Санитизация ключей properties (только буквы, цифры, подчёркивания)\nconst sanitizedProperties = {};\nfor (const [key, value] of Object.entries(properties)) {\n  if (!/^[a-zA-Z_][a-zA-Z0-9_]*$/.test(key)) {\n    throw new Error(`Invalid property key: ${key}. Only alphanumeric and underscore allowed.`);\n  }\n  sanitizedProperties[key] = value;\n}\n\nconst sanitizedEdgeProperties = {};\nfor (const [key, value] of Object.entries(edgeProperties)) {\n  if (!/^[a-zA-Z_][a-zA-Z0-9_]*$/.test(key)) {\n    throw new Error(`Invalid edge property key: ${key}. Only alphanumeric and underscore allowed.`);\n  }\n  sanitizedEdgeProperties[key] = value;\n}\n\nreturn {\n  operation,\n  nodeType,\n  nodeId,\n  properties: sanitizedProperties,\n  edgeType,\n  fromId,\n  toId,\n  edgeProperties: sanitizedEdgeProperties,\n  _validation: 'passed'\n};"
      },
      "name": "Parse & Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -320
      ],
      "id": "f758bdad-648e-4a9d-b328-b203d9a181a3"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "create"
            }
          ]
        }
      },
      "name": "Is Create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        -320
      ],
      "id": "9773ab82-efdc-4be8-84b7-e90d6ef178d6"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "read"
            }
          ]
        }
      },
      "name": "Is Read?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        -112
      ],
      "id": "eb67b224-0dd8-4235-a304-416a5601c756"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "update"
            }
          ]
        }
      },
      "name": "Is Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        80
      ],
      "id": "8d58db1e-3c1e-49ea-bdbe-5ccf2c81a552"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "delete"
            }
          ]
        }
      },
      "name": "Is Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        288
      ],
      "id": "23ca4556-7e28-4bdf-b4a7-32bbaa0d08bb"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "create_edge"
            }
          ]
        }
      },
      "name": "Is Create Edge?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        480
      ],
      "id": "dce54867-6f2a-489d-8c4d-1cfd3feb3570"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "delete_edge"
            }
          ]
        }
      },
      "name": "Is Delete Edge?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        672
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const nodeType = $json.nodeType;\n  const props = $json.properties;\n  const propsStr = Object.entries(props).map(([k,v]) => `${k}: $${k}`).join(', ');\n  \n  JSON.stringify({\n    statements: [{\n      statement: `CREATE (n:${nodeType} {id: $id${propsStr ? ', ' + propsStr : ''}}) RETURN n`,\n      parameters: { id: $json.nodeId || crypto.randomUUID(), ...props }\n    }]\n  })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Create Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        -320
      ],
      "id": "14bf0608-42d1-4f45-adbf-f14b4dd4bd3d",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const nodeType = $json.nodeType;\n  const nodeId = $json.nodeId;\n  \n  JSON.stringify({\n    statements: [{\n      statement: nodeId \n        ? `MATCH (n:${nodeType} {id: $id}) RETURN n`\n        : `MATCH (n:${nodeType}) RETURN n LIMIT 100`,\n      parameters: nodeId ? { id: nodeId } : {}\n    }]\n  })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Read Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        -112
      ],
      "id": "3b7ee368-342e-4ba4-b65b-ae3976049c25",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const nodeType = $json.nodeType;\n  const nodeId = $json.nodeId;\n  const props = $json.properties;\n  const setStr = Object.entries(props).map(([k,v]) => `n.${k} = $${k}`).join(', ');\n  \n  JSON.stringify({\n    statements: [{\n      statement: `MATCH (n:${nodeType} {id: $id}) SET ${setStr} RETURN n`,\n      parameters: { id: nodeId, ...props }\n    }]\n  })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Update Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        80
      ],
      "id": "f341b26d-4b3a-4dac-81e2-de7b3a86c008",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const nodeType = $json.nodeType;\n  const nodeId = $json.nodeId;\n  \n  JSON.stringify({\n    statements: [{\n      statement: `MATCH (n:${nodeType} {id: $id}) DETACH DELETE n RETURN count(n) as deleted`,\n      parameters: { id: nodeId }\n    }]\n  })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Delete Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        288
      ],
      "id": "90e2d986-d5a6-40e6-b645-ac8795bcc654",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const edgeType = $json.edgeType;\n  const fromId = $json.fromId;\n  const toId = $json.toId;\n  const props = $json.edgeProperties;\n  const propsStr = Object.keys(props).length > 0 \n    ? '{' + Object.entries(props).map(([k,v]) => `${k}: $${k}`).join(', ') + '}'\n    : '';\n  \n  JSON.stringify({\n    statements: [{\n      statement: `MATCH (a {id: $fromId}), (b {id: $toId}) CREATE (a)-[r:${edgeType} ${propsStr}]->(b) RETURN r`,\n      parameters: { fromId, toId, ...props }\n    }]\n  })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Create Edge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        480
      ],
      "id": "bc647751-1252-471b-aa55-75909c20132b",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const edgeType = $json.edgeType;\n  const fromId = $json.fromId;\n  const toId = $json.toId;\n  \n  JSON.stringify({\n    statements: [{\n      statement: `MATCH (a {id: $fromId})-[r:${edgeType}]->(b {id: $toId}) DELETE r RETURN count(r) as deleted`,\n      parameters: { fromId, toId }\n    }]\n  })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Delete Edge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        672
      ],
      "id": "delete-edge-node-001",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $json;\n\n// Проверка на ошибки Neo4j\nif (result.errors && result.errors.length > 0) {\n  const errorMessages = result.errors.map(e => e.message).join('; ');\n  return {\n    success: false,\n    error: errorMessages,\n    data: []\n  };\n}\n\nconst data = result.results?.[0]?.data || [];\nconst nodes = data.map(d => d.row?.[0] || d);\n\nreturn {\n  success: true,\n  count: nodes.length,\n  data: nodes\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        80
      ],
      "id": "60c0b55e-4e01-407c-b8e6-04f746f0b895"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 400 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        624,
        80
      ],
      "id": "f811a4ea-4875-4578-ae5a-e96bb032dee4"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse & Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Request": {
      "main": [
        [
          {
            "node": "Is Create?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Read?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Update?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Delete?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Create Edge?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Delete Edge?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Create?": {
      "main": [
        [
          {
            "node": "Neo4j Create Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Read?": {
      "main": [
        [
          {
            "node": "Neo4j Read Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Update?": {
      "main": [
        [
          {
            "node": "Neo4j Update Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Delete?": {
      "main": [
        [
          {
            "node": "Neo4j Delete Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Create Edge?": {
      "main": [
        [
          {
            "node": "Neo4j Create Edge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Delete Edge?": {
      "main": [
        [
          {
            "node": "Neo4j Delete Edge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Create Node": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Read Node": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Update Node": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Delete Node": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Create Edge": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Delete Edge": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "8ae77ca901b15c37bb42b26ea9b5a21b78217dd557a563108d875a64964c49bb"
  }
}
