workflows_to_import/BAT Neo4j Sync.json
{
  "name": "BAT Neo4j Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neo4j/sync",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        -200
      ],
      "webhookId": "neo4j-sync",
      "id": "sync-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Валидация входных данных для синхронизации PostgreSQL → Neo4j\nconst ALLOWED_ENTITY_TYPES = ['client', 'device', 'problem', 'channel'];\nconst ALLOWED_OPERATIONS = ['create', 'update', 'delete'];\n\nconst body = $json.body || {};\nconst entity_type = body.entity_type;\nconst operation = body.operation;\nconst data = body.data || {};\nconst parent_id = body.parent_id || null; // для device → client_id, для problem → device_id\n\n// Валидация\nif (!ALLOWED_ENTITY_TYPES.includes(entity_type)) {\n  throw new Error(`Invalid entity_type: ${entity_type}. Allowed: ${ALLOWED_ENTITY_TYPES.join(', ')}`);\n}\n\nif (!ALLOWED_OPERATIONS.includes(operation)) {\n  throw new Error(`Invalid operation: ${operation}. Allowed: ${ALLOWED_OPERATIONS.join(', ')}`);\n}\n\nif (!data.id && operation !== 'delete') {\n  throw new Error('data.id is required for create/update operations');\n}\n\n// Маппинг entity_type → nodeType\nconst NODE_TYPE_MAP = {\n  'client': 'Client',\n  'device': 'Device',\n  'problem': 'Problem',\n  'channel': 'Channel'\n};\n\n// Маппинг для рёбер при создании\nconst EDGE_MAP = {\n  'device': { edgeType: 'OWNS', parentType: 'Client' },\n  'problem': { edgeType: 'HAS_PROBLEM', parentType: 'Device' },\n  'channel': { edgeType: 'HAS_CHANNEL', parentType: 'Client' }\n};\n\nconst nodeType = NODE_TYPE_MAP[entity_type];\nconst edgeInfo = EDGE_MAP[entity_type] || null;\n\n// Санитизация ключей data\nconst sanitizedData = {};\nfor (const [key, value] of Object.entries(data)) {\n  if (!/^[a-zA-Z_][a-zA-Z0-9_]*$/.test(key)) {\n    throw new Error(`Invalid data key: ${key}`);\n  }\n  sanitizedData[key] = value;\n}\n\nreturn {\n  entity_type,\n  operation,\n  nodeType,\n  data: sanitizedData,\n  parent_id,\n  edgeInfo,\n  _validation: 'passed'\n};"
      },
      "name": "Parse & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -200
      ],
      "id": "sync-parse-001"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "create"
            }
          ]
        }
      },
      "name": "Is Create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -320,
        -320
      ],
      "id": "sync-is-create"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "update"
            }
          ]
        }
      },
      "name": "Is Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -320,
        -120
      ],
      "id": "sync-is-update"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.operation }}",
              "value2": "delete"
            }
          ]
        }
      },
      "name": "Is Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -320,
        80
      ],
      "id": "sync-is-delete"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const nodeType = $json.nodeType;\n  const data = $json.data;\n  const parent_id = $json.parent_id;\n  const edgeInfo = $json.edgeInfo;\n  \n  // Формируем свойства для CREATE\n  const propsStr = Object.entries(data).map(([k,v]) => `${k}: $${k}`).join(', ');\n  \n  const statements = [];\n  \n  // 1. Создаём узел\n  statements.push({\n    statement: `CREATE (n:${nodeType} {${propsStr}}) RETURN n`,\n    parameters: data\n  });\n  \n  // 2. Если есть parent_id, создаём связь\n  if (parent_id && edgeInfo) {\n    statements.push({\n      statement: `MATCH (parent:${edgeInfo.parentType} {id: $parentId}), (child:${nodeType} {id: $childId}) CREATE (parent)-[:${edgeInfo.edgeType}]->(child) RETURN parent, child`,\n      parameters: { parentId: parent_id, childId: data.id }\n    });\n  }\n  \n  JSON.stringify({ statements })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        -320
      ],
      "id": "sync-neo4j-create",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const nodeType = $json.nodeType;\n  const data = $json.data;\n  const nodeId = data.id;\n  \n  // Формируем SET для UPDATE (исключаем id)\n  const updateProps = Object.entries(data)\n    .filter(([k]) => k !== 'id')\n    .map(([k,v]) => `n.${k} = $${k}`);\n  \n  const setStr = updateProps.join(', ');\n  \n  JSON.stringify({\n    statements: [{\n      statement: setStr \n        ? `MATCH (n:${nodeType} {id: $id}) SET ${setStr} RETURN n`\n        : `MATCH (n:${nodeType} {id: $id}) RETURN n`,\n      parameters: data\n    }]\n  })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        -120
      ],
      "id": "sync-neo4j-update",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const nodeType = $json.nodeType;\n  const nodeId = $json.data.id;\n  \n  JSON.stringify({\n    statements: [{\n      statement: `MATCH (n:${nodeType} {id: $id}) DETACH DELETE n RETURN count(n) as deleted`,\n      parameters: { id: nodeId }\n    }]\n  })\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Neo4j Delete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        80
      ],
      "id": "sync-neo4j-delete",
      "credentials": {
        "httpBasicAuth": {
          "id": "MEWcju2TVKNQ3u4p",
          "name": "Avito API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $json;\n\n// Проверка на ошибки Neo4j\nif (result.errors && result.errors.length > 0) {\n  const errorMessages = result.errors.map(e => e.message).join('; ');\n  return {\n    success: false,\n    error: errorMessages\n  };\n}\n\nconst data = result.results?.[0]?.data || [];\n\nreturn {\n  success: true,\n  synced: data.length > 0,\n  results: data.map(d => d.row?.[0] || d)\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -120
      ],
      "id": "sync-format-response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 400 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        480,
        -120
      ],
      "id": "sync-respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate": {
      "main": [
        [
          {
            "node": "Is Create?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Update?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Create?": {
      "main": [
        [
          {
            "node": "Neo4j Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Update?": {
      "main": [
        [
          {
            "node": "Neo4j Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Delete?": {
      "main": [
        [
          {
            "node": "Neo4j Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Create": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Update": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Delete": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "8ae77ca901b15c37bb42b26ea9b5a21b78217dd557a563108d875a64964c49bb"
  }
}
