workflows_to_import/BAT_OUT_VK.json
{
  "id": "3qluqpU6q269XuVK",
  "name": "BAT OUT VK",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vk.com/method/messages.send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "vkApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "peer_id",
              "value": "={{ $json.out_message.external_chat_id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.out_message.message_text }}"
            },
            {
              "name": "random_id",
              "value": "={{ Math.floor(Math.random() * 1000000000) }}"
            },
            {
              "name": "v",
              "value": "5.131"
            }
          ]
        },
        "options": {}
      },
      "id": "9c803ae6-5b4b-4071-b63f-61abf228dbb2",
      "name": "Send VK Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nif (response.error) {\n  throw new Error(`VK API Error: ${response.error.error_msg}`);\n}\n\nconst inMessage = $('Execute Workflow Trigger').first().json;\n\nreturn {\n  ...inMessage,\n  vk_response: response.response,\n  message_id: response.response?.toString() || 'unknown',\n  sent_at: new Date().toISOString()\n};"
      },
      "id": "bed5919a-dd02-46e3-a846-25746c587a2b",
      "name": "Process VK Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages_history (\n  tenant_id,\n  appeal_id,\n  message_type,\n  message_text,\n  channel, channel_id,\n  external_message_id,\n  external_chat_id\n)\nSELECT\n  '{{ $json.out_message.tenant_id }}'::uuid,\n  '{{ $json.out_message.appeal_id }}'::uuid,\n  'agent',\n  '{{ $json.out_message.message_text }}',\n  'vk',\n  (SELECT id FROM channels WHERE code = 'vk' LIMIT 1),\n  '{{ $json.message_id }}',\n  '{{ $json.out_message.external_chat_id }}'\nRETURNING *;",
        "options": {}
      },
      "id": "0131cb44-a098-41dd-9efd-cfc9a773da22",
      "name": "Save Message History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [660, 0],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "37676a04-7b2a-467d-b22c-a009a3ac2665",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Send VK Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send VK Message": {
      "main": [
        [
          {
            "node": "Process VK Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process VK Response": {
      "main": [
        [
          {
            "node": "Save Message History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "BattCRM"
    },
    {
      "name": "Out"
    }
  ]
}
