workflows_to_import/BAT_IN_VK.json
{
  "name": "BAT IN VK",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vk",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "vk-trigger",
      "name": "VK Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 0],
      "webhookId": "vk-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "operation": "equals",
              "value2": "confirmation"
            }
          ]
        }
      },
      "id": "is-confirmation",
      "name": "Is Confirmation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [220, 0]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $env.VK_CONFIRMATION_STRING }}",
        "options": {}
      },
      "id": "send-confirmation",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, -100]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "operation": "equals",
              "value2": "message_new"
            }
          ]
        }
      },
      "id": "is-new-message",
      "name": "Is New Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 100]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "respond-ok-other",
      "name": "Respond OK (Other)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [660, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.object.message.attachments && $json.object.message.attachments.some(a => a.type === 'audio_message') }}",
              "value2": true
            }
          ]
        }
      },
      "id": "has-voice",
      "name": "Has Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.object.message;\n\n// Находим голосовое сообщение\nconst voiceAttachment = msg.attachments.find(a => a.type === 'audio_message');\nconst voiceUrl = voiceAttachment?.audio_message?.link_mp3;\n\nif (!voiceUrl) {\n  throw new Error('Voice URL not found');\n}\n\nreturn {\n  voice_url: voiceUrl,\n  original_message: msg\n};"
      },
      "id": "extract-voice-url",
      "name": "Extract Voice URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "url": "={{ $json.voice_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-voice",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1320, -100],
      "id": "transcribe-voice",
      "name": "Transcribe Voice",
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Extract Voice URL').first().json.original_message;\nconst transcription = $input.first().json.text;\n\nlet messageText = msg.text || '';\n\nconst hasPhoto = msg.attachments?.some(a => a.type === 'photo') || false;\nconst hasVoice = true;\nconst hasVideo = msg.attachments?.some(a => a.type === 'video') || false;\nconst hasDocument = msg.attachments?.some(a => a.type === 'doc') || false;\n\nconst urls = [];\nlet photoUrl = null;\n\nif (hasPhoto) {\n  const photoAttachment = msg.attachments.find(a => a.type === 'photo');\n  if (photoAttachment?.photo?.sizes) {\n    const maxSize = photoAttachment.photo.sizes.reduce((max, size) => \n      (size.width * size.height > max.width * max.height) ? size : max\n    );\n    photoUrl = maxSize.url;\n    urls.push(photoUrl);\n  }\n}\n\n// Добавляем транскрипцию\nif (transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'vk',\n  external_user_id: msg.from_id.toString(),\n  external_chat_id: msg.peer_id.toString(),\n  \n  text: messageText,\n  timestamp: new Date(msg.date * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: null,\n  client_email: null,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: hasPhoto,\n    images: hasPhoto ? [{ url: photoUrl }] : [],\n    has_video: hasVideo,\n    videos: [],\n    has_document: hasDocument\n  },\n  \n  meta: {\n    external_message_id: msg.id.toString(),\n    ad_channel: 'vk',\n    ad_id: null,\n    original_media_type: 'voice',\n    raw: msg,\n    group_id: msg.group_id?.toString()\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "normalize-with-voice",
      "name": "Normalize with Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -100]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.object.message;\n\nlet messageText = msg.text || '';\n\nconst hasPhoto = msg.attachments?.some(a => a.type === 'photo') || false;\nconst hasVoice = false;\nconst hasVideo = msg.attachments?.some(a => a.type === 'video') || false;\nconst hasDocument = msg.attachments?.some(a => a.type === 'doc') || false;\n\nconst urls = [];\nlet photoUrl = null;\n\nif (hasPhoto) {\n  const photoAttachment = msg.attachments.find(a => a.type === 'photo');\n  if (photoAttachment?.photo?.sizes) {\n    const maxSize = photoAttachment.photo.sizes.reduce((max, size) => \n      (size.width * size.height > max.width * max.height) ? size : max\n    );\n    photoUrl = maxSize.url;\n    urls.push(photoUrl);\n  }\n}\n\nreturn {\n  channel: 'vk',\n  external_user_id: msg.from_id.toString(),\n  external_chat_id: msg.peer_id.toString(),\n  \n  text: messageText,\n  timestamp: new Date(msg.date * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: null,\n  client_email: null,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: hasPhoto,\n    images: hasPhoto ? [{ url: photoUrl }] : [],\n    has_video: hasVideo,\n    videos: [],\n    has_document: hasDocument\n  },\n  \n  meta: {\n    external_message_id: msg.id.toString(),\n    ad_channel: 'vk',\n    ad_id: null,\n    original_media_type: hasPhoto ? 'photo' : 'text',\n    raw: msg\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "normalize-without-voice",
      "name": "Normalize without Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rRO6sxLqiCdgvLZz",
          "mode": "list",
          "cachedResultUrl": "/workflow/rRO6sxLqiCdgvLZz",
          "cachedResultName": "BAT_Tenant_Resolver"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1760, 0],
      "id": "execute-tenant-resolver",
      "name": "Execute Tenant Resolver"
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем сообщение для Redis очереди\nconst data = $input.first().json;\n\nreturn {\n  message_json: JSON.stringify(data),\n  batch_key: `${data.channel}:${data.external_chat_id}`\n};"
      },
      "id": "prepare-for-queue",
      "name": "Prepare for Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 0]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "queue:incoming",
        "messageData": "={{ $json.message_json }}",
        "tail": true
      },
      "id": "push-to-queue",
      "name": "Push to Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2200, 0],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2420, 0]
    }
  ],
  "connections": {
    "VK Trigger": {
      "main": [
        [
          {
            "node": "Is Confirmation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Confirmation?": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is New Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Message?": {
      "main": [
        [
          {
            "node": "Has Voice?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK (Other)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice?": {
      "main": [
        [
          {
            "node": "Extract Voice URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize without Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Voice URL": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Normalize with Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize with Voice": {
      "main": [
        [
          {
            "node": "Execute Tenant Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize without Voice": {
      "main": [
        [
          {
            "node": "Execute Tenant Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tenant Resolver": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Queue": {
      "main": [
        [
          {
            "node": "Push to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Queue": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "BattCRM"
    },
    {
      "name": "In"
    }
  ]
}
