workflows_to_import/ELO_Input_Worker.json
{
  "name": "ELO_Input_Worker",
  "nodes": [
    {
      "parameters": {
        "unit": "seconds",
        "interval": 2
      },
      "id": "Schedule Trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "command": "listPop",
        "collection": "queue:incoming",
        "direction": "head"
      },
      "id": "Pop Message",
      "name": "Pop Message",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "redis": "ELO_Redis"
      }
    },
    {
      "parameters": {
        "jsCode": "if (!$json || !$json.value) {\n  return {json: {empty: true}};\n}\nlet msg;\ntry { msg = JSON.parse($json.value); } catch (e) { return {json: {empty: true}}; }\nconst now = Date.now();\nconst tenant = msg.tenant_id || 'unknown';\nconst key = `${tenant}:${msg.channel}:${msg.external_chat_id}`;\nconst debounce = msg.debounce_seconds || 10;\nconst maxWait = 300000; // 300s ms\nreturn {\n  json: {\n    empty: false,\n    key,\n    message: msg,\n    deadline: now + debounce * 1000,\n    maxDeadline: (msg.first_seen || now) + maxWait\n  }\n};"
      },
      "id": "Prepare",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [],
          "string": [
            {
              "value1": "={{$json[\"empty\"]}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "If Empty?",
      "name": "If Empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        950,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "lastNode",
        "responseBody": "={{ {status:\"idle\"} }}"
      },
      "id": "NoOp",
      "name": "NoOp",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        180
      ]
    },
    {
      "parameters": {
        "command": "listPush",
        "collection": "={{`queue:batch:${$json[\"key\"]}`}}",
        "direction": "tail",
        "value": "={{ JSON.stringify($json[\"message\"]) }}"
      },
      "id": "Push Batch",
      "name": "Push Batch",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1200,
        360
      ],
      "credentials": {
        "redis": "ELO_Redis"
      }
    },
    {
      "parameters": {
        "command": "sortedSetAdd",
        "collection": "batch:deadlines",
        "member": "={{$json[\"key\"]}}",
        "score": "={{ $json[\"deadline\"] }}"
      },
      "id": "Set Deadline",
      "name": "Set Deadline",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1450,
        360
      ],
      "credentials": {
        "redis": "ELO_Redis"
      }
    },
    {
      "parameters": {
        "command": "sortedSetRangeByScore",
        "collection": "batch:deadlines",
        "start": "-inf",
        "end": "={{ Date.now() }}"
      },
      "id": "Due Batches",
      "name": "Due Batches",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1700,
        360
      ],
      "credentials": {
        "redis": "ELO_Redis"
      }
    },
    {
      "parameters": {
        "jsCode": "const due = $json.value || [];\nreturn due.map(k => ({json: {key: k}}));"
      },
      "id": "Split Keys",
      "name": "Split Keys",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        360
      ]
    },
    {
      "parameters": {
        "command": "listRange",
        "collection": "={{`queue:batch:${$json[\"key\"]}`}}",
        "from": 0,
        "to": -1
      },
      "id": "Get Batch",
      "name": "Get Batch",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2200,
        360
      ],
      "credentials": {
        "redis": "ELO_Redis"
      }
    },
    {
      "parameters": {
        "jsCode": "let msgs = [];\nfor (const m of $json.value || []) {\n  try { msgs.push(JSON.parse(m)); } catch(e) {}\n}\nconst texts = msgs.map(m => m.text || '').filter(Boolean);\nconst sample = msgs[msgs.length-1] || {};\nreturn {\n  json: {\n    merged_text: texts.join('\\n\\n'),\n    message_ids: msgs.map(m => m.message_id).filter(Boolean),\n    sample\n  }\n};"
      },
      "id": "Merge",
      "name": "Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2450,
        360
      ]
    },
    {
      "parameters": {
        "url": "http://client-contour:8772/resolve",
        "options": {},
        "body": "={{ {\n  channel: $json.sample.channel,\n  bot_token: $json.sample.bot_token,\n  external_user_id: $json.sample.external_user_id,\n  external_chat_id: $json.sample.external_chat_id,\n  client_name: $json.sample.client_name,\n  client_phone: $json.sample.client_phone,\n  text: $json.merged_text,\n  timestamp: $json.sample.timestamp,\n  message_ids: $json.message_ids,\n  trace_id: $json.sample.trace_id,\n  media: $json.sample.media || {},\n  meta: $json.sample.meta || {}\n} }}",
        "jsonParameters": true
      },
      "id": "Post Client Contour",
      "name": "Post Client Contour",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2700,
        360
      ]
    },
    {
      "parameters": {
        "command": "deleteKeys",
        "collection": "={{`queue:batch:${$json.sample ? $json.sample.tenant_id || 'unknown' : 'unknown'}:${$json.sample ? $json.sample.channel : ''}:${$json.sample ? $json.sample.external_chat_id : ''}`}}"
      },
      "id": "Cleanup Queue",
      "name": "Cleanup Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2950,
        360
      ],
      "credentials": {
        "redis": "ELO_Redis"
      }
    },
    {
      "parameters": {
        "command": "sortedSetRemove",
        "collection": "batch:deadlines",
        "member": "={{$json.sample ? `${$json.sample.tenant_id || 'unknown'}:${$json.sample.channel}:${$json.sample.external_chat_id}` : ''}}"
      },
      "id": "Cleanup Deadline",
      "name": "Cleanup Deadline",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3200,
        360
      ],
      "credentials": {
        "redis": "ELO_Redis"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Pop Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Message": {
      "main": [
        [
          {
            "node": "Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          {
            "node": "If Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Empty?": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Batch": {
      "main": [
        [
          {
            "node": "Set Deadline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Deadline": {
      "main": [
        [
          {
            "node": "Due Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Due Batches": {
      "main": [
        [
          {
            "node": "Split Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Keys": {
      "main": [
        [
          {
            "node": "Get Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Batch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Post Client Contour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Client Contour": {
      "main": [
        [
          {
            "node": "Cleanup Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Queue": {
      "main": [
        [
          {
            "node": "Cleanup Deadline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

