workflows_to_import/ELO_Input_Ingest.json
{
  "name": "ELO_Input_Ingest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elo-input-ingest",
        "responseMode": "responseNode"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = Date.now();\nconst rand = Math.random().toString(36).slice(2, 10);\nreturn {\n  json: {\n    ...$input.item.json,\n    message_id: $input.item.json.message_id || `msg_${now}_${rand}`,\n    trace_id: $input.item.json.trace_id || `trace_${now}_${rand}`\n  }\n};"
      },
      "id": "Generate IDs",
      "name": "Generate IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "command": "setMemberExists",
        "collection": "processed:ingest",
        "member": "={{$json[\"message_id\"]}}"
      },
      "id": "Check Duplicate",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "redis": "ELO_Redis"
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [],
          "string": [
            {
              "value1": "={{$json[\"value\"]}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "If Duplicate?",
      "name": "If Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        950,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "lastNode",
        "responseBody": "={{ {accepted: true, duplicate: true, message_id: $json[\"message_id\"], trace_id: $json[\"trace_id\"]} }}"
      },
      "id": "Respond Duplicate",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "command": "setMemberAdd",
        "collection": "processed:ingest",
        "member": "={{$json[\"message_id\"]}}"
      },
      "id": "Mark Processed",
      "name": "Mark Processed",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1200,
        420
      ],
      "credentials": {
        "redis": "ELO_Redis"
      }
    },
    {
      "parameters": {
        "command": "listPush",
        "collection": "queue:incoming",
        "direction": "tail",
        "value": "={{ JSON.stringify($json) }}"
      },
      "id": "Enqueue",
      "name": "Enqueue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1450,
        420
      ],
      "credentials": {
        "redis": "ELO_Redis"
      }
    },
    {
      "parameters": {
        "respondWith": "lastNode",
        "responseBody": "={{ {accepted: true, message_id: $json[\"message_id\"], trace_id: $json[\"trace_id\"]} }}"
      },
      "id": "Respond Success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1700,
        420
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate IDs": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "If Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Duplicate?": {
      "main": [
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Processed": {
      "main": [
        [
          {
            "node": "Enqueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enqueue": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

