Backend JSON/API Backend/API_Operator_Send_Response.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  ...data,\n  channel: data.appeal?.ad_channel || 'telegram'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        592
      ],
      "id": "1aa995e6-460b-4b06-b781-114764797104",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\n\nreturn {\n  channel: ctx.channel,  // <-- это поле\n  external_chat_id: ctx.client_telegram_id,\n  message_text: ctx.response_text,\n  appeal: {\n    id: ctx.appeal_id\n  },\n  client: {\n    id: ctx.client_id\n  },\n  tenant_id: ctx.tenant_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        592
      ],
      "id": "ff2f01db-87e6-48c2-8d0d-052e5608ac30",
      "name": "Prepare Message"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/operator/appeals/:id/send",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "85000092-f34e-4761-b925-951532c08669",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1376,
        688
      ],
      "webhookId": "unique-send-response"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst params = $json.params || {};\n\nreturn {\n  appeal_id: params.id || null,\n  response_text: body.response_text || body.text || null,\n  media_type: body.media_type || 'text',\n  media_data: body.media_data || null,\n  session_token: $json.session_token\n};"
      },
      "id": "f035ee38-d542-4596-b41d-77592327dcd9",
      "name": "Parse Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        688
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT o.id as operator_id, o.tenant_id, a.client_id, a.ad_channel as channel, c.telegram_id as client_telegram_id\nFROM operators o\nJOIN appeals a ON a.id = '{{ $json.appeal_id }}'::uuid AND a.tenant_id = o.tenant_id\nJOIN clients c ON c.id = a.client_id AND c.tenant_id = o.tenant_id\nWHERE o.session_token = '{{ $json.session_token }}'\nAND o.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "id": "2375405f-5bed-4187-a19c-6ee97044b157",
      "name": "Get Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -528,
        688
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json;\nconst row = Array.isArray(input) ? (input[0] || null) : input;\nconst previous = $('Parse Params').first().json;\n\nif (!row) {\n  return { ...previous, error: 'not_found' };\n}\n\nreturn {\n  ...previous,\n  tenant_id: row.tenant_id,\n  operator_id: row.operator_id,\n  client_id: row.client_id,\n  channel: row.channel,  // <-- добавь эту строку\n  client_telegram_id: row.client_telegram_id\n};"
      },
      "id": "546e8c8a-adf5-4a2d-88c7-b14fc0cad866",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{ $json.response_text }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c55ab054-faf0-41b1-a8aa-c86a9f970dd5",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -96,
        688
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "=DaKs09InHidK2phf"
        },
        "options": {}
      },
      "id": "ca928d71-630e-4230-b4e8-177099b1f50d",
      "name": "Call Message Router",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        704,
        592
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE operator_appeal_status SET status = 'completed', completed_at = NOW() WHERE appeal_id = '{{ $('Normalize').first().json.appeal_id }}'::uuid AND tenant_id = '{{ $('Normalize').first().json.tenant_id }}'::uuid;",
        "options": {}
      },
      "id": "e1ce09a3-9bf3-4110-8865-2ee11ecbeb7d",
      "name": "Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        928,
        592
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { success: true, message: 'Response sent' };"
      },
      "id": "b4686225-4335-4435-93da-deb0883471e3",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        592
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "70a3c307-536c-4f3f-a81a-02445f21682b",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1312,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "return { success: false, error: 'invalid_request' };"
      },
      "id": "a1451101-1b3d-42ac-a47c-ebd00584826c",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        784
      ]
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nlet token = null;\n\nconst authHeader = headers.authorization || headers.Authorization || '';\nif (authHeader.startsWith('Bearer ') || authHeader.startsWith('bearer ')) {\n  token = authHeader.substring(7);\n}\n\nif (!token) {\n  token = headers['x-session-token'] || headers['X-Session-Token'];\n}\n\nreturn { ...($json || {}), session_token: token || null };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        688
      ],
      "id": "e8e90aae-2b79-48c2-95e5-25fd34b36c13",
      "name": "Parse Token"
    }
  ],
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Call Message Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Params": {
      "main": [
        [
          {
            "node": "Get Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Context": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Prepare Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Message Router": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Token": {
      "main": [
        [
          {
            "node": "Parse Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ae77ca901b15c37bb42b26ea9b5a21b78217dd557a563108d875a64964c49bb"
  }
}