NEW/workflows/Client Contour/ELO_Client_Resolve.json
{"updatedAt":"2025-12-26T17:48:25.543Z","createdAt":"2025-12-11T17:11:03.016Z","id":"OHjjTQDguN2G6xin","name":"ELO_Client_Resolve","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"elo-client-resolve","responseMode":"responseNode","options":{}},"id":"bf1193fe-ea2c-4825-8523-cc40a33cabe4","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-240,96],"webhookId":"elo-client-resolve-001"},{"parameters":{"jsCode":" // Config - mirrors MCP config.py\n  const CONFIG = {\n    CACHE_TTL_TENANT: 86400,\n    CACHE_TTL_CLIENT: 3600,\n    CACHE_TTL_DIALOG: 1800,\n    CORE_URL: 'https://n8n.n8nsrv.ru/webhook/elo-core-ingest',\n    GRAPH_URL: 'http://45.144.177.128:8773/query'\n  };\n\n  const raw = $input.first().json;\n  const input = raw.payload || raw;\n\n  // Required fields check (text removed - can be empty for media messages)\n  const required = ['channel', 'external_chat_id'];\n  for (const field of required) {\n    if (!input[field]) {\n      throw new Error(`Missing required field: ${field}`);\n    }\n  }\n\n  // Extract credential based on channel\n  let credential = null;\n  switch (input.channel) {\n    case 'telegram': credential = input.bot_token || input.profile_id || input.meta?.raw?.botId; break;\n    case 'whatsapp': credential = input.profile_id || input.meta?.raw?.sessionId; break;\n    case 'vk': credential = input.group_id || input.profile_id || input.meta?.raw?.groupId; break;\n    case 'avito': credential = input.profile_id || input.user_id || input.meta?.raw?.userId; break;\n    case 'max': credential = input.bot_id || input.profile_id || input.meta?.raw?.botId; break;\n    default: credential = input.profile_id || input.user_id || 'default';\n  }\n\n  // Fallback to default if credential is still null\n  if (!credential) {\n    credential = 'default';\n  }\n\n  // Generate trace_id if not provided\n  const trace_id = input.trace_id || `trace_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n  // Cache keys - mirrors MCP resolvers\n  const tenant_cache_key = `cache:tenant:${input.channel}:${credential}`;\n\n  return {\n    ...input,\n    credential,\n    trace_id,\n    tenant_cache_key,\n    config: CONFIG,\n    received_at: new Date().toISOString()\n  };"},"id":"50fcd8f4-a1d5-443a-b5cf-4f5eddfd1a8a","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,96]},{"parameters":{"operation":"get","propertyName":"CachedTenant","key":"={{ $json.tenant_cache_key }}","options":{}},"id":"7213c401-ae34-4159-a685-978a6c026d08","name":"Cache Get Tenant","type":"n8n-nodes-base.redis","typeVersion":1,"position":[192,96],"credentials":{"redis":{"id":"7FQcEivUY94atW24","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cache-hit","leftValue":"=$json.cachedTenant","rightValue":"null","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"id":"5d84fca2-cdae-4336-bf3a-80109bb3faeb","name":"Tenant Cache Hit?","type":"n8n-nodes-base.if","typeVersion":2,"position":[624,96]},{"parameters":{"jsCode":"  // Parse cached tenant - find value in any field\n  const input = $('Validate Input').first().json;\n  const redisOutput = $json;\n\n  // Try to find cached value in different possible fields\n  let cachedValue = redisOutput.propertyName\n    || redisOutput.value\n    || redisOutput.cachedTenant\n    || redisOutput[input.tenant_cache_key];\n\n  // If still not found, try first non-null string value that looks like JSON\n  if (!cachedValue) {\n    for (const key of Object.keys(redisOutput)) {\n      const val = redisOutput[key];\n      if (val && typeof val === 'string' && val.startsWith('{')) {\n        cachedValue = val;\n        break;\n      }\n    }\n  }\n\n  // Validate\n  if (!cachedValue || cachedValue === 'undefined' || cachedValue === 'null') {\n    throw new Error('Invalid cache value: ' + JSON.stringify(redisOutput));\n  }\n\n  const cached = typeof cachedValue === 'string' ? JSON.parse(cachedValue) : cachedValue;\n\n  return {\n    ...input,\n    tenant_id: cached.tenant_id,\n    domain_id: cached.domain_id,\n    channel_id: cached.channel_id,\n    channel_account_id: cached.channel_account_id,\n    tenant_from_cache: true\n  };"},"id":"84572424-3c40-4140-9644-72ee08448382","name":"Parse Cached Tenant","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,-112]},{"parameters":{"operation":"executeQuery","query":" SELECT\n    t.id as tenant_id,\n    t.domain_id,\n    ca.id as channel_account_id,\n    ca.channel_id,\n    ca.ip_node_id,\n    ca.session_id,\n    n.server_host,\n    n.ip_address,\n    CASE\n      WHEN c.code = 'whatsapp' THEN n.port_whatsapp\n      WHEN c.code = 'telegram' THEN n.port_telegram_user\n      WHEN c.code = 'max' THEN n.port_max\n      WHEN c.code = 'avito' THEN n.port_avito\n      WHEN c.code = 'vk' THEN n.port_vk_user\n    END as channel_port\n  FROM elo_t_tenants t\n  JOIN elo_t_channel_accounts ca ON ca.tenant_id = t.id\n  JOIN elo_channels c ON c.id = ca.channel_id\n  LEFT JOIN elo_ip_nodes n ON n.id = ca.ip_node_id\n  WHERE ca.session_id = '{{ $('Validate Input').first().json.credential }}'\n    AND c.code = '{{ $('Validate Input').first().json.channel }}'\n    AND ca.is_active = true\n    AND t.is_active = true\n  LIMIT 1;","options":{}},"id":"b9999445-ff96-48a8-8419-efbccc86d84d","name":"DB Get Tenant","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[848,192],"alwaysOutputData":true,"credentials":{"postgres":{"id":"n2SyhP9QhMnp1ryk","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"tenant-found","leftValue":"={{ $json.tenant_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c2bcbaf3-042f-405e-98f0-8718c3ee5df0","name":"Tenant Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1072,192]},{"parameters":{"operation":"set","key":"={{ $('Validate Input').first().json.tenant_cache_key }}","value":"={{ JSON.stringify({ tenant_id: String($json.tenant_id), domain_id: $json.domain_id, channel_id: $json.channel_id, channel_account_id: $json.channel_account_id }) }}","expire":true,"ttl":"={{ $('Validate Input').first().json.config.CACHE_TTL_TENANT }}"},"id":"d2d61b4f-705d-439d-b733-1c8d41ce700d","name":"Cache Set Tenant","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1296,96],"credentials":{"redis":{"id":"7FQcEivUY94atW24","name":"Redis account"}}},{"parameters":{"jsCode":"// Merge tenant from DB\nconst input = $('Validate Input').first().json;\nconst tenant = $('DB Get Tenant').first().json;\n\nreturn {\n  ...input,\n  tenant_id: String(tenant.tenant_id),\n  domain_id: tenant.domain_id,\n  channel_id: tenant.channel_id,\n  channel_account_id: tenant.channel_account_id,\n  tenant_from_cache: false\n};"},"id":"054b1b44-18eb-485d-81ea-798ef9db834d","name":"Merge Tenant","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,96]},{"parameters":{"jsCode":"// DLQ for unknown tenant\nconst input = $('Validate Input').first().json;\n\nreturn {\n  error: 'unknown_tenant',\n  channel: input.channel,\n  credential: input.credential,\n  external_chat_id: input.external_chat_id,\n  trace_id: input.trace_id,\n  timestamp: new Date().toISOString()\n};"},"id":"ea4cb9a5-9c41-4c8a-8aba-8bf365b4f13f","name":"Prepare DLQ Tenant","type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,288]},{"parameters":{"operation":"push","list":"dlq:unknown_tenant","messageData":"={{ JSON.stringify($json) }}","tail":true},"id":"fa10657e-2df0-41f9-bf97-e10bd8b47b67","name":"Push DLQ Tenant","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1520,288],"credentials":{"redis":{"id":"7FQcEivUY94atW24","name":"Redis account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { accepted: false, reason: 'unknown_tenant', trace_id: $('Validate Input').first().json.trace_id } }}","options":{"responseCode":404}},"id":"6b966d98-9ff5-49bf-ae12-2391986e19a6","name":"Respond Unknown Tenant","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1728,288]},{"parameters":{"jsCode":"// Generate client cache key\n  // Use external_user_id for client matching (not external_chat_id)\n  const data = $json;\n\n  // For Avito: external_user_id = sender_id (unique per user)\n  // For other channels: fallback to external_chat_id\n  const clientExternalId = data.external_user_id || data.external_chat_id;\n\n  const cache_key = `cache:client:${data.channel_id}:${clientExternalId}`;\n\n  return {\n    ...data,\n    client_cache_key: cache_key,\n    client_external_id: clientExternalId  // <-- use this for DB queries\n  };"},"id":"034dd954-0934-4901-bfbd-4d34906917cf","name":"Prepare Client Cache Key","type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,96]},{"parameters":{"operation":"get","key":"={{ $json.client_cache_key }}","options":{}},"id":"3ef0207b-43ab-41d8-af95-6662288a1785","name":"Cache Get Client","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1952,96],"credentials":{"redis":{"id":"7FQcEivUY94atW24","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"client-cache-hit","leftValue":"={{ $json.propertyName !== null && $json.propertyName !== undefined }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d8d5e68a-092e-4884-8e48-d7d7db7c6ab7","name":"Client Cache Hit?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2176,96]},{"parameters":{"jsCode":"const cachedValue = $json.propertyName || $json.value;\n  if (!cachedValue || cachedValue === 'undefined' || cachedValue === 'null') {\n    throw new Error('Cache miss - invalid value');\n  }\n  const cached = JSON.parse(cachedValue);\n  const data = $('Prepare Client Cache Key').first().json;\n\n  return {\n    ...data,\n    client_id: cached.client_id,\n    client_name: cached.name,\n    client_phone: cached.phone,\n    is_new_client: false,\n    client_from_cache: true\n  };"},"id":"21de6520-73ff-49b6-b7d5-5bb4ac0c19f8","name":"Parse Cached Client","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,-16]},{"parameters":{"operation":"executeQuery","query":" SELECT c.id as client_id, c.name, c.phone\n  FROM elo_t_clients c\n  JOIN elo_t_client_channels cc ON cc.client_id = c.id\n  WHERE cc.channel_id = {{ $('Prepare Client Cache Key').first().json.channel_id }}\n    AND cc.external_id = '{{ $('Prepare Client Cache Key').first().json.client_external_id }}'\n    AND c.tenant_id = '{{ $('Prepare Client Cache Key').first().json.tenant_id }}'::uuid\n  LIMIT 1;","options":{}},"id":"242ed4c4-a068-4e27-bb83-dbc9db33a52d","name":"DB Get Client By External","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2400,192],"alwaysOutputData":true,"credentials":{"postgres":{"id":"n2SyhP9QhMnp1ryk","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"client-found","leftValue":"={{ $json.client_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"7dfc91be-59dc-4c8d-a37c-ca3aafd3df32","name":"Client Found By External?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2608,192]},{"parameters":{"jsCode":"// Merge client from DB + cache it\nconst data = $('Prepare Client Cache Key').first().json;\nconst client = $('DB Get Client By External').first().json;\n\nreturn {\n  ...data,\n  client_id: String(client.client_id),\n  client_name: client.name,\n  client_phone: client.phone,\n  is_new_client: false,\n  client_from_cache: false,\n  should_cache_client: true\n};"},"id":"04904cca-f59b-49a2-897a-705cf6b4b959","name":"Merge Existing Client","type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,96]},{"parameters":{"operation":"executeQuery","query":"WITH new_client AS (\n    INSERT INTO elo_t_clients (tenant_id, name, phone)\n    VALUES (\n      '{{ $('Prepare Client Cache Key').first().json.tenant_id }}'::uuid,\n      {{ $('Prepare Client Cache Key').first().json.client_name ? \"'\" + $('Prepare Client Cache Key').first().json.client_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},    \n      {{ $('Prepare Client Cache Key').first().json.client_phone ? \"'\" + $('Prepare Client Cache Key').first().json.client_phone + \"'\" : 'NULL' }}\n    )\n    RETURNING id as client_id, name, phone\n  ),\n  link AS (\n    INSERT INTO elo_t_client_channels (client_id, channel_id, external_id)\n    SELECT client_id, {{ $('Prepare Client Cache Key').first().json.channel_id }}, '{{ $('Prepare Client Cache Key').first().json.client_external_id }}'\n    FROM new_client\n  )\n  SELECT * FROM new_client;","options":{}},"id":"2ed05bd9-4e83-4cee-9a12-218036736df5","name":"DB Create Client","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2832,288],"credentials":{"postgres":{"id":"n2SyhP9QhMnp1ryk","name":"Postgres account"}}},{"parameters":{"jsCode":"// Merge new client\nconst data = $('Prepare Client Cache Key').first().json;\nconst client = $('DB Create Client').first().json;\n\nreturn {\n  ...data,\n  client_id: String(client.client_id),\n  client_name: client.name,\n  client_phone: client.phone,\n  is_new_client: true,\n  client_from_cache: false,\n  should_cache_client: true\n};"},"id":"1d9ead69-5543-45ea-9d22-2a8d91f6fe5d","name":"Merge New Client","type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,288]},{"parameters":{"operation":"set","key":"={{ $json.client_cache_key }}","value":"={{ JSON.stringify({ client_id: $json.client_id, name: $json.client_name, phone: $json.client_phone, is_new: false }) }}","expire":true,"ttl":"={{ $('Validate Input').first().json.config.CACHE_TTL_CLIENT }}"},"id":"f402102b-a91b-4716-9ed6-6be25d63547c","name":"Cache Set Client","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3280,192],"credentials":{"redis":{"id":"7FQcEivUY94atW24","name":"Redis account"}}},{"parameters":{"jsCode":"// Prepare for dialog resolution\nconst data = $json;\nconst dialog_cache_key = `cache:dialog:${data.client_id}:${data.channel_id}`;\nreturn { ...data, dialog_cache_key };"},"id":"f9cfc680-4eee-4585-ae0f-ea992d6c7db8","name":"Prepare Dialog Cache Key","type":"n8n-nodes-base.code","typeVersion":2,"position":[3488,96]},{"parameters":{"operation":"get","key":"={{ $json.dialog_cache_key }}","options":{}},"id":"651ccc2d-b66d-4880-b7aa-11d0f301fa27","name":"Cache Get Dialog","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3712,96],"credentials":{"redis":{"id":"7FQcEivUY94atW24","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"dialog-cache-hit","leftValue":"={{ $json.propertyName }}","rightValue":"","operator":{"type":"boolean","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"id":"9adae941-8edf-42c4-8b0a-7b7a7e0148d2","name":"Dialog Cache Hit?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3936,96]},{"parameters":{"jsCode":"const cachedValue = $json.propertyName || $json.value;\n  if (!cachedValue || cachedValue === 'undefined' || cachedValue === 'null') {\n    throw new Error('Cache miss - invalid value');\n  }\n  const cached = JSON.parse(cachedValue);\n  const data = $('Prepare Dialog Cache Key').first().json;\n\n  if (cached.status === 'active' || cached.status === 'waiting') {\n    return {\n      ...data,\n      dialog_id: cached.dialog_id,\n      dialog_status: cached.status,\n      is_new_dialog: false,\n      dialog_from_cache: true\n    };\n  }\n\n  throw new Error('Cache stale - need DB query');"},"id":"c0e2e1ee-5d76-4c28-bcb1-d1c39125cd9a","name":"Parse Cached Dialog","type":"n8n-nodes-base.code","typeVersion":2,"position":[4160,-16]},{"parameters":{"operation":"executeQuery","query":"  SELECT id as dialog_id, status_id, vertical_id\n  FROM elo_t_dialogs\n  WHERE client_id = '{{ $('Prepare Dialog Cache Key').first().json.client_id }}'::uuid\n    AND channel_id = {{ $('Prepare Dialog Cache Key').first().json.channel_id }}\n    AND status_id IN (1, 2)\n  ORDER BY updated_at DESC\n  LIMIT 1;","options":{}},"id":"a1a0125e-2223-4acb-bc36-7e0b0f2972b1","name":"DB Get Dialog","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[4160,192],"alwaysOutputData":true,"credentials":{"postgres":{"id":"n2SyhP9QhMnp1ryk","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"dialog-found","leftValue":"={{ $json.dialog_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d3947055-82c5-4d22-9540-30ca4fbd0a73","name":"Dialog Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[4368,192]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO elo_t_dialogs (tenant_id, client_id, channel_id, status_id, external_chat_id)\n  VALUES (\n    '{{ $('Prepare Dialog Cache Key').first().json.tenant_id }}'::uuid,\n    '{{ $('Prepare Dialog Cache Key').first().json.client_id }}'::uuid,\n    {{ $('Prepare Dialog Cache Key').first().json.channel_id }},\n    1,\n    '{{ $('Prepare Dialog Cache Key').first().json.external_chat_id }}'\n  )\n  RETURNING id as dialog_id;","options":{}},"id":"86891c18-4c13-4979-af8f-4efcf0282edb","name":"DB Create Dialog","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[4592,288],"credentials":{"postgres":{"id":"n2SyhP9QhMnp1ryk","name":"Postgres account"}}},{"parameters":{"jsCode":"// Merge new dialog\nconst data = $('Prepare Dialog Cache Key').first().json;\nconst dialog = $('DB Create Dialog').first().json;\n\nreturn {\n  ...data,\n  dialog_id: String(dialog.dialog_id),\n  dialog_status: 'active',\n  is_new_dialog: true,\n  dialog_from_cache: false,\n  should_cache_dialog: true\n};"},"id":"c1721ccf-fec2-4a27-bf6a-7b1c4172d3c1","name":"Merge New Dialog","type":"n8n-nodes-base.code","typeVersion":2,"position":[4816,288]},{"parameters":{"operation":"set","key":"={{ $json.dialog_cache_key }}","value":"={{ JSON.stringify({ dialog_id: $json.dialog_id, status: $json.dialog_status || 'active', vertical_id: null, is_new: false }) }}","expire":true,"ttl":"={{ $('Validate Input').first().json.config.CACHE_TTL_DIALOG }}"},"id":"896864fa-7b6f-430f-b107-87f4d1d00b5b","name":"Cache Set Dialog","type":"n8n-nodes-base.redis","typeVersion":1,"position":[5040,192],"credentials":{"redis":{"id":"7FQcEivUY94atW24","name":"Redis account"}}},{"parameters":{"jsCode":"// Build final output - mirrors MCP main.py\nconst data = $json;\n\nreturn {\n  tenant_id: data.tenant_id,\n  domain_id: data.domain_id,\n  client_id: data.client_id,\n  dialog_id: data.dialog_id,\n  channel_id: data.channel_id,\n  external_chat_id: data.external_chat_id,\n  text: data.text,\n  timestamp: data.timestamp,\n  message_ids: data.message_ids || [],\n  trace_id: data.trace_id,\n  media: data.media || {},\n  meta: {\n    ...(data.meta || {}),\n    is_new_client: data.is_new_client || false,\n    is_new_dialog: data.is_new_dialog || false,\n    tenant_from_cache: data.tenant_from_cache || false,\n    client_from_cache: data.client_from_cache || false,\n    dialog_from_cache: data.dialog_from_cache || false\n  },\n  client: {\n    id: data.client_id,\n    name: data.client_name,\n    phone: data.client_phone\n  }\n};"},"id":"c6302057-b80e-4027-aff9-1d139575c1ea","name":"Build Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[5248,96]},{"parameters":{"method":"POST","url":"={{ $('Validate Input').first().json.config.CORE_URL }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":10000}},"id":"63c92f9e-b18f-4970-9539-f380c952fdad","name":"Forward to Core","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5504,96],"continueOnFail":true},{"parameters":{"respondWith":"json","responseBody":"={{ { accepted: true, tenant_id: $json.tenant_id, client_id: $json.client_id, dialog_id: $json.dialog_id, trace_id: $json.trace_id } }}","options":{}},"id":"23ccb175-71b4-449b-b2a8-d11cb33ee013","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[5968,96]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,-80],"id":"07ca004c-c10c-4471-ab16-64758c207716","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"  INSERT INTO elo_t_messages (\n      tenant_id,\n      dialog_id,\n      client_id,\n      direction_id,\n      actor_type,\n      actor_id,\n      content,\n      external_message_id,\n      created_at\n    ) VALUES (\n      '{{ $('Build Output').item.json.tenant_id }}'::uuid,\n      '{{ $('Build Output').item.json.dialog_id }}'::uuid,\n      '{{ $('Build Output').item.json.client_id }}'::uuid,\n      1,\n      'client',\n      '{{ $('Build Output').item.json.client_id }}'::uuid,\n      '{{ ($('Build Output').item.json.text || '').replace(/'/g, \"''\") }}',\n      '{{ $('Build Output').item.json.trace_id }}',\n      NOW()\n    )\n    RETURNING id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[5744,96],"id":"3d3770b5-f99e-4d1b-90e3-5fa3001ecf10","name":"Save Incoming Message","credentials":{"postgres":{"id":"n2SyhP9QhMnp1ryk","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"029e95e5-e7f8-4f66-af31-b0c68e0cb705","leftValue":"={{ $json.CachedTenant }}","rightValue":"=null","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[384,96],"id":"e5148605-5f01-4d41-be72-968edd8eec04","name":"If"},{"parameters":{},"id":"7d0dee82-c178-41cd-8ff8-cb5d93453e43","name":"End (Empty)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[624,320]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Cache Get Tenant","type":"main","index":0}]]},"Cache Get Tenant":{"main":[[{"node":"If","type":"main","index":0}]]},"Tenant Cache Hit?":{"main":[[{"node":"Parse Cached Tenant","type":"main","index":0}],[{"node":"DB Get Tenant","type":"main","index":0}]]},"Parse Cached Tenant":{"main":[[{"node":"Prepare Client Cache Key","type":"main","index":0}]]},"DB Get Tenant":{"main":[[{"node":"Tenant Found?","type":"main","index":0}]]},"Tenant Found?":{"main":[[{"node":"Cache Set Tenant","type":"main","index":0}],[{"node":"Prepare DLQ Tenant","type":"main","index":0}]]},"Cache Set Tenant":{"main":[[{"node":"Merge Tenant","type":"main","index":0}]]},"Merge Tenant":{"main":[[{"node":"Prepare Client Cache Key","type":"main","index":0}]]},"Prepare DLQ Tenant":{"main":[[{"node":"Push DLQ Tenant","type":"main","index":0}]]},"Push DLQ Tenant":{"main":[[{"node":"Respond Unknown Tenant","type":"main","index":0}]]},"Prepare Client Cache Key":{"main":[[{"node":"Cache Get Client","type":"main","index":0}]]},"Cache Get Client":{"main":[[{"node":"Client Cache Hit?","type":"main","index":0}]]},"Client Cache Hit?":{"main":[[{"node":"Parse Cached Client","type":"main","index":0}],[{"node":"DB Get Client By External","type":"main","index":0}]]},"Parse Cached Client":{"main":[[{"node":"Prepare Dialog Cache Key","type":"main","index":0}]]},"DB Get Client By External":{"main":[[{"node":"Client Found By External?","type":"main","index":0}]]},"Client Found By External?":{"main":[[{"node":"Merge Existing Client","type":"main","index":0}],[{"node":"DB Create Client","type":"main","index":0}]]},"Merge Existing Client":{"main":[[{"node":"Cache Set Client","type":"main","index":0}]]},"DB Create Client":{"main":[[{"node":"Merge New Client","type":"main","index":0}]]},"Merge New Client":{"main":[[{"node":"Cache Set Client","type":"main","index":0}]]},"Cache Set Client":{"main":[[{"node":"Prepare Dialog Cache Key","type":"main","index":0}]]},"Prepare Dialog Cache Key":{"main":[[{"node":"Cache Get Dialog","type":"main","index":0}]]},"Cache Get Dialog":{"main":[[{"node":"Dialog Cache Hit?","type":"main","index":0}]]},"Dialog Cache Hit?":{"main":[[{"node":"Parse Cached Dialog","type":"main","index":0}],[{"node":"DB Get Dialog","type":"main","index":0}]]},"Parse Cached Dialog":{"main":[[{"node":"Build Output","type":"main","index":0}]]},"DB Get Dialog":{"main":[[{"node":"Dialog Found?","type":"main","index":0}]]},"Dialog Found?":{"main":[[{"node":"Cache Set Dialog","type":"main","index":0}],[{"node":"DB Create Dialog","type":"main","index":0}]]},"DB Create Dialog":{"main":[[{"node":"Merge New Dialog","type":"main","index":0}]]},"Merge New Dialog":{"main":[[{"node":"Cache Set Dialog","type":"main","index":0}]]},"Cache Set Dialog":{"main":[[{"node":"Build Output","type":"main","index":0}]]},"Build Output":{"main":[[{"node":"Forward to Core","type":"main","index":0}]]},"Forward to Core":{"main":[[{"node":"Save Incoming Message","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Save Incoming Message":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"If":{"main":[[{"node":"Tenant Cache Hit?","type":"main","index":0}],[{"node":"End (Empty)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"skip":false,"batch_key":"telegram:tg_1132511247","payload":{"channel":"telegram","bot_token":"6939426823:AAEEvJCRUvZh5F_ihH1AzJTbiWntARqseIY","external_user_id":"tg_1132511247","external_chat_id":"tg_1132511247","client_name":"РемАкс MD","client_phone":null,"text":"Здравствуйте, iPhone 15 Pro это телефон сына можно починить?\n\nЗдравствуйте, iPhone 14 Pro это телефон сына можно починить?\n\nЗдравствуйте, iPhone 15 Pro это телефон сына можно починить?","timestamp":"2025-12-26T11:45:35","message_ids":["1247","1248","1249"],"trace_id":"trace_1766749548122","media":{"items":[{"has_voice":false,"voice_transcribed_text":null,"has_images":false,"images":[],"has_video":false,"videos":[],"has_document":false,"has_callback":false},{"has_voice":false,"voice_transcribed_text":null,"has_images":false,"images":[],"has_video":false,"videos":[],"has_document":false,"has_callback":false},{"has_voice":false,"voice_transcribed_text":null,"has_images":false,"images":[],"has_video":false,"videos":[],"has_document":false,"has_callback":false}]},"tenant_id":"a0000000-0000-0000-0000-000000000001","tenant_name":"Default Tenant","tenant_config":{"token":"6939426823:AAEEvJCRUvZh5F_ihH1AzJTbiWntARqseIY"},"meta":{"external_message_id":"1249","ad_channel":"telegram","ad_id":null,"original_media_type":"text","telegram_user_id":"1132511247","telegram_chat_id":"1132511247","is_callback":false,"callback_data":null,"raw":{"update_id":517860126,"message":{"message_id":1249,"from":{"id":1132511247,"is_bot":false,"first_name":"РемАкс MD","username":"RemacsMD","language_code":"ru","is_premium":true},"chat":{"id":1132511247,"first_name":"РемАкс MD","username":"RemacsMD","type":"private"},"date":1766749535,"text":"Здравствуйте, iPhone 15 Pro это телефон сына можно починить?"}},"provider":"mcp-telegram","batched":true,"batch_size":3,"batch_reason":"orphan"}},"batch_list_key":"batch:telegram:tg_1132511247","deadline_key":"deadline:telegram:tg_1132511247","first_seen_key":"first_seen:telegram:tg_1132511247"},"pairedItem":{"item":0}}]},"versionId":"a80cc0ca-dbf6-4281-8433-ed22edebeb9b","activeVersionId":null,"versionCounter":117,"triggerCount":1,"shared":[{"updatedAt":"2025-12-11T17:11:03.023Z","createdAt":"2025-12-11T17:11:03.023Z","role":"workflow:owner","workflowId":"OHjjTQDguN2G6xin","projectId":"x7frUSUEowDAk8Dt","project":{"updatedAt":"2025-08-25T18:57:22.218Z","createdAt":"2025-08-25T08:16:18.805Z","id":"x7frUSUEowDAk8Dt","name":"Dmitriy Remacs <dk@n8nsrv.ru>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-08-25T08:16:18.805Z","createdAt":"2025-08-25T08:16:18.805Z","userId":"1d5222a1-8f53-4940-b7de-93daeae04393","projectId":"x7frUSUEowDAk8Dt","user":{"updatedAt":"2025-12-27T08:39:03.000Z","createdAt":"2025-08-25T08:16:17.784Z","id":"1d5222a1-8f53-4940-b7de-93daeae04393","email":"dk@n8nsrv.ru","firstName":"Dmitriy","lastName":"Remacs","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RbSUhceYc7q41M5j","userActivatedAt":1756286438389},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":null}