NEW/workflows/ELO_Resolver_v2.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "187a49f5-eeff-4fd3-953f-3ae80a8401f2",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -21632,
        4544
      ]
    },
    {
      "parameters": {
        "jsCode": "// ELO_Resolver - Validate Input\nconst raw = $input.first().json;\nconst input = raw.payload || raw;\n\n// Extract credential\nlet credential = input.credential\n  || input.meta?.raw?.sessionId\n  || input.meta?.raw?.botId\n  || input.session_id\n  || input.bot_token;\n\nif (!input.channel) throw new Error('Missing: channel');\nif (!credential) throw new Error('Missing: credential');\nif (!input.external_chat_id) throw new Error('Missing: external_chat_id');\n\nconst channel = input.channel.toLowerCase();\nconst phoneChannels = ['whatsapp', 'max'];\nconst hasPhone = phoneChannels.includes(channel);\n\nlet phone = null;\nif (channel === 'whatsapp') {\n  phone = input.external_chat_id.split('@')[0];\n} else if (channel === 'max') {\n  phone = input.external_user_id || input.external_chat_id;\n}\n\nreturn {\n  ...input,\n  channel,\n  credential,\n  sender_name: input.client_name || input.sender_name || 'Unknown',\n  hasPhone,\n  phone,\n  tenantCacheKey: `cache:tenant:${channel}:${credential}`,\n  trace_id: input.trace_id || `res_${Date.now()}`\n};"
      },
      "id": "786ae34b-b94f-46dd-aab1-51046fe15bd5",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21408,
        4544
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.tenantCacheKey }}",
        "options": {}
      },
      "id": "96a5f28e-1fe7-429d-8445-991dd1cb7420",
      "name": "Redis Get Tenant",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -21200,
        4544
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check tenant cache and restore input data\nconst input = $('Validate Input').first().json;\nconst redis = $input.first().json;\n\nconst cached = redis.value || redis.propertyName || redis.CachedTenant;\n\nif (cached && cached !== 'null') {\n  const tenant = typeof cached === 'string' ? JSON.parse(cached) : cached;\n  return {\n    ...input,\n    tenant_id: tenant.tenant_id,\n    channel_account_id: tenant.channel_account_id,\n    channel_id: tenant.channel_id,\n    _tenant_from_cache: true\n  };\n}\n\nreturn { ...input, _tenant_from_cache: false };"
      },
      "id": "1ac2dde5-652d-4634-91d1-e3ea4278c261",
      "name": "Check Tenant Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20976,
        4544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "0905f5f3-de0d-45a3-85c3-13d80e3380b1",
      "name": "Tenant Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -20752,
        4544
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ca.tenant_id, ca.id as channel_account_id, ca.channel_id\nFROM elo_t_channel_accounts ca\nJOIN elo_channels c ON c.id = ca.channel_id\nWHERE c.code = '{{ $json.channel }}' AND ca.session_id = '{{ $json.credential }}' AND ca.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "id": "7f3c1595-3092-47ab-9121-0f16a5ce87c2",
      "name": "DB Get Tenant",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -20528,
        4640
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge tenant from DB\nconst input = $('Check Tenant Cache').first().json;\nconst db = $input.first().json;\n\nif (!db.tenant_id) {\n  throw new Error(`Channel not registered: ${input.channel}:${input.credential}`);\n}\n\nreturn {\n  ...input,\n  tenant_id: db.tenant_id,\n  channel_account_id: db.channel_account_id,\n  channel_id: db.channel_id,\n  _tenant_from_cache: false\n};"
      },
      "id": "ce974a3b-159d-4720-b6d7-0377ea88a380",
      "name": "Merge Tenant DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20320,
        4640
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.tenantCacheKey }}",
        "value": "={{ JSON.stringify({ tenant_id: $json.tenant_id, channel_account_id: $json.channel_account_id, channel_id: $json.channel_id }) }}",
        "expire": true,
        "ttl": 86400
      },
      "id": "60f4596f-dbfd-479d-8728-f9c86418659a",
      "name": "Redis Set Tenant",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -20096,
        4640
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restore data after Redis SET\nconst data = $('Merge Tenant DB').first().json;\nreturn data;"
      },
      "id": "3cc15de4-1959-4cec-b859-53128a9920c1",
      "name": "Restore After Set",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19872,
        4640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine tenant paths\nlet data = null;\ntry { data = $('Tenant Cached?').first().json; if (data.tenant_id) return data; } catch(e) {}\ntry { data = $('Restore After Set').first().json; if (data.tenant_id) return data; } catch(e) {}\nthrow new Error('No tenant data');"
      },
      "id": "4fc030da-24ec-4160-9c92-6a6eeaad3928",
      "name": "Combine Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19648,
        4544
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build client cache key\nconst data = $json;\nreturn {\n  ...data,\n  clientCacheKey: `cache:client:${data.tenant_id}:${data.channel}:${data.external_chat_id}`\n};"
      },
      "id": "b9d54a41-f812-44a3-b2e3-d3b77cd5981d",
      "name": "Build Client Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19440,
        4544
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.clientCacheKey }}",
        "options": {}
      },
      "id": "973c48dc-318d-45ef-a133-a5d7b2a6b881",
      "name": "Redis Get Client",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -19216,
        4544
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check client cache\nconst input = $('Build Client Key').first().json;\nconst redis = $input.first().json;\nconst cached = redis.value || redis.propertyName;\n\nif (cached && cached !== 'null') {\n  const client = typeof cached === 'string' ? JSON.parse(cached) : cached;\n  return { ...input, client_id: client.client_id, _client_from_cache: true, is_new_client: false };\n}\nreturn { ...input, _client_from_cache: false };"
      },
      "id": "03e6f891-8e4f-4244-8a0f-3d51fc3c679e",
      "name": "Check Client Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18992,
        4544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.client_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "fec12654-700c-4aa9-9ce0-28e206f21a21",
      "name": "Client Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -18768,
        4544
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id as client_id FROM elo_t_clients c\nJOIN elo_t_client_channels cc ON cc.client_id = c.id\nWHERE c.tenant_id = '{{ $json.tenant_id }}'\n  AND cc.channel_id = {{ $json.channel_id }}\n  AND cc.external_id = '{{ $json.external_chat_id }}'\nLIMIT 1;",
        "options": {}
      },
      "id": "2d273f51-6d30-4f52-920f-e45b22a3970d",
      "name": "DB Get Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -18560,
        4832
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if client found or need to create\nconst input = $('Check Client Cache').first().json;\nconst db = $input.first().json;\n\nif (db.client_id) {\n  return { ...input, client_id: db.client_id, is_new_client: false, _need_create: false };\n}\nreturn { ...input, _need_create: true };"
      },
      "id": "9826cffa-b1ed-4d99-9617-9cddf1b8bc62",
      "name": "Check Client Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18336,
        4832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.client_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "36af70ce-d30b-442d-a728-c2004aa723b5",
      "name": "Need Create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -18112,
        4832
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH new_client AS (\n  INSERT INTO elo_t_clients (tenant_id, name, phone)\n  VALUES ('{{ $json.tenant_id }}', '{{ $json.sender_name }}', '{{ $json.phone || \"\" }}')\n  RETURNING id\n)\nINSERT INTO elo_t_client_channels (client_id, channel_id, external_id)\nSELECT id, {{ $json.channel_id }}, '{{ $json.external_chat_id }}' FROM new_client\nRETURNING client_id;",
        "options": {}
      },
      "id": "4c56ed00-dfcc-4c40-bfdc-1acbd1897579",
      "name": "DB Create Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -17888,
        4736
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge new client\nconst input = $('Check Client Found').first().json;\nconst db = $input.first().json;\nreturn { ...input, client_id: db.client_id, is_new_client: true, _need_create: false };"
      },
      "id": "2d19efb4-2efb-478b-85f1-5def94705cca",
      "name": "Merge New Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -17680,
        4736
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine client paths\nlet data = null;\n\n// Path 1: From cache\ntry { \n  data = $('Client Cached?').first().json; \n  if (data.client_id) return data;\n} catch(e) {}\n\n// Path 2: From DB (existing)\ntry {\n  data = $('Check Client Found').first().json;\n  if (data.client_id) return data;\n} catch(e) {}\n\n// Path 3: Created new\ntry {\n  data = $('Merge New Client').first().json;\n  if (data.client_id) return data;\n} catch(e) {}\n\nthrow new Error('No client data');"
      },
      "id": "3d323a97-ed3b-4b7e-a6ee-9bc1ec7c1755",
      "name": "Combine Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -17456,
        4832
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.clientCacheKey }}",
        "value": "={{ JSON.stringify({ client_id: $json.client_id }) }}",
        "expire": true,
        "ttl": 3600
      },
      "id": "5039a46f-4e8d-4234-b7ce-cac0dae5c1a2",
      "name": "Redis Set Client",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -17232,
        4832
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restore after client cache set\nconst data = $('Combine Client').first().json;\nreturn data;"
      },
      "id": "a03b10db-8e7b-4a64-9fab-05bb615e61d7",
      "name": "Restore After Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -17008,
        4832
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine all client paths (cached or DB)\nlet data = null;\ntry { data = $('Client Cached?').first().json; if (data.client_id) return data; } catch(e) {}\ntry { data = $('Restore After Client').first().json; if (data.client_id) return data; } catch(e) {}\nthrow new Error('No client');"
      },
      "id": "6a0b8712-8642-4dd3-83f1-dbe0980c792f",
      "name": "Final Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16800,
        4544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasPhone }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ab1b8de3-3d48-443c-bbd4-5e00f9a87843",
      "name": "Has Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -16576,
        4544
      ]
    },
    {
      "parameters": {
        "jsCode": "// Skip unifier for non-phone channels\nreturn { ...$json, was_unified: false, unifier_action: 'skipped' };"
      },
      "id": "96485ed3-c35c-400d-a758-163ccc01a51d",
      "name": "Skip Unifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16256,
        4560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "cfca5886-3130-4581-b48d-6e9d69333a4d",
      "name": "Call ELO_Unifier",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -16256,
        4272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare unifier input\nreturn {\n  tenant_id: $json.tenant_id,\n  client_id: $json.client_id,\n  phone: $json.phone,\n  source: 'resolver'\n};"
      },
      "id": "9113445d-f4ea-4d02-a576-0d50819a1270",
      "name": "Prep Unifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16448,
        4272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process unifier result\nconst input = $('Final Client').first().json;\nconst result = $input.first().json;\nreturn {\n  ...input,\n  client_id: result.result_client_id || input.client_id,\n  was_unified: result.was_merged || false,\n  unifier_action: result.action || 'none'\n};"
      },
      "id": "d7280417-38d8-4794-9d80-6f4d9352f114",
      "name": "Process Unifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16080,
        4272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine unifier paths\nlet data = null;\ntry { data = $('Process Unifier').first().json; if (data.client_id) return data; } catch(e) {}\ntry { data = $('Skip Unifier').first().json; if (data.client_id) return data; } catch(e) {}\nthrow new Error('No data after unifier');"
      },
      "id": "d51c742c-3934-4cd1-97dd-20b5d0a995bc",
      "name": "Combine Unifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15920,
        4544
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build dialog cache key\nreturn {\n  ...$json,\n  dialogCacheKey: `cache:dialog:${$json.tenant_id}:${$json.client_id}:${$json.channel_id}`\n};"
      },
      "id": "9544b3ad-8a22-48a8-bea2-597170b772cf",
      "name": "Build Dialog Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15696,
        4544
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.dialogCacheKey }}",
        "options": {}
      },
      "id": "7505d298-5376-4477-80f1-e33e5dd6f535",
      "name": "Redis Get Dialog",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -15472,
        4544
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check dialog cache\nconst input = $('Build Dialog Key').first().json;\nconst redis = $input.first().json;\nconst cached = redis.value || redis.propertyName;\n\nif (cached && cached !== 'null') {\n  const dialog = typeof cached === 'string' ? JSON.parse(cached) : cached;\n  return { ...input, dialog_id: dialog.dialog_id, _dialog_from_cache: true, is_new_dialog: false };\n}\nreturn { ...input, _dialog_from_cache: false };"
      },
      "id": "9ca1b8dc-3223-4aef-bea8-1fc7af159583",
      "name": "Check Dialog Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15248,
        4544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.dialog_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "08991141-0a91-41e4-b46c-1dbb9b83cee0",
      "name": "Dialog Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -15040,
        4544
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as dialog_id FROM elo_t_dialogs\nWHERE tenant_id = '{{ $json.tenant_id }}'\n  AND client_id = '{{ $json.client_id }}'\n  AND channel_id = {{ $json.channel_id }}\n  AND status_id != 3\nORDER BY last_message_at DESC NULLS LAST LIMIT 1;",
        "options": {}
      },
      "id": "854e797e-213e-4069-bf3c-38d1532cf6b7",
      "name": "DB Get Dialog",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -14816,
        4640
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check dialog found or create\nconst input = $('Check Dialog Cache').first().json;\nconst db = $input.first().json;\nif (db.dialog_id) {\n  return { ...input, dialog_id: db.dialog_id, is_new_dialog: false, _need_create_dialog: false };\n}\nreturn { ...input, _need_create_dialog: true };"
      },
      "id": "32b16f37-94c9-45db-a056-0d5bc285f3d6",
      "name": "Check Dialog Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14592,
        4640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.dialog_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "5d10642e-59c9-4e90-b50c-0c7660822ffc",
      "name": "Need Dialog?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -14368,
        4640
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO elo_t_dialogs (tenant_id, client_id, channel_id, channel_account_id, external_chat_id, status_id)\nVALUES ('{{ $json.tenant_id }}', '{{ $json.client_id }}', {{ $json.channel_id }}, '{{ $json.channel_account_id }}', '{{ $json.external_chat_id }}', 1)\nRETURNING id as dialog_id;",
        "options": {}
      },
      "id": "754fc4f7-4a26-493a-894c-98ce090bbdad",
      "name": "DB Create Dialog",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -14160,
        4544
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge new dialog\nconst input = $('Check Dialog Found').first().json;\nconst db = $input.first().json;\nreturn { ...input, dialog_id: db.dialog_id, is_new_dialog: true };"
      },
      "id": "8d95650c-f09d-44b8-bb60-27b75950e55e",
      "name": "Merge New Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13936,
        4544
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine dialog paths\nlet data = null;\ntry { data = $('Dialog Cached?').first().json; if (data.dialog_id) return data; } catch(e) {}\ntry { data = $('Check Dialog Found').first().json; if (data.dialog_id) return data; } catch(e) {}\ntry { data = $('Merge New Dialog').first().json; if (data.dialog_id) return data; } catch(e) {}\nthrow new Error('No dialog');"
      },
      "id": "86e8dffa-cc40-4ab7-a5a4-449e80901d88",
      "name": "Combine Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13712,
        4640
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.dialogCacheKey }}",
        "value": "={{ JSON.stringify({ dialog_id: $json.dialog_id }) }}",
        "expire": true,
        "ttl": 1800
      },
      "id": "b402e046-b40e-411c-b355-4191c794def0",
      "name": "Redis Set Dialog",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -13488,
        4640
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restore after dialog set\nconst data = $('Combine Dialog').first().json;\nreturn data;"
      },
      "id": "8fda2a6a-7324-4997-a5b9-32ed2f4adcee",
      "name": "Restore After Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13280,
        4640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Final combine\nlet data = null;\ntry { data = $('Dialog Cached?').first().json; if (data.dialog_id) return data; } catch(e) {}\ntry { data = $('Restore After Dialog').first().json; if (data.dialog_id) return data; } catch(e) {}\nthrow new Error('No final data');"
      },
      "id": "988527f0-11cb-46a8-9e82-9d30ad0e8830",
      "name": "Final Combine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13056,
        4544
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build Response\nconst d = $json;\nreturn {\n  tenant_id: d.tenant_id,\n  channel_account_id: d.channel_account_id,\n  channel_id: d.channel_id,\n  client_id: d.client_id,\n  dialog_id: d.dialog_id,\n  is_new_client: d.is_new_client || false,\n  is_new_dialog: d.is_new_dialog || false,\n  was_unified: d.was_unified || false,\n  channel: d.channel,\n  external_chat_id: d.external_chat_id,\n  sender_name: d.sender_name,\n  text: d.text,\n  trace_id: d.trace_id,\n  resolved_at: new Date().toISOString()\n};"
      },
      "id": "254286c2-2276-4b71-be08-0ae9beb540c3",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12832,
        4544
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Redis Get Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get Tenant": {
      "main": [
        [
          {
            "node": "Check Tenant Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tenant Cache": {
      "main": [
        [
          {
            "node": "Tenant Cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tenant Cached?": {
      "main": [
        [
          {
            "node": "Combine Tenant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB Get Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Get Tenant": {
      "main": [
        [
          {
            "node": "Merge Tenant DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Tenant DB": {
      "main": [
        [
          {
            "node": "Redis Set Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Set Tenant": {
      "main": [
        [
          {
            "node": "Restore After Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore After Set": {
      "main": [
        [
          {
            "node": "Combine Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Tenant": {
      "main": [
        [
          {
            "node": "Build Client Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Client Key": {
      "main": [
        [
          {
            "node": "Redis Get Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get Client": {
      "main": [
        [
          {
            "node": "Check Client Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Client Cache": {
      "main": [
        [
          {
            "node": "Client Cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Cached?": {
      "main": [
        [
          {
            "node": "Final Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB Get Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Get Client": {
      "main": [
        [
          {
            "node": "Check Client Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Client Found": {
      "main": [
        [
          {
            "node": "Need Create?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Create?": {
      "main": [
        [
          {
            "node": "DB Create Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combine Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Create Client": {
      "main": [
        [
          {
            "node": "Merge New Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge New Client": {
      "main": [
        [
          {
            "node": "Combine Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Client": {
      "main": [
        [
          {
            "node": "Redis Set Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Set Client": {
      "main": [
        [
          {
            "node": "Restore After Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore After Client": {
      "main": [
        [
          {
            "node": "Final Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Client": {
      "main": [
        [
          {
            "node": "Has Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Phone?": {
      "main": [
        [
          {
            "node": "Prep Unifier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Unifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Unifier": {
      "main": [
        [
          {
            "node": "Combine Unifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ELO_Unifier": {
      "main": [
        [
          {
            "node": "Process Unifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Unifier": {
      "main": [
        [
          {
            "node": "Call ELO_Unifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Unifier": {
      "main": [
        [
          {
            "node": "Combine Unifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Unifier": {
      "main": [
        [
          {
            "node": "Build Dialog Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dialog Key": {
      "main": [
        [
          {
            "node": "Redis Get Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get Dialog": {
      "main": [
        [
          {
            "node": "Check Dialog Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Dialog Cache": {
      "main": [
        [
          {
            "node": "Dialog Cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dialog Cached?": {
      "main": [
        [
          {
            "node": "Final Combine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB Get Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Get Dialog": {
      "main": [
        [
          {
            "node": "Check Dialog Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Dialog Found": {
      "main": [
        [
          {
            "node": "Need Dialog?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Dialog?": {
      "main": [
        [
          {
            "node": "DB Create Dialog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combine Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Create Dialog": {
      "main": [
        [
          {
            "node": "Merge New Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge New Dialog": {
      "main": [
        [
          {
            "node": "Combine Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Dialog": {
      "main": [
        [
          {
            "node": "Redis Set Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Set Dialog": {
      "main": [
        [
          {
            "node": "Restore After Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore After Dialog": {
      "main": [
        [
          {
            "node": "Final Combine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Combine": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ae77ca901b15c37bb42b26ea9b5a21b78217dd557a563108d875a64964c49bb"
  }
}