NEW/workflows/ELO_Resolver.json
{
  "name": "ELO_Resolver",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// ELO_Resolver - Validate Input\n// Input from ELO_Input_Processor: { payload: { channel, external_chat_id, meta.raw.sessionId, ... } }\n\nconst raw = $input.first().json;\n\n// Handle both wrapped (payload) and direct input\nconst input = raw.payload || raw;\n\n// Extract credential from different sources\nlet credential = null;\nif (input.credential) {\n  credential = input.credential;\n} else if (input.meta?.raw?.sessionId) {\n  credential = input.meta.raw.sessionId;\n} else if (input.meta?.raw?.botId) {\n  credential = input.meta.raw.botId;\n} else if (input.session_id) {\n  credential = input.session_id;\n} else if (input.bot_token) {\n  credential = input.bot_token;\n}\n\n// Required fields\nif (!input.channel) throw new Error('Missing required field: channel');\nif (!credential) throw new Error('Missing required field: credential (sessionId/botId not found in meta.raw)');\nif (!input.external_chat_id) throw new Error('Missing required field: external_chat_id');\n\n// Normalize channel to lowercase\nconst channel = input.channel.toLowerCase();\n\n// Validate channel\nconst validChannels = ['telegram', 'whatsapp', 'avito', 'vk', 'max', 'form', 'phone'];\nif (!validChannels.includes(channel)) {\n  throw new Error(`Invalid channel: ${channel}`);\n}\n\n// Channels where we can extract phone from external_chat_id\nconst phoneChannels = ['whatsapp', 'max'];\nconst hasPhoneInExternalId = phoneChannels.includes(channel);\n\n// Extract phone for WhatsApp (79997253777@s.whatsapp.net → 79997253777)\nlet phoneFromExternalId = null;\nif (channel === 'whatsapp' && input.external_chat_id) {\n  phoneFromExternalId = input.external_chat_id.split('@')[0];\n} else if (channel === 'max') {\n  phoneFromExternalId = input.external_user_id || input.external_chat_id;\n}\n\n// Cache keys\nconst tenantCacheKey = `cache:tenant:${channel}:${credential}`;\nconst clientCacheKey = `cache:client:${channel}:${input.external_chat_id}`;\n\n// Generate trace_id\nconst trace_id = input.trace_id || `res_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\nreturn {\n  // Original payload data\n  ...input,\n  \n  // Normalized fields\n  channel,\n  credential,\n  external_chat_id: input.external_chat_id,\n  sender_name: input.client_name || input.sender_name || 'Unknown',\n  sender_username: input.client_username || input.sender_username || '',\n  text: input.text || '',\n  \n  // Phone extraction\n  hasPhoneInExternalId,\n  phoneFromExternalId,\n  \n  // Cache keys\n  tenantCacheKey,\n  clientCacheKey,\n  \n  // Tracing\n  trace_id,\n  received_at: new Date().toISOString()\n};"
      },
      "id": "validate-001",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.tenantCacheKey }}",
        "options": {}
      },
      "id": "redis-tenant-get",
      "name": "Cache Get Tenant",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [440, 300],
      "credentials": {
        "redis": {
          "id": "redis-n8n",
          "name": "Redis n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1 },
          "conditions": [
            {
              "id": "tenant-cache-check",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-tenant-cache",
      "name": "Tenant Cache Hit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse cached tenant\nconst input = $('Validate Input').first().json;\nconst cached = JSON.parse($json.value);\n\nreturn {\n  ...input,\n  tenant_id: cached.tenant_id,\n  channel_account_id: cached.channel_account_id,\n  channel_id: cached.channel_id,\n  tenant_from_cache: true\n};"
      },
      "id": "parse-tenant-cache",
      "name": "Parse Tenant Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  ca.tenant_id,\n  ca.id as channel_account_id,\n  ca.channel_id\nFROM elo_t_channel_accounts ca\nJOIN elo_channels c ON c.id = ca.channel_id\nWHERE c.code = '{{ $('Validate Input').first().json.channel }}'\n  AND ca.session_id = '{{ $('Validate Input').first().json.credential }}'\n  AND ca.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "id": "db-tenant-query",
      "name": "DB Get Tenant",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "PostgreSQL Main"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1 },
          "conditions": [
            {
              "id": "tenant-found",
              "leftValue": "={{ $json.tenant_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-tenant-found",
      "name": "Tenant Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "jsCode": "// Tenant not found - channel not registered\nconst input = $('Validate Input').first().json;\n\nthrow new Error(`Channel not registered: ${input.channel}:${input.credential}. Please register channel first.`);"
      },
      "id": "error-no-tenant",
      "name": "Error: No Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 500]
    },
    {
      "parameters": {
        "jsCode": "// Prepare tenant data for caching\nconst input = $('Validate Input').first().json;\nconst tenant = $json;\n\nreturn {\n  ...input,\n  tenant_id: tenant.tenant_id,\n  channel_account_id: tenant.channel_account_id,\n  channel_id: tenant.channel_id,\n  tenant_from_cache: false,\n  \n  // For Redis SET\n  tenantCacheValue: JSON.stringify({\n    tenant_id: tenant.tenant_id,\n    channel_account_id: tenant.channel_account_id,\n    channel_id: tenant.channel_id\n  })\n};"
      },
      "id": "prepare-tenant-cache",
      "name": "Prepare Tenant Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.tenantCacheKey }}",
        "value": "={{ $json.tenantCacheValue }}",
        "expire": true,
        "ttl": 86400,
        "options": {}
      },
      "id": "redis-tenant-set",
      "name": "Cache Set Tenant",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1540, 300],
      "credentials": {
        "redis": {
          "id": "redis-n8n",
          "name": "Redis n8n"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [{ "field1": "trace_id", "field2": "trace_id" }]
        },
        "options": {}
      },
      "id": "merge-tenant",
      "name": "Merge Tenant",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build client cache key with tenant_id\nconst data = $json;\n\n// Client cache includes tenant for multi-tenant isolation\nconst clientCacheKey = `cache:client:${data.tenant_id}:${data.channel}:${data.external_chat_id}`;\n\nreturn {\n  ...data,\n  clientCacheKey\n};"
      },
      "id": "build-client-key",
      "name": "Build Client Cache Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.clientCacheKey }}",
        "options": {}
      },
      "id": "redis-client-get",
      "name": "Cache Get Client",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2200, 300],
      "credentials": {
        "redis": {
          "id": "redis-n8n",
          "name": "Redis n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1 },
          "conditions": [
            {
              "id": "client-cache-check",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-client-cache",
      "name": "Client Cache Hit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2420, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse cached client\nconst input = $('Build Client Cache Key').first().json;\nconst cached = JSON.parse($json.value);\n\nreturn {\n  ...input,\n  client_id: cached.client_id,\n  client_from_cache: true,\n  is_new_client: false\n};"
      },
      "id": "parse-client-cache",
      "name": "Parse Client Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id as client_id\nFROM elo_t_clients c\nJOIN elo_t_client_channels cc ON cc.client_id = c.id\nWHERE c.tenant_id = '{{ $('Build Client Cache Key').first().json.tenant_id }}'\n  AND cc.channel_id = {{ $('Build Client Cache Key').first().json.channel_id }}\n  AND cc.external_id = '{{ $('Build Client Cache Key').first().json.external_chat_id }}'\nLIMIT 1;",
        "options": {}
      },
      "id": "db-client-query",
      "name": "DB Get Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2640, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "PostgreSQL Main"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1 },
          "conditions": [
            {
              "id": "client-found",
              "leftValue": "={{ $json.client_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-client-found",
      "name": "Client Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2860, 400]
    },
    {
      "parameters": {
        "jsCode": "// Existing client found\nconst input = $('Build Client Cache Key').first().json;\nconst client = $json;\n\nreturn {\n  ...input,\n  client_id: client.client_id,\n  client_from_cache: false,\n  is_new_client: false,\n  \n  // For Redis SET\n  clientCacheValue: JSON.stringify({\n    client_id: client.client_id\n  })\n};"
      },
      "id": "prepare-existing-client",
      "name": "Prepare Existing Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create new client and client_channel\nWITH new_client AS (\n  INSERT INTO elo_t_clients (tenant_id, name)\n  VALUES (\n    '{{ $('Build Client Cache Key').first().json.tenant_id }}',\n    '{{ $('Build Client Cache Key').first().json.sender_name || \"Unknown\" }}'\n  )\n  RETURNING id\n)\nINSERT INTO elo_t_client_channels (client_id, channel_id, external_id, external_username)\nSELECT \n  new_client.id,\n  {{ $('Build Client Cache Key').first().json.channel_id }},\n  '{{ $('Build Client Cache Key').first().json.external_chat_id }}',\n  '{{ $('Build Client Cache Key').first().json.sender_username || \"\" }}'\nFROM new_client\nRETURNING client_id;",
        "options": {}
      },
      "id": "db-client-create",
      "name": "DB Create Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3080, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "PostgreSQL Main"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// New client created\nconst input = $('Build Client Cache Key').first().json;\nconst result = $json;\n\nreturn {\n  ...input,\n  client_id: result.client_id,\n  client_from_cache: false,\n  is_new_client: true,\n  \n  // For Redis SET\n  clientCacheValue: JSON.stringify({\n    client_id: result.client_id\n  })\n};"
      },
      "id": "prepare-new-client",
      "name": "Prepare New Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [{ "field1": "trace_id", "field2": "trace_id" }]
        },
        "options": {}
      },
      "id": "merge-client-db",
      "name": "Merge Client DB",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3520, 400]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.clientCacheKey }}",
        "value": "={{ $json.clientCacheValue }}",
        "expire": true,
        "ttl": 3600,
        "options": {}
      },
      "id": "redis-client-set",
      "name": "Cache Set Client",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [3740, 400],
      "credentials": {
        "redis": {
          "id": "redis-n8n",
          "name": "Redis n8n"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [{ "field1": "trace_id", "field2": "trace_id" }]
        },
        "options": {}
      },
      "id": "merge-client-all",
      "name": "Merge Client All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3960, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1 },
          "conditions": [
            {
              "id": "has-phone",
              "leftValue": "={{ $json.hasPhoneInExternalId }}",
              "rightValue": "true",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-phone",
      "name": "Has Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4180, 300]
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id.replace('ELO_Resolver', 'ELO_Unifier') }}",
        "options": {}
      },
      "id": "call-unifier",
      "name": "Call ELO_Unifier",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [4400, 200]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for ELO_Unifier\nconst data = $json;\n\n// Use extracted phone (without @s.whatsapp.net suffix)\nconst phone = data.phoneFromExternalId || data.external_chat_id;\n\nreturn {\n  tenant_id: data.tenant_id,\n  client_id: data.client_id,\n  phone: phone,\n  source: 'resolver'\n};"
      },
      "id": "prepare-unifier-input",
      "name": "Prepare Unifier Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4400, 100]
    },
    {
      "parameters": {
        "jsCode": "// Process Unifier result\nconst input = $('Merge Client All').first().json;\nconst unifierResult = $json;\n\n// Use result_client_id from Unifier (may be different if merged)\nconst finalClientId = unifierResult.result_client_id || input.client_id;\n\nreturn {\n  ...input,\n  client_id: finalClientId,\n  was_unified: unifierResult.was_merged || false,\n  unifier_action: unifierResult.action\n};"
      },
      "id": "process-unifier-result",
      "name": "Process Unifier Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4620, 200]
    },
    {
      "parameters": {
        "jsCode": "// No phone unification needed - pass through\nconst data = $json;\n\nreturn {\n  ...data,\n  was_unified: false,\n  unifier_action: 'skipped'\n};"
      },
      "id": "skip-unifier",
      "name": "Skip Unifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4400, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [{ "field1": "trace_id", "field2": "trace_id" }]
        },
        "options": {}
      },
      "id": "merge-after-unifier",
      "name": "Merge After Unifier",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [4840, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build dialog cache key\nconst data = $json;\n\nconst dialogCacheKey = `cache:dialog:${data.tenant_id}:${data.client_id}:${data.channel_id}`;\n\nreturn {\n  ...data,\n  dialogCacheKey\n};"
      },
      "id": "build-dialog-key",
      "name": "Build Dialog Cache Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5060, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.dialogCacheKey }}",
        "options": {}
      },
      "id": "redis-dialog-get",
      "name": "Cache Get Dialog",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [5280, 300],
      "credentials": {
        "redis": {
          "id": "redis-n8n",
          "name": "Redis n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1 },
          "conditions": [
            {
              "id": "dialog-cache-check",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-dialog-cache",
      "name": "Dialog Cache Hit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [5500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse cached dialog\nconst input = $('Build Dialog Cache Key').first().json;\nconst cached = JSON.parse($json.value);\n\nreturn {\n  ...input,\n  dialog_id: cached.dialog_id,\n  dialog_from_cache: true,\n  is_new_dialog: false\n};"
      },
      "id": "parse-dialog-cache",
      "name": "Parse Dialog Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5720, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as dialog_id\nFROM elo_t_dialogs\nWHERE tenant_id = '{{ $('Build Dialog Cache Key').first().json.tenant_id }}'\n  AND client_id = '{{ $('Build Dialog Cache Key').first().json.client_id }}'\n  AND channel_id = {{ $('Build Dialog Cache Key').first().json.channel_id }}\n  AND status_id != 3  -- Not closed\nORDER BY last_message_at DESC NULLS LAST\nLIMIT 1;",
        "options": {}
      },
      "id": "db-dialog-query",
      "name": "DB Get Dialog",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [5720, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "PostgreSQL Main"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1 },
          "conditions": [
            {
              "id": "dialog-found",
              "leftValue": "={{ $json.dialog_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-dialog-found",
      "name": "Dialog Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [5940, 400]
    },
    {
      "parameters": {
        "jsCode": "// Existing dialog found\nconst input = $('Build Dialog Cache Key').first().json;\nconst dialog = $json;\n\nreturn {\n  ...input,\n  dialog_id: dialog.dialog_id,\n  dialog_from_cache: false,\n  is_new_dialog: false,\n  \n  // For Redis SET\n  dialogCacheValue: JSON.stringify({\n    dialog_id: dialog.dialog_id\n  })\n};"
      },
      "id": "prepare-existing-dialog",
      "name": "Prepare Existing Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6160, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO elo_t_dialogs (\n  tenant_id,\n  client_id,\n  channel_id,\n  channel_account_id,\n  external_chat_id,\n  status_id\n) VALUES (\n  '{{ $('Build Dialog Cache Key').first().json.tenant_id }}',\n  '{{ $('Build Dialog Cache Key').first().json.client_id }}',\n  {{ $('Build Dialog Cache Key').first().json.channel_id }},\n  '{{ $('Build Dialog Cache Key').first().json.channel_account_id }}',\n  '{{ $('Build Dialog Cache Key').first().json.external_chat_id }}',\n  1  -- New\n)\nRETURNING id as dialog_id;",
        "options": {}
      },
      "id": "db-dialog-create",
      "name": "DB Create Dialog",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [6160, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "PostgreSQL Main"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// New dialog created\nconst input = $('Build Dialog Cache Key').first().json;\nconst result = $json;\n\nreturn {\n  ...input,\n  dialog_id: result.dialog_id,\n  dialog_from_cache: false,\n  is_new_dialog: true,\n  \n  // For Redis SET\n  dialogCacheValue: JSON.stringify({\n    dialog_id: result.dialog_id\n  })\n};"
      },
      "id": "prepare-new-dialog",
      "name": "Prepare New Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6380, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [{ "field1": "trace_id", "field2": "trace_id" }]
        },
        "options": {}
      },
      "id": "merge-dialog-db",
      "name": "Merge Dialog DB",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [6600, 400]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.dialogCacheKey }}",
        "value": "={{ $json.dialogCacheValue }}",
        "expire": true,
        "ttl": 1800,
        "options": {}
      },
      "id": "redis-dialog-set",
      "name": "Cache Set Dialog",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [6820, 400],
      "credentials": {
        "redis": {
          "id": "redis-n8n",
          "name": "Redis n8n"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [{ "field1": "trace_id", "field2": "trace_id" }]
        },
        "options": {}
      },
      "id": "merge-dialog-all",
      "name": "Merge Dialog All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [7040, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build final response\nconst data = $json;\n\n// Clean response - only essential fields\nreturn {\n  // IDs\n  tenant_id: data.tenant_id,\n  channel_account_id: data.channel_account_id,\n  channel_id: data.channel_id,\n  client_id: data.client_id,\n  dialog_id: data.dialog_id,\n  \n  // Flags\n  is_new_client: data.is_new_client || false,\n  is_new_dialog: data.is_new_dialog || false,\n  was_unified: data.was_unified || false,\n  \n  // Original data passthrough\n  channel: data.channel,\n  external_chat_id: data.external_chat_id,\n  sender_name: data.sender_name,\n  text: data.text,\n  \n  // Tracing\n  trace_id: data.trace_id,\n  resolved_at: new Date().toISOString(),\n  \n  // Cache stats\n  cache_hits: {\n    tenant: data.tenant_from_cache || false,\n    client: data.client_from_cache || false,\n    dialog: data.dialog_from_cache || false\n  },\n  \n  // Unifier stats\n  unifier: {\n    executed: data.hasPhoneInExternalId || false,\n    action: data.unifier_action || 'skipped'\n  }\n};"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7260, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [[{ "node": "Cache Get Tenant", "type": "main", "index": 0 }]]
    },
    "Cache Get Tenant": {
      "main": [[{ "node": "Tenant Cache Hit?", "type": "main", "index": 0 }]]
    },
    "Tenant Cache Hit?": {
      "main": [
        [{ "node": "Parse Tenant Cache", "type": "main", "index": 0 }],
        [{ "node": "DB Get Tenant", "type": "main", "index": 0 }]
      ]
    },
    "Parse Tenant Cache": {
      "main": [[{ "node": "Merge Tenant", "type": "main", "index": 0 }]]
    },
    "DB Get Tenant": {
      "main": [[{ "node": "Tenant Found?", "type": "main", "index": 0 }]]
    },
    "Tenant Found?": {
      "main": [
        [{ "node": "Prepare Tenant Cache", "type": "main", "index": 0 }],
        [{ "node": "Error: No Tenant", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Tenant Cache": {
      "main": [[{ "node": "Cache Set Tenant", "type": "main", "index": 0 }]]
    },
    "Cache Set Tenant": {
      "main": [[{ "node": "Merge Tenant", "type": "main", "index": 1 }]]
    },
    "Merge Tenant": {
      "main": [[{ "node": "Build Client Cache Key", "type": "main", "index": 0 }]]
    },
    "Build Client Cache Key": {
      "main": [[{ "node": "Cache Get Client", "type": "main", "index": 0 }]]
    },
    "Cache Get Client": {
      "main": [[{ "node": "Client Cache Hit?", "type": "main", "index": 0 }]]
    },
    "Client Cache Hit?": {
      "main": [
        [{ "node": "Parse Client Cache", "type": "main", "index": 0 }],
        [{ "node": "DB Get Client", "type": "main", "index": 0 }]
      ]
    },
    "Parse Client Cache": {
      "main": [[{ "node": "Merge Client All", "type": "main", "index": 0 }]]
    },
    "DB Get Client": {
      "main": [[{ "node": "Client Found?", "type": "main", "index": 0 }]]
    },
    "Client Found?": {
      "main": [
        [{ "node": "Prepare Existing Client", "type": "main", "index": 0 }],
        [{ "node": "DB Create Client", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Existing Client": {
      "main": [[{ "node": "Merge Client DB", "type": "main", "index": 0 }]]
    },
    "DB Create Client": {
      "main": [[{ "node": "Prepare New Client", "type": "main", "index": 0 }]]
    },
    "Prepare New Client": {
      "main": [[{ "node": "Merge Client DB", "type": "main", "index": 1 }]]
    },
    "Merge Client DB": {
      "main": [[{ "node": "Cache Set Client", "type": "main", "index": 0 }]]
    },
    "Cache Set Client": {
      "main": [[{ "node": "Merge Client All", "type": "main", "index": 1 }]]
    },
    "Merge Client All": {
      "main": [[{ "node": "Has Phone?", "type": "main", "index": 0 }]]
    },
    "Has Phone?": {
      "main": [
        [{ "node": "Prepare Unifier Input", "type": "main", "index": 0 }],
        [{ "node": "Skip Unifier", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Unifier Input": {
      "main": [[{ "node": "Call ELO_Unifier", "type": "main", "index": 0 }]]
    },
    "Call ELO_Unifier": {
      "main": [[{ "node": "Process Unifier Result", "type": "main", "index": 0 }]]
    },
    "Process Unifier Result": {
      "main": [[{ "node": "Merge After Unifier", "type": "main", "index": 0 }]]
    },
    "Skip Unifier": {
      "main": [[{ "node": "Merge After Unifier", "type": "main", "index": 1 }]]
    },
    "Merge After Unifier": {
      "main": [[{ "node": "Build Dialog Cache Key", "type": "main", "index": 0 }]]
    },
    "Build Dialog Cache Key": {
      "main": [[{ "node": "Cache Get Dialog", "type": "main", "index": 0 }]]
    },
    "Cache Get Dialog": {
      "main": [[{ "node": "Dialog Cache Hit?", "type": "main", "index": 0 }]]
    },
    "Dialog Cache Hit?": {
      "main": [
        [{ "node": "Parse Dialog Cache", "type": "main", "index": 0 }],
        [{ "node": "DB Get Dialog", "type": "main", "index": 0 }]
      ]
    },
    "Parse Dialog Cache": {
      "main": [[{ "node": "Merge Dialog All", "type": "main", "index": 0 }]]
    },
    "DB Get Dialog": {
      "main": [[{ "node": "Dialog Found?", "type": "main", "index": 0 }]]
    },
    "Dialog Found?": {
      "main": [
        [{ "node": "Prepare Existing Dialog", "type": "main", "index": 0 }],
        [{ "node": "DB Create Dialog", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Existing Dialog": {
      "main": [[{ "node": "Merge Dialog DB", "type": "main", "index": 0 }]]
    },
    "DB Create Dialog": {
      "main": [[{ "node": "Prepare New Dialog", "type": "main", "index": 0 }]]
    },
    "Prepare New Dialog": {
      "main": [[{ "node": "Merge Dialog DB", "type": "main", "index": 1 }]]
    },
    "Merge Dialog DB": {
      "main": [[{ "node": "Cache Set Dialog", "type": "main", "index": 0 }]]
    },
    "Cache Set Dialog": {
      "main": [[{ "node": "Merge Dialog All", "type": "main", "index": 1 }]]
    },
    "Merge Dialog All": {
      "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "ELO" },
    { "name": "Core" }
  ]
}
