n8n_workflows/Tool/BAT_AI_Task_Dispatcher.json
{
  "id": "aEzuOXgpLBTNZ4ie",
  "name": "BAT AI Task Dispatcher",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "ec526052-a374-4c69-a7db-6ef21bc00e86",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'appeal', row_to_json(a.*),\n  'devices', COALESCE(\n    (SELECT json_agg(json_build_object(\n      'id', ad.id,\n      'device_index', ad.device_index,\n      'brand_id', ad.brand_id,\n      'brand_name', b.name,\n      'model_id', ad.model_id,\n      'model_name', m.name,\n      'repairs', (SELECT json_agg(json_build_object(\n        'id', ar.id,\n        'category_id', ar.repair_category_id,\n        'category_name', rc.name\n      )) FROM appeal_repairs ar LEFT JOIN repair_categories rc ON rc.id = ar.repair_category_id WHERE ar.appeal_device_id = ad.id)\n    ) ORDER BY ad.device_index)\n    FROM appeal_devices ad\n    LEFT JOIN brands b ON b.id = ad.brand_id\n    LEFT JOIN models m ON m.id = ad.model_id\n    WHERE ad.appeal_id = a.id),\n    '[]'::json\n  ),\n  'entity_configs', COALESCE(\n    (SELECT json_agg(row_to_json(ec.*) ORDER BY ec.priority)\n     FROM ai_entity_configs ec\n     WHERE ec.tenant_id = a.tenant_id\n       AND ec.vertical_id = 'repair'\n       AND ec.is_active = true),\n    '[]'::json\n  )\n) as data\nFROM appeals a\nWHERE a.id = '{{ $json.appeal_id }}'::uuid;",
        "options": {}
      },
      "id": "c9dfe5ce-1d03-4a49-aa1e-49be3c87ad03",
      "name": "Load Appeal Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -384,
        64
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Execute Workflow Trigger').item.json;\nconst dbResult = $input.item.json;\nconst data = typeof dbResult.data === 'string' ? JSON.parse(dbResult.data) : dbResult.data;\n\nconst devices = data.devices || [];\nconst entityConfigs = data.entity_configs || [];\nconst message = input.text || input.message || '';\n\nconst activeDevice = devices.length > 0 ? devices[devices.length - 1] : null;\nconst hasExtractedData = activeDevice && (activeDevice.brand_id || activeDevice.model_id);\n\nconst batchId = `batch-${input.appeal_id}-${Date.now()}`;\n\n// Берём ВСЕ активные entity_types за один проход\nconst entitiesToExtract = entityConfigs\n  .filter(c => c.is_active !== false)\n  .map(c => c.entity_type);\n\nconst tasks = entityConfigs\n  .filter(c => entitiesToExtract.includes(c.entity_type))\n  .map((config, idx) => ({\n    json: {\n      id: `task-${Date.now()}-${idx}`,\n      batch_id: batchId,\n      tenant_id: input.tenant_id,\n      appeal_id: input.appeal_id,\n      entity_config_id: config.id,\n      entity_type: config.entity_type,\n      device_index: devices.length > 0 ? devices.length - 1 : 0,\n      priority: config.priority,\n      input_message: message,\n      prompt: config.user_prompt_template,\n      system_prompt: config.system_prompt,\n      _meta: {\n        batch_id: batchId,\n        total_tasks: entitiesToExtract.length,\n        has_extracted_data: hasExtractedData,\n        active_device: activeDevice\n      }\n    }\n  }));\n\nif (tasks.length === 0) {\n  return {\n    json: {\n      no_tasks: true,\n      appeal_id: input.appeal_id,\n      tenant_id: input.tenant_id,\n      has_extracted_data: hasExtractedData,\n      active_device: activeDevice\n    }\n  };\n}\n\nreturn tasks;"
      },
      "id": "086461b8-9ab6-461f-9746-26acb9b8b337",
      "name": "Prepare Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-tasks",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "leftValue": "={{ $json.no_tasks }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "9f9e5904-c551-47a2-bedd-7eb6214061e4",
      "name": "Has Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        64
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "ai_extraction_queue",
        "messageData": "={{ JSON.stringify($json) }}",
        "tail": true
      },
      "id": "c926d615-e44c-41dd-815c-d4a26fad6803",
      "name": "Push to Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        272,
        -32
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=batch:{{ $json._meta.batch_id }}:status",
        "value": "={{ JSON.stringify({ total: $json._meta.total_tasks, completed: 0, results: [] }) }}",
        "expire": true,
        "ttl": 300
      },
      "id": "785410d4-bfb0-4970-8ee6-5ffbe9b412a1",
      "name": "Set Batch Status",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        496,
        -32
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const firstItem = $('Prepare Tasks').first().json;\nconst meta = firstItem._meta;\n\nconst maxWaitMs = 30000;\nconst pollIntervalMs = 200;\nconst startTime = Date.now();\n\nreturn {\n  batch_id: meta.batch_id,\n  appeal_id: firstItem.appeal_id,\n  tenant_id: firstItem.tenant_id,\n  total_tasks: meta.total_tasks,\n  max_wait_ms: maxWaitMs,\n  poll_interval_ms: pollIntervalMs,\n  start_time: startTime,\n  poll_count: 0\n};"
      },
      "id": "0be9ccae-c610-4e26-a002-e7ba62659d99",
      "name": "Init Wait Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*) FILTER (WHERE status = 'completed') as completed,\n  COUNT(*) FILTER (WHERE status = 'failed') as failed,\n  COUNT(*) as total,\n  json_agg(json_build_object(\n    'entity_type', entity_type,\n    'status', status,\n    'parsed_result', parsed_result\n  )) FILTER (WHERE status IN ('completed', 'failed')) as results\nFROM ai_extraction_tasks\nWHERE appeal_id = '{{ $json.appeal_id }}'::uuid\n  AND created_at > NOW() - INTERVAL '5 minutes';",
        "options": {}
      },
      "id": "415c92fb-d678-48c6-b422-d96006430f1a",
      "name": "Poll DB Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        944,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const waitData = $('Init Wait Loop').item.json;\nconst pollResult = $input.item.json;\n\nconst completed = parseInt(pollResult.completed) || 0;\nconst failed = parseInt(pollResult.failed) || 0;\nconst total = waitData.total_tasks;\nconst done = completed + failed;\n\nconst elapsed = Date.now() - waitData.start_time;\nconst isTimeout = elapsed >= waitData.max_wait_ms;\nconst isComplete = done >= total;\n\nreturn {\n  ...waitData,\n  poll_count: waitData.poll_count + 1,\n  completed: completed,\n  failed: failed,\n  done: done,\n  is_complete: isComplete,\n  is_timeout: isTimeout,\n  should_continue: !isComplete && !isTimeout,\n  results: pollResult.results || [],\n  elapsed_ms: elapsed\n};"
      },
      "id": "847a2d97-2300-467f-b94b-ba9c58231c04",
      "name": "Check Completion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "should-continue",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.should_continue }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "461450bb-6cb5-4064-9e56-20a6275953ca",
      "name": "Continue Polling?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        -32
      ]
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "id": "eafd56ba-2931-4d21-b173-6534546a7486",
      "name": "Wait 300ms",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        -288
      ],
      "webhookId": "057ec02c-04fa-4a52-9624-64c00bd9fbb4"
    },
    {
      "parameters": {
        "jsCode": "const checkResult = $('Check Completion').item.json;\nconst results = checkResult.results || [];\n\nconst extracted = {\n  appeal_type: null,\n  brand: null,\n  brand_id: null,\n  model: null,\n  model_id: null,\n  repair_category: null,\n  repair_category_id: null,\n  repair_action: null,\n  parts_owner: null\n};\n\nfor (const result of results) {\n  if (result.status !== 'completed') continue;\n  const parsed = result.parsed_result || {};\n  \n  switch (result.entity_type) {\n    case 'appeal_type':\n      extracted.appeal_type = parsed.appeal_type || parsed.type;\n      break;\n    case 'brand':\n      extracted.brand = parsed.brand || parsed.name;\n      extracted.brand_id = parsed.brand_id || parsed.id;\n      break;\n    case 'model':\n      extracted.model = parsed.model || parsed.name;\n      extracted.model_id = parsed.model_id || parsed.id;\n      break;\n    case 'repair_category':\n      extracted.repair_category = parsed.repair_category || parsed.category || parsed.name;\n      extracted.repair_category_id = parsed.repair_category_id || parsed.category_id || parsed.id;\n      break;\n    case 'repair_action':\n      extracted.repair_action = parsed.repair_action || parsed.action;\n      break;\n    case 'parts_owner':\n      extracted.parts_owner = parsed.parts_owner || 'workshop';\n      break;\n  }\n}\n\nreturn {\n  action: 'extraction_complete',\n  appeal_id: checkResult.appeal_id,\n  tenant_id: checkResult.tenant_id,\n  batch_id: checkResult.batch_id,\n  total_tasks: checkResult.total_tasks,\n  completed: checkResult.completed,\n  failed: checkResult.failed,\n  elapsed_ms: checkResult.elapsed_ms,\n  is_timeout: checkResult.is_timeout,\n  extracted_data: extracted,\n  raw_results: results\n};"
      },
      "id": "d00da345-72c0-4b23-b1f7-b1dadba6ca80",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\n\nreturn {\n  action: 'no_tasks',\n  appeal_id: data.appeal_id,\n  tenant_id: data.tenant_id,\n  has_extracted_data: data.has_extracted_data,\n  active_device: data.active_device,\n  extracted_data: {\n    brand: data.active_device?.brand_name,\n    brand_id: data.active_device?.brand_id,\n    model: data.active_device?.model_name,\n    model_id: data.active_device?.model_id,\n    repair_category: data.active_device?.repairs?.[0]?.category_name,\n    repair_category_id: data.active_device?.repairs?.[0]?.category_id\n  }\n};"
      },
      "id": "7746b131-930b-429a-af25-19d7d69e1850",
      "name": "No Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appeals SET\n  brand_id = (SELECT id FROM brands WHERE LOWER(name) = LOWER('{{ $json.extracted_data.brand }}') LIMIT 1),\n  model_id = (SELECT id FROM models WHERE LOWER(name) = LOWER('{{ $json.extracted_data.model }}') LIMIT 1),\n  repair_type_id = (SELECT id FROM repair_types WHERE LOWER(name) = LOWER('{{ $json.extracted_data.repair_category[0] }}') LIMIT 1),\n  problem_description = '{{ $json.extracted_data.repair_action }}',\n  parts_owner = COALESCE(NULLIF('{{ $json.extracted_data.parts_owner }}', 'null'), 'workshop'),\n  stage = CASE \n    WHEN '{{ $json.extracted_data.appeal_type }}' IN ('greeting', 'spam', 'consultation') THEN 'Первичный контакт'\n    ELSE 'Информация собрана'\n  END,\n  updated_at = NOW()\nWHERE id = '{{ $json.appeal_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1824,
        64
      ],
      "id": "150c236b-b1db-401b-b14e-b9da707f9c3c",
      "name": "Update Appeal",
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Load Appeal Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Appeal Data": {
      "main": [
        [
          {
            "node": "Prepare Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Tasks": {
      "main": [
        [
          {
            "node": "Has Tasks?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tasks?": {
      "main": [
        [
          {
            "node": "Push to Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Redis": {
      "main": [
        [
          {
            "node": "Set Batch Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Batch Status": {
      "main": [
        [
          {
            "node": "Init Wait Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Wait Loop": {
      "main": [
        [
          {
            "node": "Poll DB Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll DB Status": {
      "main": [
        [
          {
            "node": "Check Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Completion": {
      "main": [
        [
          {
            "node": "Continue Polling?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Polling?": {
      "main": [
        [
          {
            "node": "Wait 300ms",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 300ms": {
      "main": [
        [
          {
            "node": "Poll DB Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Update Appeal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-23T04:02:03.765Z",
      "createdAt": "2025-11-23T04:02:03.765Z",
      "id": "JkzPlhYcdcsJtFGG",
      "name": "Tool"
    }
  ],
  "updatedAt": "2025-11-27T10:41:10.000Z",
  "createdAt": "2025-11-25T13:30:43.830Z"
}