Backend JSON/IN Workers/BAT IN Avito.json
{
  "nodes": [
    {
      "parameters": {
        "workflowId": "=hwYfaLAKCwaWpoQk",
        "options": {}
      },
      "id": "8220fd2c-2e4a-4606-a5e9-2ea0286551a1",
      "name": "Execute Universal Batcher",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        848,
        976
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avito",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f40cd17b-6f84-43ac-87d5-bdf4c8499566",
      "name": "Avito Trigger1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -800,
        880
      ],
      "webhookId": "avito-webhook"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json;\nconst msg = webhookData.payload?.value;\n\nif (!msg) {\n  throw new Error('Invalid Avito webhook payload');\n}\n\n// AUTH CHECK - простая проверка что это от Avito\nif (!webhookData.id || !webhookData.timestamp) {\n  throw new Error('Invalid webhook format');\n}\n\n// SYSTEM FILTER - пропускаем системные сообщения\nconst isSystem = (\n  msg.author_id === msg.user_id ||\n  msg.author_id === 0 ||\n  !msg.author_id\n);\n\nif (isSystem) {\n  return { skip: true, reason: 'system_message' };\n}\n\nconst messageText = msg.content?.text || '';\nconst authorName = msg.author?.name || null;\n\n// Проверяем типы медиа\nconst hasPhoto = msg.type === 'image';\nconst hasVoice = msg.type === 'voice';\nconst hasVideo = msg.type === 'video';\nconst hasDocument = msg.type === 'file';\n\nconst urls = [];\nlet photoUrl = null;\nlet voiceUrl = null;\nlet videoUrl = null;\n\nif (msg.content?.url) {\n  urls.push(msg.content.url);\n  if (hasPhoto) photoUrl = msg.content.url;\n  if (hasVoice) voiceUrl = msg.content.url;\n  if (hasVideo) videoUrl = msg.content.url;\n}\n\nreturn {\n  skip: false,\n  has_voice: hasVoice,\n  voice_url: voiceUrl,\n  raw_message: msg,\n  user_id: msg.user_id,\n  author_id: msg.author_id,\n  author_name: authorName,\n  chat_id: msg.chat_id,\n  message_id: msg.id,\n  message_text: messageText,\n  message_type: msg.type,\n  created: msg.created,\n  item_id: msg.item_id,\n  has_photo: hasPhoto,\n  photo_url: photoUrl,\n  has_video: hasVideo,\n  video_url: videoUrl,\n  has_document: hasDocument,\n  urls: urls\n};"
      },
      "id": "65aa29ce-614d-4848-b546-686f53716e82",
      "name": "Parse Auth Filter1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "1f248824-92c4-4af8-a31a-9554594759d6",
      "name": "Should Skip?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -368,
        880
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"skipped\": true } }}",
        "options": {}
      },
      "id": "a130fada-343d-4278-94c5-9240896a224d",
      "name": "Respond Skipped1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -144,
        768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_voice }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a160dd38-2ecb-43e4-a61f-ad7ab057ac48",
      "name": "Has Voice?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -144,
        976
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.voice_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a2a402cb-33db-44b7-8036-05bfb4d8503f",
      "name": "Download Voice1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        880
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        304,
        880
      ],
      "id": "7f4d39ef-7edd-4871-9058-c72e4351005f",
      "name": "Transcribe Voice1",
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Auth Filter1').first().json;\nconst transcription = $input.first().json.text;\n\nlet messageText = data.message_text;\nif (transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'avito',\n  external_user_id: data.author_id.toString(),\n  external_chat_id: data.chat_id,\n  \n  text: messageText,\n  timestamp: new Date(data.created * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: data.author_name,\n  client_email: null,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'avito',\n    ad_id: data.item_id?.toString(),\n    original_media_type: 'voice',\n    raw: data.raw_message,\n    chat_type: data.raw_message.chat_type,\n    user_id: data.user_id\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "cdfcadef-4bea-4f73-8d4c-c32304753a8e",
      "name": "Normalize with Voice1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        880
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  channel: 'avito',\n  external_user_id: data.author_id.toString(),\n  external_chat_id: data.chat_id,\n  \n  text: data.message_text,\n  timestamp: new Date(data.created * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: data.author_name,\n  client_email: null,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'avito',\n    ad_id: data.item_id?.toString(),\n    original_media_type: data.has_photo ? 'photo' : data.has_video ? 'video' : 'text',\n    raw: data.raw_message,\n    chat_type: data.raw_message.chat_type,\n    user_id: data.user_id\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "3c457719-1807-4846-9a10-bc33cca2d87d",
      "name": "Normalize without Voice1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        1072
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rRO6sxLqiCdgvLZz",
          "mode": "list",
          "cachedResultUrl": "/workflow/rRO6sxLqiCdgvLZz",
          "cachedResultName": "BAT_Tenant_Resolver"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        640,
        976
      ],
      "id": "8df7f245-3c50-4350-ad9c-9ee3eb66b0b4",
      "name": "Execute Tenant Resolver"
    }
  ],
  "connections": {
    "Avito Trigger1": {
      "main": [
        [
          {
            "node": "Parse Auth Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Auth Filter1": {
      "main": [
        [
          {
            "node": "Should Skip?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Skip?1": {
      "main": [
        [
          {
            "node": "Respond Skipped1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Voice?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice?1": {
      "main": [
        [
          {
            "node": "Download Voice1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize without Voice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice1": {
      "main": [
        [
          {
            "node": "Transcribe Voice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice1": {
      "main": [
        [
          {
            "node": "Normalize with Voice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize with Voice1": {
      "main": [
        [
          {
            "node": "Execute Tenant Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize without Voice1": {
      "main": [
        [
          {
            "node": "Execute Tenant Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tenant Resolver": {
      "main": [
        [
          {
            "node": "Execute Universal Batcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ae77ca901b15c37bb42b26ea9b5a21b78217dd557a563108d875a64964c49bb"
  }
}