n8n_workflows/API/API Android Update Settings.json
{
  "updatedAt": "2025-12-02T07:53:09.000Z",
  "createdAt": "2025-11-29T08:16:15.540Z",
  "id": "eQ5u4iA3oDh3L8Ej",
  "name": "API Android Update Settings",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "android-update-settings",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fc0440f2-1dea-46c7-bd59-d93519daaef6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -496,
        -32
      ],
      "webhookId": "android-update-settings"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-params",
              "leftValue": "={{ $json.body.operator_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "check-tenant",
              "leftValue": "={{ $json.body.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "check-mode",
              "leftValue": "={{ $json.body.operation_mode }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fa0ba709-b6af-413c-8bf6-0d027a9ca740",
      "name": "Validate Params",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -272,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tenants\n  SET operation_mode = '{{ $json.body.operation_mode }}'\n  WHERE id = '{{ $json.body.tenant_id }}'\n  RETURNING id, operation_mode",
        "options": {}
      },
      "id": "ea6ca67d-4452-4c31-aa48-ffb5326b23e6",
      "name": "Update Tenant Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -48,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Settings updated\", operation_mode: $('Webhook').item.json.body.operation_mode }) }}",
        "options": {}
      },
      "id": "9ef9ce26-6575-4ae4-b584-49637163b9b0",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        176,
        -144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: \"Missing required parameters: operator_id, tenant_id, operation_mode\" }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "61f9e324-b58d-4e93-a1b2-f2599194ad70",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -48,
        64
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Params": {
      "main": [
        [
          {
            "node": "Update Tenant Settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tenant Settings": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.n8nsrv.ru",
            "user-agent": "okhttp/4.12.0",
            "content-length": "129",
            "accept-encoding": "gzip",
            "authorization": "Bearer f32b535e-21c7-4176-82c1-2b7cd3de3656",
            "content-type": "application/json; charset=UTF-8",
            "via": "2.0 Caddy",
            "x-forwarded-for": "195.54.40.108",
            "x-forwarded-host": "n8n.n8nsrv.ru",
            "x-forwarded-proto": "https",
            "x-session-token": "f32b535e-21c7-4176-82c1-2b7cd3de3656"
          },
          "params": {},
          "query": {},
          "body": {
            "operation_mode": "auto",
            "operator_id": "7b3aac9e-80c5-4787-b29f-f90fd763183a",
            "tenant_id": "a0000000-0000-0000-0000-000000000001"
          },
          "webhookUrl": "https://n8n.n8nsrv.ru/webhook/android-update-settings",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "3318c2f9-f2c3-4774-acc8-16bdbc96303e",
  "versionCounter": 9,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-29T08:16:15.557Z",
      "createdAt": "2025-11-29T08:16:15.557Z",
      "role": "workflow:owner",
      "workflowId": "eQ5u4iA3oDh3L8Ej",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-02T07:52:39.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T03:58:34.844Z",
      "createdAt": "2025-11-23T03:58:34.844Z",
      "id": "0yzk30hhaSzkl8bF",
      "name": "API"
    },
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    }
  ]
}