n8n_workflows/API/API_Android_Appeal_Detail.json
{
  "id": "o5BjZMJlBITPXJrc",
  "name": "API_Android_Appeal_Detail",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const params = $json.params || {};\nconst appeal_id = (params.id || '').trim();\n\nlet limit = parseInt($json.query?.limit || '50', 10);\nif (!Number.isFinite(limit)) limit = 50;\nlimit = Math.max(1, Math.min(limit, 200));\n\nreturn { \n  appeal_id, \n  limit, \n  session_token: $json.session_token \n};"
      },
      "id": "ca376ef9-2a3d-4b59-850c-e8910ac274b0",
      "name": "Parse Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT od.operator_id, od.tenant_id \nFROM operator_devices od\nWHERE od.session_token = '{{ $('Webhook').item.json.headers[\"x-session-token\"] }}'\nAND od.device_type = 'mobile'\nAND EXISTS (\n  SELECT 1 FROM operators o \n  WHERE o.id = od.operator_id \n  AND o.is_active = true\n)\nLIMIT 1;",
        "options": {}
      },
      "id": "75d770e0-f9d0-4b94-a8b4-56a07a26cd0d",
      "name": "Get Tenant",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json;\nconst row = Array.isArray(input) ? (input[0] || null) : input;\nconst tenant_id = row && typeof row === 'object' ? (row.tenant_id || null) : null;\n\nconst previous = $('Parse Params').first().json;\n\nreturn {\n  ...previous,\n  tenant_id\n};"
      },
      "id": "22c84659-f409-47e1-b1f9-f1ed2877d556",
      "name": "Normalize Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tenant_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e2dac72b-26ad-4558-8776-73fb7bd87abb",
      "name": "Tenant Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'unauthorized_or_operator_not_found' } }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "26bff003-ba32-4af0-ab06-afc07fe34e85",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        416,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH vals AS (\nSELECT\n'{{ $json.tenant_id || \"\" }}' AS tenant_id_text,\n'{{ $json.appeal_id || \"\" }}' AS appeal_id_text,\n'{{ $json.limit || 50 }}' AS limit_text\n),\nvalidated AS (\nSELECT\nCASE WHEN tenant_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$' THEN tenant_id_text::uuid ELSE NULL END AS tenant_id,\nCASE WHEN appeal_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$' THEN appeal_id_text::uuid ELSE NULL END AS appeal_id,\nCASE WHEN limit_text ~ '^[0-9]+$' THEN LEAST(GREATEST(limit_text::int, 1), 200) ELSE 50 END AS lim\nFROM vals\n)\nSELECT\na.id, a.stage, a.operation_mode, a.updated_at,\na.estimated_cost, a.estimated_time, a.phone_model, a.brand_id, a.model_id, a.repair_type_id, a.deal_type_id, a.parts_owner,\nc.name AS client_name, c.phone AS client_phone,\nb.name AS brand_name, m.name AS model_name, rt.name AS repair_type_name, dt.name AS deal_type_name,\n(\n  SELECT oa.details->>'ai_response'\n  FROM operator_actions oa\n  WHERE oa.context_appeal_id = a.id\n    AND oa.action_type = 'notify_appeal_ready'\n    AND oa.details->>'ai_response' IS NOT NULL\n  ORDER BY oa.created_at DESC\n  LIMIT 1\n) AS ai_response,\n(\nSELECT jsonb_agg(\njsonb_build_object(\n'created_at', mh.created_at,\n'message_type', mh.message_type,\n'message_text', mh.message_text\n)\nORDER BY mh.created_at DESC\n)\nFROM messages_history mh\nWHERE mh.appeal_id = a.id\nLIMIT (SELECT lim FROM validated)\n) AS messages,\n(\nSELECT jsonb_agg(\njsonb_build_object(\n'id', ad.id,\n'device_order', ad.device_index,\n'brand_id', ad.brand_id,\n'brand_name', adb.name,\n'model_id', ad.model_id,\n'model_name', adm.name,\n'phone_model', ad.phone_model,\n'status', ad.status,\n'repairs', (\n  SELECT jsonb_agg(\n    jsonb_build_object(\n      'id', ar.id,\n      'repair_category_id', ar.repair_category_id,\n      'repair_category_name', rc.name,\n      'issue_type_id', ar.issue_type_id,\n      'issue_type_name', it.name,\n      'parts_owner', ar.parts_owner,\n      'status', ar.status,\n      'priority', ar.priority\n    )\n    ORDER BY ar.priority NULLS LAST, ar.created_at\n  )\n  FROM appeal_repairs ar\n  LEFT JOIN repair_categories rc ON rc.id = ar.repair_category_id\n  LEFT JOIN issue_types it ON it.id = ar.issue_type_id\n  WHERE ar.appeal_device_id = ad.id\n)\n)\nORDER BY ad.device_index NULLS LAST, ad.created_at\n)\nFROM appeal_devices ad\nLEFT JOIN brands adb ON adb.id = ad.brand_id\nLEFT JOIN models adm ON adm.id = ad.model_id\nWHERE ad.appeal_id = a.id\n) AS devices\nFROM validated v\nJOIN appeals a\nON v.tenant_id IS NOT NULL\nAND v.appeal_id IS NOT NULL\nAND a.tenant_id = v.tenant_id\nAND a.id = v.appeal_id\nJOIN clients c ON c.id = a.client_id AND c.tenant_id = a.tenant_id\nLEFT JOIN brands b ON b.id = a.brand_id AND b.tenant_id = a.tenant_id\nLEFT JOIN models m ON m.id = a.model_id AND m.tenant_id = a.tenant_id\nLEFT JOIN repair_types rt ON rt.id = a.repair_type_id AND rt.tenant_id = a.tenant_id\nLEFT JOIN deal_types dt ON dt.id = a.deal_type_id;",
        "options": {}
      },
      "id": "08cc68cd-2c50-4f00-a2d9-1a0840381ba6",
      "name": "Fetch Appeal & History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        -112
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first()?.json;\nconst row = Array.isArray(inp) ? (inp[0] || null) : inp;\n\nif (!row || typeof row !== 'object' || !row.id) {\n  return { success: false, error: 'not_found' };\n}\n\nconst messages = Array.isArray(row.messages) ? row.messages : [];\nconst devices = Array.isArray(row.devices) ? row.devices : [];\nconst meta = row.meta || [];\n\nreturn {\n  success: true,\n  appeal: {\n    id: row.id,\n    stage: row.stage,\n    operation_mode: row.operation_mode,\n    estimated_cost: row.estimated_cost,\n    estimated_time: row.estimated_time,\n    phone_model: row.phone_model,\n    brand_id: row.brand_id,\n    model_id: row.model_id,\n    repair_type_id: row.repair_type_id,\n    repair_type_name: row.repair_type_name,\n    deal_type_id: row.deal_type_id,\n    deal_type_name: row.deal_type_name,\n    parts_owner: row.parts_owner,\n    updated_at: row.updated_at,\n    ai_response: row.ai_response || null,\n    meta: meta\n  },\n  client: {\n    name: row.client_name || null,\n    phone: row.client_phone || null,\n  },\n  device: {\n    brand: row.brand_name || null,\n    model: row.model_name || row.phone_model || null,\n  },\n  devices: devices.map(d => ({\n    id: d.id,\n    device_order: d.device_order,\n    brand_id: d.brand_id,\n    brand_name: d.brand_name,\n    model_id: d.model_id,\n    model_name: d.model_name,\n    phone_model: d.phone_model,\n    status: d.status,\n    repairs: (d.repairs || []).map(r => ({\n      id: r.id,\n      repair_category_id: r.repair_category_id,\n      repair_category_name: r.repair_category_name,\n      issue_type_id: r.issue_type_id,\n      issue_type_name: r.issue_type_name,\n      parts_owner: r.parts_owner,\n      status: r.status,\n      priority: r.priority\n    }))\n  })),\n  history: messages.map(m => ({\n    created_at: m.created_at,\n    type: m.message_type,\n    text: m.message_text,\n  })),\n};"
      },
      "id": "39453e19-0bea-42e6-afd4-79a94d0fe266",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "39fe89e9-0c61-48f6-97fa-612c2023aa91",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        -112
      ],
      "id": "598fc348-0107-46cc-a10c-67359ffb6f8f",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c47d88a5-60d4-4aa2-8b91-f3aec829b3ef",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1712,
        -128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 404,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "944a8104-d7a5-4a83-a40b-212f30816228",
      "name": "Respond 404",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1712,
        48
      ]
    },
    {
      "parameters": {
        "path": "api/android/appeals/:id",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1328,
        80
      ],
      "id": "575758d3-bedc-493d-875f-3d7bb3ecdf14",
      "name": "Webhook",
      "webhookId": "dbc87d6b-d3a8-4613-a2d8-b591d5533210"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nlet token = null;\n\nconst authHeader = headers.authorization || headers.Authorization || '';\nif (authHeader.startsWith('Bearer ') || authHeader.startsWith('bearer ')) {\n  token = authHeader.substring(7);\n}\n\nif (!token) {\n  token = headers['x-session-token'] || headers['X-Session-Token'];\n}\n\nreturn { ...($json || {}), session_token: token || null };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        80
      ],
      "id": "01abe606-21d8-42bb-89c2-18686ff7bb9c",
      "name": "Parse Token"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WiDRlsmHntaD6PM0",
          "mode": "list",
          "cachedResultUrl": "/workflow/WiDRlsmHntaD6PM0",
          "cachedResultName": "Tool - Build Appeal Meta"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        736,
        -272
      ],
      "id": "3bf66280-cd22-474f-9dbe-941c32b0e4c2",
      "name": "Tool - Build Appeal Meta"
    },
    {
      "parameters": {
        "jsCode": "const appealData = $input.first()?.json;\nconst tenantId = $('Normalize Tenant').first()?.json?.tenant_id;\n\nreturn {\n  appeal_id: appealData.id,\n  tenant_id: tenantId\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -272
      ],
      "id": "98c46a1f-ec5b-4627-9812-6cec9707c3a6",
      "name": "Prepare Meta Input"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        944,
        -112
      ],
      "id": "ef5074d9-5e8c-4cc1-bd58-63687c467924",
      "name": "Merge Meta"
    }
  ],
  "connections": {
    "Parse Params": {
      "main": [
        [
          {
            "node": "Get Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tenant": {
      "main": [
        [
          {
            "node": "Normalize Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Tenant": {
      "main": [
        [
          {
            "node": "Tenant Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tenant Found?": {
      "main": [
        [
          {
            "node": "Fetch Appeal & History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Appeal & History": {
      "main": [
        [
          {
            "node": "Prepare Meta Input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Meta",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 404",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Token": {
      "main": [
        [
          {
            "node": "Parse Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Build Appeal Meta": {
      "main": [
        [
          {
            "node": "Merge Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Meta Input": {
      "main": [
        [
          {
            "node": "Tool - Build Appeal Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Meta": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:58:34.844Z",
      "createdAt": "2025-11-23T03:58:34.844Z",
      "id": "0yzk30hhaSzkl8bF",
      "name": "API"
    },
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    }
  ],
  "updatedAt": "2025-12-05T09:18:25.000Z",
  "createdAt": "2025-11-05T12:34:14.133Z"
}