NEW/workflows/Resolve Contour/ELO_Dialog_Resolver.json
{
  "name": "ELO_Dialog_Resolver",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate Input for Dialog Resolver\nconst raw = $input.first().json;\nconst input = raw.payload || raw;\n\nif (!input.tenant_id) throw new Error('Missing: tenant_id');\nif (!input.client_id) throw new Error('Missing: client_id');\nif (!input.channel_id) throw new Error('Missing: channel_id');\n\nconst trace_id = input.trace_id || `dialog_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\nreturn {\n  tenant_id: input.tenant_id,\n  client_id: input.client_id,\n  channel_id: input.channel_id,\n  trace_id,\n  _cache_key: `cache:dialog:${input.tenant_id}:${input.client_id}`,\n  _original_input: input\n};"
      },
      "id": "validate-001",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json._cache_key }}"
      },
      "id": "redis-dialog-get",
      "name": "Cache Get Dialog",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [440, 300],
      "credentials": { "redis": { "id": "redis-n8n", "name": "Redis n8n" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge Redis result with input\nconst input = $('Validate Input').first().json;\nconst redis = $json;\nconst cachedValue = redis.propertyName || redis.value || null;\n\nlet parsed = null;\nif (cachedValue && cachedValue !== 'null' && cachedValue !== '') {\n  try {\n    parsed = JSON.parse(cachedValue);\n    if (!parsed || !parsed.dialog_id) parsed = null;\n  } catch (e) {\n    parsed = null;\n  }\n}\n\nreturn {\n  ...input,\n  _dialog_cached: parsed\n};"
      },
      "id": "merge-dialog-redis",
      "name": "Merge Dialog Redis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 1, "looseTypeValidation": true },
          "conditions": [{ "leftValue": "={{ $json._dialog_cached?.dialog_id || '' }}", "rightValue": "", "operator": { "type": "string", "operation": "notEquals" } }]
        },
        "options": { "looseTypeValidation": true }
      },
      "id": "if-dialog-cache",
      "name": "Dialog Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Use dialog from cache\nconst data = $json;\nconst cached = data._dialog_cached;\n\nif (!cached || !cached.dialog_id) {\n  throw new Error(`Invalid dialog cache: ${JSON.stringify(cached)}`);\n}\n\nreturn {\n  tenant_id: data.tenant_id,\n  client_id: data.client_id,\n  channel_id: data.channel_id,\n  dialog_id: cached.dialog_id,\n  is_new_dialog: false,\n  last_client_channel_id: data.channel_id,\n  trace_id: data.trace_id,\n  _source: 'cache',\n  _original_input: data._original_input\n};"
      },
      "id": "use-cached-dialog",
      "name": "Use Cached Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE elo_t_dialogs SET last_client_channel_id = {{ $json.last_client_channel_id }}, last_message_at = NOW(), last_client_message_at = NOW() WHERE id = '{{ $json.dialog_id }}';"
      },
      "id": "update-dialog-cached",
      "name": "Update Dialog (cached)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1320, 200],
      "credentials": { "postgres": { "id": "postgres-main", "name": "PostgreSQL Main" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Restore data after UPDATE\nreturn $('Use Cached Dialog').first().json;"
      },
      "id": "restore-cached-dialog",
      "name": "Restore (cached)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as dialog_id FROM elo_t_dialogs WHERE tenant_id = '{{ $json.tenant_id }}' AND client_id = '{{ $json.client_id }}' LIMIT 1;"
      },
      "id": "db-dialog-query",
      "name": "DB Get Dialog",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 400],
      "credentials": { "postgres": { "id": "postgres-main", "name": "PostgreSQL Main" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge DB result with previous data\nconst prevData = $('Merge Dialog Redis').first().json;\nconst dbResult = $json;\n\nreturn {\n  ...prevData,\n  _db_dialog_id: dbResult.dialog_id || null\n};"
      },
      "id": "merge-db-dialog",
      "name": "Merge DB Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 1, "looseTypeValidation": true },
          "conditions": [{ "leftValue": "={{ !!$json._db_dialog_id }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }]
        },
        "options": { "looseTypeValidation": true }
      },
      "id": "if-dialog-found",
      "name": "Dialog Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Use existing dialog\nconst data = $json;\n\nreturn {\n  tenant_id: data.tenant_id,\n  client_id: data.client_id,\n  channel_id: data.channel_id,\n  dialog_id: data._db_dialog_id,\n  is_new_dialog: false,\n  last_client_channel_id: data.channel_id,\n  trace_id: data.trace_id,\n  _source: 'database',\n  _cache_key: data._cache_key,\n  _cache_value: JSON.stringify({ dialog_id: data._db_dialog_id }),\n  _original_input: data._original_input\n};"
      },
      "id": "use-existing-dialog",
      "name": "Use Existing Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE elo_t_dialogs SET last_client_channel_id = {{ $json.last_client_channel_id }}, last_message_at = NOW(), last_client_message_at = NOW() WHERE id = '{{ $json.dialog_id }}';"
      },
      "id": "update-dialog-db",
      "name": "Update Dialog (db)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1980, 300],
      "credentials": { "postgres": { "id": "postgres-main", "name": "PostgreSQL Main" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Restore data after UPDATE\nreturn $('Use Existing Dialog').first().json;"
      },
      "id": "restore-existing-dialog",
      "name": "Restore (existing)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO elo_t_dialogs (tenant_id, client_id, channel_id, first_contact_channel_id, last_client_channel_id, status_id)\nVALUES ('{{ $json.tenant_id }}', '{{ $json.client_id }}', {{ $json.channel_id }}, {{ $json.channel_id }}, {{ $json.channel_id }}, 1)\nRETURNING id as dialog_id;"
      },
      "id": "db-dialog-create",
      "name": "DB Create Dialog",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1760, 500],
      "credentials": { "postgres": { "id": "postgres-main", "name": "PostgreSQL Main" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Use new dialog\nconst prevData = $('Merge DB Dialog').first().json;\nconst dbResult = $json;\n\nreturn {\n  tenant_id: prevData.tenant_id,\n  client_id: prevData.client_id,\n  channel_id: prevData.channel_id,\n  dialog_id: dbResult.dialog_id,\n  is_new_dialog: true,\n  last_client_channel_id: prevData.channel_id,\n  trace_id: prevData.trace_id,\n  _source: 'created',\n  _cache_key: prevData._cache_key,\n  _cache_value: JSON.stringify({ dialog_id: dbResult.dialog_id }),\n  _original_input: prevData._original_input\n};"
      },
      "id": "use-new-dialog",
      "name": "Use New Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 500]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json._cache_key }}",
        "value": "={{ $json._cache_value }}",
        "expire": true,
        "ttl": 86400
      },
      "id": "redis-dialog-set",
      "name": "Cache Dialog",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2420, 400],
      "credentials": { "redis": { "id": "redis-n8n", "name": "Redis n8n" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Restore data after Redis SET\nlet data;\ntry {\n  data = $('Use Existing Dialog').first().json;\n} catch {\n  data = $('Use New Dialog').first().json;\n}\nreturn data;"
      },
      "id": "restore-dialog",
      "name": "Restore Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build final response\nconst data = $json;\n\nreturn {\n  tenant_id: data.tenant_id,\n  client_id: data.client_id,\n  channel_id: data.channel_id,\n  dialog_id: data.dialog_id,\n  last_client_channel_id: data.last_client_channel_id,\n  is_new_dialog: data.is_new_dialog,\n  trace_id: data.trace_id,\n  _source: data._source,\n  _original_input: data._original_input\n};"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "Cache Get Dialog", "type": "main", "index": 0 }]] },
    "Cache Get Dialog": { "main": [[{ "node": "Merge Dialog Redis", "type": "main", "index": 0 }]] },
    "Merge Dialog Redis": { "main": [[{ "node": "Dialog Cached?", "type": "main", "index": 0 }]] },
    "Dialog Cached?": { "main": [
      [{ "node": "Use Cached Dialog", "type": "main", "index": 0 }],
      [{ "node": "DB Get Dialog", "type": "main", "index": 0 }]
    ]},
    "Use Cached Dialog": { "main": [[{ "node": "Update Dialog (cached)", "type": "main", "index": 0 }]] },
    "Update Dialog (cached)": { "main": [[{ "node": "Restore (cached)", "type": "main", "index": 0 }]] },
    "Restore (cached)": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "DB Get Dialog": { "main": [[{ "node": "Merge DB Dialog", "type": "main", "index": 0 }]] },
    "Merge DB Dialog": { "main": [[{ "node": "Dialog Found?", "type": "main", "index": 0 }]] },
    "Dialog Found?": { "main": [
      [{ "node": "Use Existing Dialog", "type": "main", "index": 0 }],
      [{ "node": "DB Create Dialog", "type": "main", "index": 0 }]
    ]},
    "Use Existing Dialog": { "main": [[{ "node": "Update Dialog (db)", "type": "main", "index": 0 }]] },
    "Update Dialog (db)": { "main": [[{ "node": "Restore (existing)", "type": "main", "index": 0 }]] },
    "Restore (existing)": { "main": [[{ "node": "Cache Dialog", "type": "main", "index": 0 }]] },
    "DB Create Dialog": { "main": [[{ "node": "Use New Dialog", "type": "main", "index": 0 }]] },
    "Use New Dialog": { "main": [[{ "node": "Cache Dialog", "type": "main", "index": 0 }]] },
    "Cache Dialog": { "main": [[{ "node": "Restore Dialog", "type": "main", "index": 0 }]] },
    "Restore Dialog": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "ELO" }, { "name": "Resolve" }, { "name": "Dialog" }]
}
