NEW/workflows/Resolve Contour/ELO_Tenant_Resolver.json
{
  "name": "ELO_Tenant_Resolver",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate Input for Tenant Resolver\nconst raw = $input.first().json;\nconst input = raw.payload || raw;\n\nlet credential = input.credential || input.meta?.raw?.sessionId || input.meta?.raw?.botId || input.session_id || input.bot_token;\n\nif (!input.channel) throw new Error('Missing: channel');\nif (!credential) throw new Error('Missing: credential');\n\nconst channel = input.channel.toLowerCase();\nconst validChannels = ['telegram', 'whatsapp', 'avito', 'vk', 'max', 'form', 'phone'];\nif (!validChannels.includes(channel)) throw new Error(`Invalid channel: ${channel}`);\n\nconst trace_id = input.trace_id || `tenant_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\nreturn {\n  channel,\n  credential,\n  trace_id,\n  _cache_key: `cache:tenant:${channel}:${credential}`,\n  _original_input: input\n};"
      },
      "id": "validate-001",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json._cache_key }}"
      },
      "id": "redis-tenant-get",
      "name": "Cache Get Tenant",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [440, 300],
      "credentials": { "redis": { "id": "redis-n8n", "name": "Redis n8n" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge Redis result with input data\nconst input = $('Validate Input').first().json;\nconst redis = $json;\nconst cachedValue = redis.propertyName || redis.value || null;\n\nlet parsed = null;\nif (cachedValue && cachedValue !== 'null' && cachedValue !== '') {\n  try {\n    parsed = JSON.parse(cachedValue);\n    if (!parsed || !parsed.tenant_id) parsed = null;\n  } catch (e) {\n    parsed = null;\n  }\n}\n\nreturn {\n  ...input,\n  _tenant_cached: parsed\n};"
      },
      "id": "merge-tenant-redis",
      "name": "Merge Tenant Redis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 1, "looseTypeValidation": true },
          "conditions": [{ "leftValue": "={{ $json._tenant_cached?.tenant_id || '' }}", "rightValue": "", "operator": { "type": "string", "operation": "notEquals" } }]
        },
        "options": { "looseTypeValidation": true }
      },
      "id": "if-tenant-cache",
      "name": "Tenant Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Use tenant from cache\nconst data = $json;\nconst cached = data._tenant_cached;\n\nif (!cached || !cached.tenant_id) {\n  throw new Error(`Invalid tenant cache: ${JSON.stringify(cached)}`);\n}\n\nreturn {\n  tenant_id: cached.tenant_id,\n  channel_account_id: cached.channel_account_id,\n  channel_id: cached.channel_id,\n  channel: data.channel,\n  credential: data.credential,\n  trace_id: data.trace_id,\n  _source: 'cache',\n  _original_input: data._original_input\n};"
      },
      "id": "use-cached-tenant",
      "name": "Use Cached Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ca.tenant_id, ca.id as channel_account_id, ca.channel_id\nFROM elo_t_channel_accounts ca\nJOIN elo_channels c ON c.id = ca.channel_id\nWHERE c.code = '{{ $json.channel }}'\n  AND ca.session_id = '{{ $json.credential }}'\n  AND ca.is_active = true\nLIMIT 1;"
      },
      "id": "db-tenant-query",
      "name": "DB Get Tenant",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 400],
      "credentials": { "postgres": { "id": "postgres-main", "name": "PostgreSQL Main" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge DB result with input data\nconst input = $('Merge Tenant Redis').first().json;\nconst dbResult = $json;\n\nreturn {\n  ...input,\n  _db_tenant: dbResult.tenant_id ? dbResult : null\n};"
      },
      "id": "merge-db-tenant",
      "name": "Merge DB Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 1, "looseTypeValidation": true },
          "conditions": [{ "leftValue": "={{ !!$json._db_tenant }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }]
        },
        "options": { "looseTypeValidation": true }
      },
      "id": "if-tenant-found",
      "name": "Tenant Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "throw new Error(`Channel not registered: ${$json.channel}:${$json.credential}`);"
      },
      "id": "error-no-tenant",
      "name": "Error: No Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Use tenant from DB and prepare for cache\nconst data = $json;\nconst tenant = data._db_tenant;\n\nreturn {\n  tenant_id: tenant.tenant_id,\n  channel_account_id: tenant.channel_account_id,\n  channel_id: tenant.channel_id,\n  channel: data.channel,\n  credential: data.credential,\n  trace_id: data.trace_id,\n  _source: 'database',\n  _cache_key: data._cache_key,\n  _cache_value: JSON.stringify({ \n    tenant_id: tenant.tenant_id, \n    channel_account_id: tenant.channel_account_id, \n    channel_id: tenant.channel_id \n  }),\n  _original_input: data._original_input\n};"
      },
      "id": "use-db-tenant",
      "name": "Use DB Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json._cache_key }}",
        "value": "={{ $json._cache_value }}",
        "expire": true,
        "ttl": 86400
      },
      "id": "redis-tenant-set",
      "name": "Cache Tenant",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1980, 300],
      "credentials": { "redis": { "id": "redis-n8n", "name": "Redis n8n" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Restore data after Redis SET (Redis returns OK, not our data)\nreturn $('Use DB Tenant').first().json;"
      },
      "id": "restore-tenant",
      "name": "Restore Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build final response\nconst data = $json;\n\nreturn {\n  tenant_id: data.tenant_id,\n  channel_account_id: data.channel_account_id,\n  channel_id: data.channel_id,\n  channel: data.channel,\n  credential: data.credential,\n  trace_id: data.trace_id,\n  _source: data._source,\n  _original_input: data._original_input\n};"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "Cache Get Tenant", "type": "main", "index": 0 }]] },
    "Cache Get Tenant": { "main": [[{ "node": "Merge Tenant Redis", "type": "main", "index": 0 }]] },
    "Merge Tenant Redis": { "main": [[{ "node": "Tenant Cached?", "type": "main", "index": 0 }]] },
    "Tenant Cached?": { "main": [
      [{ "node": "Use Cached Tenant", "type": "main", "index": 0 }],
      [{ "node": "DB Get Tenant", "type": "main", "index": 0 }]
    ]},
    "Use Cached Tenant": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "DB Get Tenant": { "main": [[{ "node": "Merge DB Tenant", "type": "main", "index": 0 }]] },
    "Merge DB Tenant": { "main": [[{ "node": "Tenant Found?", "type": "main", "index": 0 }]] },
    "Tenant Found?": { "main": [
      [{ "node": "Use DB Tenant", "type": "main", "index": 0 }],
      [{ "node": "Error: No Tenant", "type": "main", "index": 0 }]
    ]},
    "Use DB Tenant": { "main": [[{ "node": "Cache Tenant", "type": "main", "index": 0 }]] },
    "Cache Tenant": { "main": [[{ "node": "Restore Tenant", "type": "main", "index": 0 }]] },
    "Restore Tenant": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "ELO" }, { "name": "Resolve" }, { "name": "Tenant" }]
}
