NEW/workflows/Resolve Contour/ELO_Resolver.json
{
  "name": "ELO_Resolver_v3",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Main Resolver - Entry Point\nconst raw = $input.first().json;\nconst input = raw.payload || raw;\n\nconst trace_id = input.trace_id || `resolver_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\nreturn {\n  ...input,\n  trace_id,\n  _entry_timestamp: Date.now()\n};"
      },
      "id": "prepare-input",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "workflowId": { "mode": "name", "value": "ELO_Tenant_Resolver" }
      },
      "id": "call-tenant-resolver",
      "name": "Call Tenant Resolver",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepare data for Client Resolver\nconst tenantResult = $json;\nconst originalInput = tenantResult._original_input;\n\nreturn {\n  tenant_id: tenantResult.tenant_id,\n  channel_account_id: tenantResult.channel_account_id,\n  channel_id: tenantResult.channel_id,\n  channel: tenantResult.channel,\n  credential: tenantResult.credential,\n  external_chat_id: originalInput.external_chat_id,\n  sender_name: originalInput.sender_name || originalInput.client_name || 'Unknown',\n  sender_username: originalInput.sender_username || originalInput.client_username || '',\n  external_user_id: originalInput.external_user_id,\n  trace_id: tenantResult.trace_id,\n  _tenant_source: tenantResult._source,\n  _original_input: originalInput\n};"
      },
      "id": "prepare-client",
      "name": "Prepare Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "workflowId": { "mode": "name", "value": "ELO_Client_Resolver" }
      },
      "id": "call-client-resolver",
      "name": "Call Client Resolver",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepare data for Dialog Resolver\nconst clientResult = $json;\nconst preparedClient = $('Prepare Client').first().json;\n\nreturn {\n  tenant_id: preparedClient.tenant_id,\n  client_id: clientResult.client_id,\n  channel_id: preparedClient.channel_id,\n  trace_id: clientResult.trace_id,\n  _tenant_id: preparedClient.tenant_id,\n  _channel_account_id: preparedClient.channel_account_id,\n  _channel: preparedClient.channel,\n  _external_chat_id: preparedClient.external_chat_id,\n  _is_new_client: clientResult.is_new_client,\n  _was_unified: clientResult.was_unified,\n  _tenant_source: preparedClient._tenant_source,\n  _client_source: clientResult._source,\n  _original_input: preparedClient._original_input\n};"
      },
      "id": "prepare-dialog",
      "name": "Prepare Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "workflowId": { "mode": "name", "value": "ELO_Dialog_Resolver" }
      },
      "id": "call-dialog-resolver",
      "name": "Call Dialog Resolver",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build final response - combine all results\nconst dialogResult = $json;\nconst preparedDialog = $('Prepare Dialog').first().json;\nconst originalInput = preparedDialog._original_input;\n\nreturn {\n  tenant_id: dialogResult.tenant_id,\n  client_id: dialogResult.client_id,\n  dialog_id: dialogResult.dialog_id,\n  channel_id: dialogResult.channel_id,\n  channel_account_id: preparedDialog._channel_account_id,\n  channel: preparedDialog._channel,\n  external_chat_id: preparedDialog._external_chat_id,\n  last_client_channel_id: dialogResult.last_client_channel_id,\n  is_new_client: preparedDialog._is_new_client,\n  is_new_dialog: dialogResult.is_new_dialog,\n  was_unified: preparedDialog._was_unified,\n  sender_name: originalInput.sender_name || originalInput.client_name || 'Unknown',\n  text: originalInput.text || '',\n  trace_id: dialogResult.trace_id,\n  _tenant_source: preparedDialog._tenant_source,\n  _client_source: preparedDialog._client_source,\n  _dialog_source: dialogResult._source,\n  _execution_time_ms: Date.now() - originalInput._entry_timestamp\n};"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Prepare Input", "type": "main", "index": 0 }]] },
    "Prepare Input": { "main": [[{ "node": "Call Tenant Resolver", "type": "main", "index": 0 }]] },
    "Call Tenant Resolver": { "main": [[{ "node": "Prepare Client", "type": "main", "index": 0 }]] },
    "Prepare Client": { "main": [[{ "node": "Call Client Resolver", "type": "main", "index": 0 }]] },
    "Call Client Resolver": { "main": [[{ "node": "Prepare Dialog", "type": "main", "index": 0 }]] },
    "Prepare Dialog": { "main": [[{ "node": "Call Dialog Resolver", "type": "main", "index": 0 }]] },
    "Call Dialog Resolver": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "ELO" }, { "name": "Core" }, { "name": "Main" }]
}
