Backend JSON/BAT AI Appeal Router.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "8ef313ef-e0cd-452d-afb4-55437003e867",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        688,
        1936
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  a.*,\n  b.name as brand_name,\n  b.normalized_name as brand_normalized,\n  m.name as model_name,\n  m.aliases as model_aliases,\n  rt.name as repair_type_name,\n  rt.description as repair_type_description,\n  dt.name as device_type_name,\n  c.phone as client_phone,\n  c.name as client_name,\n  COALESCE(\n    jsonb_agg(\n      jsonb_build_object(\n        'timestamp', mh.created_at,\n        'is_client', CASE WHEN mh.message_type = 'client' THEN true ELSE false END,\n        'text', mh.message_text\n      ) ORDER BY mh.created_at ASC\n    ) FILTER (WHERE mh.id IS NOT NULL),\n    '[]'::jsonb\n  ) as messages\nFROM appeals a\nLEFT JOIN brands b ON b.id = a.brand_id AND b.tenant_id = a.tenant_id\nLEFT JOIN models m ON m.id = a.model_id AND m.tenant_id = a.tenant_id\nLEFT JOIN repair_types rt ON rt.id = a.repair_type_id AND rt.tenant_id = a.tenant_id\nLEFT JOIN device_types dt ON dt.id = a.device_type_id\nLEFT JOIN clients c ON c.id = a.client_id AND c.tenant_id = a.tenant_id\nLEFT JOIN messages_history mh ON mh.appeal_id = a.id AND mh.tenant_id = a.tenant_id\nWHERE a.id = '{{ $json.appeal.id }}'::uuid\n  AND a.tenant_id = '{{ $json.tenant_id }}'::uuid\nGROUP BY a.id, b.name, b.normalized_name, m.name, m.aliases, rt.name, rt.description, dt.name, c.phone, c.name;",
        "options": {}
      },
      "id": "20f49fc3-e9b7-4479-b1d5-9ecee6fb041f",
      "name": "Load Appeal & History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        912,
        1936
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  (SELECT jsonb_agg(jsonb_build_object('id', id, 'name', name, 'normalized_name', normalized_name)) FROM brands WHERE is_active = true) as brands,\n  (SELECT jsonb_agg(jsonb_build_object('id', id, 'name', name, 'description', description)) FROM repair_types WHERE is_active = true) as repair_types;",
        "options": {}
      },
      "id": "f2d82aa9-c80a-4a2c-bc3e-0d730c3f6781",
      "name": "Load Reference Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        1936
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "80Sw4fhqxEeb6pU4",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        688,
        2288
      ],
      "id": "9181fbba-1418-4c33-919f-d6c0c000defb",
      "name": "Call Tool - Type"
    },
    {
      "parameters": {
        "workflowId": "W0uWBGk9LFJ6gfwC",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1040,
        2288
      ],
      "id": "0abbd8b2-42d1-4551-a13a-4e6737cc1773",
      "name": "Call Tool - Model"
    },
    {
      "parameters": {
        "workflowId": "z8rmWHMWZROfH1Nl",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1456,
        2288
      ],
      "id": "85a8def9-d692-48c8-a9d8-16093ab1058d",
      "name": "Call Tool - Repair"
    },
    {
      "parameters": {
        "workflowId": "eQ6GSJKSeN5EzaQz",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1856,
        2288
      ],
      "id": "5f02a8ab-f988-452e-bb50-eb40aaaa482f",
      "name": "Call Tool - Parts"
    },
    {
      "parameters": {
        "jsCode": "const collectData = $('Collect Tool Results').first().json;\nconst aiResponse = $input.first().json;\n\nconsole.log('═══ PARSE AI RESPONSE ═══');\n\nconst responseText = aiResponse.output || aiResponse.text || 'Здравствуйте!';\n\nconsole.log('Response text:', responseText);\nconsole.log('Extracted data from tools:', collectData.extracted_data);\n\nreturn {\n  ...collectData,\n  response_text: responseText,\n  reasoning: 'Данные извлечены принудительными вызовами tools',\n  parse_error: false\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        2624
      ],
      "id": "4c2d656f-84fd-429a-b544-3913c53c0e9c",
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse AI Response').first().json;\nconst appealUpdated = $input.first().json;\nconst appeal = Array.isArray(appealUpdated) ? appealUpdated[0] : appealUpdated;\n\nconst action = input.next_action;\n\nconsole.log('=== ROUTE DECISION ===');\nconsole.log('Next action:', action);\nconsole.log('Appeal ID:', appeal?.id);\n\nlet shouldCallApprover = true;\n\nreturn {\n  ...input,\n  appeal_id: appeal?.id || input.appeal_id,\n  appeal: appeal,\n  should_call_approver: shouldCallApprover,\n  \n  approval_data: {\n    channel: input.channel,\n    external_chat_id: input.external_chat_id,\n    appeal_id: appeal?.id || input.appeal_id,\n    client_name: input.client_name,\n    response_text: input.response_text,\n    reasoning: input.reasoning,\n    next_action: action,\n    appeal: appeal,\n    client: input.client || {},\n    extracted_data: input.extracted_data,\n    completeness: {\n      missing: input.missing_fields ? input.missing_fields.split(', ') : []\n    },\n    propertyName: {\n      channel: input.channel,\n      external_chat_id: input.external_chat_id,\n      text: input.response_text,\n      meta: {\n        ai_response: input.response_text,\n        reasoning: input.reasoning,\n        appeal: appeal,\n        extracted_data: input.extracted_data\n      }\n    }\n  }\n};"
      },
      "id": "0677a3eb-6e08-4f42-9924-237cc9389a59",
      "name": "Route Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        2624
      ]
    },
    {
      "parameters": {
        "workflowId": "GUeLgLcNnawYfpf9",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2608,
        2624
      ],
      "id": "fd855683-3f75-4ca1-aeba-cc14d2116554",
      "name": "Call BAT Operator Notifier"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"appeal_id\": $json.appeal_id,\n  \"next_action\": $json.next_action,\n  \"response_text\": $json.response_text,\n  \"extracted_data\": $json.extracted_data,\n  \"message\": \"AI Router processed successfully\"\n} }}",
        "options": {}
      },
      "id": "46cd8b13-b45a-4c3a-ab51-dd1d95abdd0f",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2816,
        2624
      ]
    },
    {
      "parameters": {
        "jsCode": "const triggerData = $('Execute Workflow Trigger').first().json;\nconst appealDataArray = $('Load Appeal & History').first().json;\nconst appealData = Array.isArray(appealDataArray) ? appealDataArray[0] : appealDataArray;\nconst refDataArray = $('Load Reference Data').first().json;\nconst refData = Array.isArray(refDataArray) ? refDataArray[0] : refDataArray;\n\nlet conversationHistory = '';\nif (appealData.messages && appealData.messages.length > 0) {\n  conversationHistory = appealData.messages.map(msg => {\n    const time = new Date(msg.timestamp).toLocaleTimeString('ru-RU', {hour: '2-digit', minute: '2-digit'});\n    const sender = msg.is_client ? 'Клиент' : 'Бот';\n    return `[${time}] ${sender}: ${msg.text}`;\n  }).join('\\n');\n} else {\n  conversationHistory = 'Первое сообщение в диалоге';\n}\nconversationHistory += `\\n\\n[НОВОЕ] Клиент: ${triggerData.text}`;\n\nconst currentState = {\n  type: appealData.type || null,\n  type_identified: appealData.type_identified || false,\n  brand: appealData.brand_name || null,\n  brand_id: appealData.brand_id || null,\n  model: appealData.model_name || null,\n  model_id: appealData.model_id || null,\n  repair_type: appealData.repair_type_name || null,\n  repair_type_id: appealData.repair_type_id || null,\n  parts_owner: appealData.parts_owner || null,\n  estimated_cost: appealData.estimated_cost || null,\n  stage: appealData.stage || 'Первичный контакт'\n};\n\nconst completeness = {\n  has_type: !!appealData.type && appealData.type_identified === true,\n  has_brand: !!appealData.brand_id,\n  has_model: !!appealData.model_id,\n  has_repair_type: !!appealData.repair_type_id,\n  has_parts_owner: !!appealData.parts_owner,\n  has_cost: !!appealData.estimated_cost\n};\n\nconst missing = [];\nif (!completeness.has_type) missing.push('тип обращения');\nif (!completeness.has_brand) missing.push('бренд');\nif (!completeness.has_model) missing.push('модель');\nif (currentState.type === 'repair') {\n  if (!completeness.has_repair_type) missing.push('тип ремонта');\n  if (!completeness.has_parts_owner) missing.push('чья запчасть');\n}\n\nconst formatList = (items, nameField = 'name') => {\n  if (!items || !Array.isArray(items)) return 'нет данных';\n  return items.map(item => `- ${item[nameField]}`).join('\\n');\n};\n\n// КРИТИЧНО: Используем appealData.id напрямую!\nconst appealId = appealData.id || triggerData.appeal?.id;\n\nconsole.log('=== FORMAT CONTEXT FOR AI ===');\nconsole.log('Appeal ID:', appealId);\n\nif (!appealId) {\n  throw new Error('No appeal.id found in appealData or triggerData!');\n}\n\nreturn {\n  ...triggerData,\n  appeal_id: appealId,  // ← ЯВНО!\n  appeal: {\n    id: appealId,       // ← ЯВНО!\n    stage: appealData.stage || 'Первичный контакт'\n  },\n  conversation_history: conversationHistory,\n  current_state: currentState,\n  completeness: completeness,\n  missing_fields: missing.join(', ') || 'все заполнено',\n  brands_list: formatList(refData.brands || []),\n  models_list: formatList(refData.models || []),\n  repair_types_list: formatList(refData.repair_types || []),\n  available_brands: refData.brands || [],\n  available_models: refData.models || [],\n  available_repair_types: refData.repair_types || [],\n  channel: triggerData.channel || 'telegram',\n  client_name: appealData.client_name || triggerData.client?.name || 'Клиент',\n  external_chat_id: triggerData.external_chat_id\n};"
      },
      "id": "61793e19-e7a4-471f-95cc-b927cdda83ca",
      "name": "Format Context for AI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        1936
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\n\nconsole.log('═══ PREPARE SESSION ═══');\nconsole.log('appeal.id:', input.appeal?.id);\nconsole.log('text:', input.text);\n\nconst sessionId = input.appeal?.id;\n\nif (!sessionId) {\n  console.error('❌ No appeal.id for session!');\n  throw new Error('Cannot create session - no appeal.id');\n}\n\nconst chatInput = input.text || 'Здравствуйте';\n\nconsole.log('✅ Session ID:', sessionId);\nconsole.log('✅ Text:', chatInput);\n\nreturn {\n  ...input,\n  sessionId: sessionId,\n  text: chatInput\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1936
      ],
      "id": "803a34a4-1e59-470e-9e70-fdcb43f4f285",
      "name": "Prepare Session1"
    },
    {
      "parameters": {
        "text": "=={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Ты — дружелюбный ассистент сервисного центра по ремонту iPhone.\n\nВАЖНО: Все данные об обращении уже извлечены специализированными системами!\nТебе предоставлен контекст с уже определенными данными.\n\nТвоя задача - ТОЛЬКО сформировать естественный, дружелюбный ответ клиенту.\n\nПРАВИЛА:\n1. Используй данные из контекста\n2. Если что-то уже известно - подтверди это естественным образом\n3. Если чего-то не хватает - вежливо попроси уточнить\n4. Будь кратким и по делу\n5. НЕ используй markdown\n6. Говори естественным разговорным языком\n\nПРИМЕРЫ:\n\nКонтекст: тип=ремонт, модель=iPhone 12 Pro, проблема=не определена\nОтвет: \"Понял, ремонт iPhone 12 Pro. Что именно нужно починить?\"\n\nКонтекст: тип=ремонт, модель=iPhone 12 Pro, проблема=Дисплей, запчасть=наша\nОтвет: \"Отлично! Замена дисплея на iPhone 12 Pro, запчасть будет наша. Сейчас рассчитаю стоимость.\"\n\nКонтекст: тип=не определен, модель=не определена\nОтвет: \"Здравствуйте! Чем могу помочь?\"\n\nПросто ответь клиенту естественно и дружелюбно!"
        }
      },
      "id": "2d06c682-2392-4faf-8dae-d1b1e189be04",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        704,
        2624
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        }
      },
      "id": "0b43c3f0-b0bf-44a8-a518-9dec31e2e1f0",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        624,
        2864
      ],
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        768,
        2928
      ],
      "id": "59e0bda5-92d1-4ce3-92f6-7750df89412c",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Attach Tools Base (после Prepare Session)\nconst input = $input.first().json;\n\nconsole.log('=== ATTACH TOOLS BASE ===');\nconsole.log('Saving base data for tools...');\n\nreturn {\n  __tools_base: input  // Сохраняем исходные данные\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        1936
      ],
      "id": "03137ccf-1890-4d79-a23e-3284f8140d80",
      "name": "Attach Tools Base"
    },
    {
      "parameters": {
        "jsCode": "// Merge After Tool Type\nconst base = $('Attach Tools Base').first().json.__tools_base;\nconst typeResult = $input.first().json;\n\nconsole.log('=== MERGE AFTER TOOL TYPE ===');\nconsole.log('Type result:', typeResult);\n\nreturn {\n  ...base,  // Восстанавливаем исходные данные\n  tool_type_result: typeResult  // Добавляем результат\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        2288
      ],
      "id": "afad4ebe-96e9-4007-a31c-efdf244fbed8",
      "name": "Merge After Tool Type"
    },
    {
      "parameters": {
        "jsCode": "// Merge After Tool Model\nconst previousData = $('Merge After Tool Type').first().json;\nconst modelResult = $input.first().json;\n\nconsole.log('=== MERGE AFTER TOOL MODEL ===');\nconsole.log('Model result:', modelResult);\n\nreturn {\n  ...previousData,  // Сохраняем всё предыдущее\n  tool_model_result: modelResult  // Добавляем результат\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        2288
      ],
      "id": "91535fb8-8979-4262-becf-c4da1f78e0a0",
      "name": "Merge After Tool Model"
    },
    {
      "parameters": {
        "jsCode": "// Merge After Tool Repair\nconst previousData = $('Merge After Tool Model').first().json;\nconst repairResult = $input.first().json;\n\nconsole.log('=== MERGE AFTER TOOL REPAIR ===');\nconsole.log('Repair result:', repairResult);\n\nreturn {\n  ...previousData,\n  tool_repair_result: repairResult\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        2288
      ],
      "id": "a5c896c0-5807-4a1c-8702-f991da85cf2b",
      "name": "Merge After Tool Repair"
    },
    {
      "parameters": {
        "jsCode": "// Merge After Tool Parts\nconst previousData = $('Merge After Tool Repair').first().json;\nconst partsResult = $input.first().json;\n\nconsole.log('=== MERGE AFTER TOOL PARTS ===');\nconsole.log('Parts result:', partsResult);\n\nreturn {\n  ...previousData,\n  tool_parts_result: partsResult\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        2288
      ],
      "id": "99efea4a-6a7e-40ec-8122-7e8f31d71b85",
      "name": "Merge After Tool Parts"
    },
    {
      "parameters": {
        "jsCode": "const mergedData = $('Merge After Tool Parts').first().json;\n\nconsole.log('═══ COLLECT ALL TOOL RESULTS ═══');\n\n// Извлекаем результаты из мержа\nconst typeResult = mergedData.tool_type_result || {};\nconst modelResult = mergedData.tool_model_result || {};\nconst repairResult = mergedData.tool_repair_result || {};\nconst partsResult = mergedData.tool_parts_result || {};\n\nconsole.log('Type result:', typeResult);\nconsole.log('Model result:', modelResult);\nconsole.log('Repair result:', repairResult);\nconsole.log('Parts result:', partsResult);\n\n// Парсинг если нужно\nconst parseToolResult = (data) => {\n  if (typeof data === 'string') {\n    try {\n      return JSON.parse(data);\n    } catch(e) {\n      return {};\n    }\n  }\n  return data;\n};\n\nconst typeParsed = parseToolResult(typeResult);\nconst modelParsed = parseToolResult(modelResult);\nconst repairParsed = parseToolResult(repairResult);\nconst partsParsed = parseToolResult(partsResult);\n\n// Собираем extracted_data\nconst extractedData = {\n  type: typeParsed.type || null,\n  model: modelParsed.model || null,\n  model_id: modelParsed.model_id || null,\n  brand_id: modelParsed.brand_id || null,\n  repair_type: repairParsed.repair_type || null,\n  repair_type_id: repairParsed.repair_type_id || null,\n  parts_owner: partsParsed.parts_owner || 'наша'\n};\n\nconsole.log('═══ FINAL EXTRACTED DATA ═══');\nconsole.log(JSON.stringify(extractedData, null, 2));\n\nconst missing = [];\nif (!extractedData.type) missing.push('тип обращения');\nif (!extractedData.model_id) missing.push('модель');\nif (!extractedData.repair_type_id && extractedData.type === 'ремонт') missing.push('тип ремонта');\n\nconst nextAction = \n  !extractedData.type ? 'ask_type' :\n  !extractedData.model_id ? 'ask_model' :\n  !extractedData.repair_type_id && extractedData.type === 'ремонт' ? 'ask_repair_type' :\n  'calculate_cost';\n\n// ═══ НОВАЯ ЛОГИКА: Проверка первого контакта ═══\nconst conversationHistory = mergedData.conversation_history || '';\nconst isFirstMessage = conversationHistory.includes('Первое сообщение в диалоге');\n\n// Определяем нужно ли приветствие\nlet shouldGreet = false;\nconst clientMessage = mergedData.text || '';\nconst lowerMessage = clientMessage.toLowerCase();\n\n// Если клиент сам поздоровался - не дублируем\nconst clientGreeted = lowerMessage.includes('здравствуй') || \n                      lowerMessage.includes('привет') || \n                      lowerMessage.includes('добр');\n\n// Приветствуем только если:\n// 1. Это первое сообщение в диалоге\n// 2. Клиент НЕ поздоровался сам\nshouldGreet = isFirstMessage && !clientGreeted;\n\nconsole.log('=== GREETING LOGIC ===');\nconsole.log('Is first message:', isFirstMessage);\nconsole.log('Client greeted:', clientGreeted);\nconsole.log('Should greet:', shouldGreet);\n\n// Формируем контекст для AI\nlet contextForAI = `Данные об обращении клиента (уже извлечены):\n- Тип: ${extractedData.type || 'не определен'}\n- Модель: ${extractedData.model || 'не определена'}\n- Проблема: ${extractedData.repair_type || 'не определена'}\n- Запчасть: ${extractedData.parts_owner || 'не определено'}\n\nЧто не хватает: ${missing.length > 0 ? missing.join(', ') : 'всё заполнено'}\n\nСообщение клиента: \"${mergedData.text}\"\n\n${shouldGreet ? 'ВАЖНО: Это первый контакт с клиентом сегодня. Начни с приветствия!\\n' : ''}\n\nТвоя задача: Сформировать дружелюбный ответ клиенту.`;\n\nreturn {\n  ...mergedData,\n  extracted_data: extractedData,\n  missing_fields: missing.join(', ') || 'всё заполнено',\n  next_action: nextAction,\n  chatInput: contextForAI,\n  sessionId: mergedData.appeal?.id,\n  is_first_message: isFirstMessage,\n  should_greet: shouldGreet\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        2288
      ],
      "id": "f46e7058-0988-4f24-aeaa-5f54d2a180f5",
      "name": "Collect Tool Results"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route === 'full' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "f896095a-b8f8-4b42-bd1f-a8fd3c74c416"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "full"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e833b187-4d7e-4c1d-960e-7cc3fae450c8",
                    "leftValue": "={{ $json.route === 'partial' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "partial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cdaa2098-369d-4398-b48c-f392c21ac9fd",
                    "leftValue": "={{ $json.route === 'minimal' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "minimal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1392,
        2608
      ],
      "id": "4592a919-41c8-427f-8f7b-6cb9825dccde",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2064,
        2608
      ],
      "id": "805f48df-b0c4-49c1-b54e-8f9aa6afef1a",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.dynamic_sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1728,
        2496
      ],
      "id": "0deea65d-f728-4b74-afc6-bb74c66c17e1",
      "name": "Update Full Data",
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.dynamic_sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1728,
        2800
      ],
      "id": "86b65263-c066-458b-9113-b56cce35693e",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.dynamic_sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1728,
        2640
      ],
      "id": "269bfb9e-7b2b-4ed7-95d0-a9c1a5cf4979",
      "name": "Update Partial Data",
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst extracted = input.extracted_data || {};\n\nconsole.log('═══ ROUTE BY COMPLETENESS ═══');\nconsole.log('Extracted data:', extracted);\n\n// Определяем что заполнено\nconst hasType = extracted.type && extracted.type !== 'null' && extracted.type !== '';\nconst hasModel = extracted.model_id && extracted.model_id !== 'null' && extracted.model_id !== '';\nconst hasBrand = extracted.brand_id && extracted.brand_id !== 'null' && extracted.brand_id !== '';\nconst hasRepairType = extracted.repair_type_id && extracted.repair_type_id !== 'null' && extracted.repair_type_id !== '';\nconst hasPartsOwner = extracted.parts_owner && extracted.parts_owner !== 'null' && extracted.parts_owner !== '';\nconst hasPhoneModel = extracted.model && extracted.model !== 'null' && extracted.model !== '';\n\nconsole.log('Completeness check:');\nconsole.log('- Type:', hasType);\nconsole.log('- Model ID:', hasModel);\nconsole.log('- Brand ID:', hasBrand);\nconsole.log('- Repair Type ID:', hasRepairType);\nconsole.log('- Parts Owner:', hasPartsOwner);\nconsole.log('- Phone Model:', hasPhoneModel);\n\n// Определяем маршрут\nlet route = 'partial';\n\nif (hasType && hasModel && hasBrand && hasRepairType && hasPhoneModel) {\n  route = 'full';\n} else if (hasType) {\n  route = 'partial';\n} else {\n  route = 'minimal';\n}\n\nconsole.log('Selected route:', route);\n\n// Формируем SET часть SQL ДИНАМИЧЕСКИ!\nconst setFields = [];\n\nif (hasType) {\n  setFields.push(`type = '${extracted.type.replace(/'/g, \"''\")}'`);\n}\n\nif (hasModel) {\n  setFields.push(`model_id = '${extracted.model_id}'::uuid`);\n}\n\nif (hasBrand) {\n  setFields.push(`brand_id = '${extracted.brand_id}'::uuid`);\n}\n\nif (hasRepairType) {\n  setFields.push(`repair_type_id = '${extracted.repair_type_id}'::uuid`);\n}\n\nif (hasPartsOwner) {\n  setFields.push(`parts_owner = '${extracted.parts_owner.replace(/'/g, \"''\")}'`);\n}\n\nif (hasPhoneModel) {\n  setFields.push(`phone_model = '${extracted.model.replace(/'/g, \"''\")}'`);\n}\n\n// ВСЕГДА обновляем routing_history и updated_at\nconst routingHistoryJson = JSON.stringify({\n  timestamp: new Date().toISOString(),\n  action: input.next_action,\n  reasoning: input.reasoning,\n  route: route\n}).replace(/'/g, \"''\");\n\nsetFields.push(`routing_history = COALESCE(routing_history, '[]'::jsonb) || '${routingHistoryJson}'::jsonb`);\nsetFields.push(`updated_at = NOW()`);\n\nconst dynamicSQL = `UPDATE appeals SET ${setFields.join(', ')} WHERE id = '${input.appeal_id}'::uuid RETURNING *;`;\n\nconsole.log('═══ DYNAMIC SQL ═══');\nconsole.log(dynamicSQL);\n\nreturn {\n  ...input,\n  route: route,\n  dynamic_sql: dynamicSQL,\n  has_full_data: route === 'full',\n  has_partial_data: route === 'partial',\n  has_minimal_data: route === 'minimal'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        2624
      ],
      "id": "4d7408d8-567a-4fc3-9487-77d1fec1738d",
      "name": "Route by Completeness"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Load Appeal & History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Appeal & History": {
      "main": [
        [
          {
            "node": "Load Reference Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Reference Data": {
      "main": [
        [
          {
            "node": "Format Context for AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Tool - Type": {
      "main": [
        [
          {
            "node": "Merge After Tool Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Tool - Model": {
      "main": [
        [
          {
            "node": "Merge After Tool Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Tool - Repair": {
      "main": [
        [
          {
            "node": "Merge After Tool Repair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Tool - Parts": {
      "main": [
        [
          {
            "node": "Merge After Tool Parts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Route by Completeness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Decision": {
      "main": [
        [
          {
            "node": "Call BAT Operator Notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call BAT Operator Notifier": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context for AI1": {
      "main": [
        [
          {
            "node": "Prepare Session1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session1": {
      "main": [
        [
          {
            "node": "Attach Tools Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Attach Tools Base": {
      "main": [
        [
          {
            "node": "Call Tool - Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Tool Type": {
      "main": [
        [
          {
            "node": "Call Tool - Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Tool Model": {
      "main": [
        [
          {
            "node": "Call Tool - Repair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Tool Repair": {
      "main": [
        [
          {
            "node": "Call Tool - Parts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Tool Parts": {
      "main": [
        [
          {
            "node": "Collect Tool Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Tool Results": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update Full Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Partial Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Route Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Full Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Update Partial Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Route by Completeness": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "channel": "telegram",
        "external_user_id": "1132511247",
        "external_chat_id": "1132511247",
        "text": "Мне нужен ремонт телефона\nЗамен экрана от потека",
        "timestamp": "2025-11-15T09:21:17.000Z",
        "client_phone": null,
        "client_name": "РемАкс MD",
        "client_email": null,
        "media": {
          "has_voice": false,
          "voice_transcribed_text": null,
          "has_images": false,
          "images": [],
          "has_video": false,
          "videos": [],
          "has_document": false,
          "documents": []
        },
        "meta": {
          "external_message_id": "1091",
          "ad_channel": "telegram",
          "ad_id": null,
          "original_media_type": "text",
          "raw": {
            "message_id": 1091,
            "from": {
              "id": 1132511247,
              "is_bot": false,
              "first_name": "РемАкс MD",
              "username": "RemacsMD",
              "language_code": "ru",
              "is_premium": true
            },
            "chat": {
              "id": 1132511247,
              "first_name": "РемАкс MD",
              "username": "RemacsMD",
              "type": "private"
            },
            "date": 1763198477,
            "text": "Мне нужен ремонт телефона\nЗамен экрана от потека"
          },
          "username": "RemacsMD",
          "batched": true,
          "batch_size": 1,
          "batch_wait_time": 20,
          "original_messages": [
            {
              "timestamp": "2025-11-15T09:21:17.000Z",
              "type": "text",
              "text_length": 48
            }
          ],
          "combined_at": "2025-11-15T09:21:39.982Z"
        },
        "prefilled_data": {
          "model": null,
          "parts_owner": null
        },
        "bot_token": "8411509872:AAFmR4xk6kJFBgKsYdXRJAULhxHWe1McJQ8",
        "external_message_id": "1091",
        "tenant_id": "a0000000-0000-0000-0000-000000000001",
        "tenant_name": "Default Tenant",
        "tenant_config": {
          "token": "8411509872:AAFmR4xk6kJFBgKsYdXRJAULhxHWe1McJQ8"
        },
        "success": true,
        "client": {
          "id": "94f3bf7c-f2f3-4dc1-bdfb-e9d9d7a8ba93",
          "phone": null,
          "name": "РемАкс MD",
          "telegram_id": "1132511247",
          "vk_id": null,
          "whatsapp_id": null,
          "avito_id": null,
          "was_merged": false
        },
        "client_found": true,
        "appeal": {
          "id": "07af5e27-4532-4d6b-bdff-6f8c089a76d5",
          "stage": null,
          "phone_model": null,
          "model_id": null,
          "brand_id": null,
          "repair_type_id": null,
          "problem_description": null,
          "operation_mode": "assist",
          "estimated_cost": null,
          "estimated_time": null,
          "parts_owner": null,
          "is_new": null
        },
        "appeal_id": "07af5e27-4532-4d6b-bdff-6f8c089a76d5"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ae77ca901b15c37bb42b26ea9b5a21b78217dd557a563108d875a64964c49bb"
  }
}