Backend JSON/BAT Client Response Sender.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1040,
        128
      ],
      "id": "7037259d-cd9c-4c1f-b1cf-754e81c75214",
      "name": "Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS(\n  SELECT 1 FROM agent_training_samples\n  WHERE tenant_id = '{{ $json.tenant_id }}'::uuid\n    AND appeal_id = '{{ $json.appeal_id }}'::uuid\n) as exists;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -832,
        128
      ],
      "id": "81c610d3-cc2a-4175-9bc8-3f813f0b48f2",
      "name": "Check Training Sample Exists",
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ex111111-1111-1111-1111-111111111111",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -640,
        128
      ],
      "id": "9d0491af-395b-4ad5-aa00-d1c9e82c7922",
      "name": "Not Exists?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_training_samples (\n  tenant_id,\n  appeal_id,\n  mode,\n  input_context,\n  draft,\n  operator_edit,\n  final_text\n)\nVALUES (\n  '{{ $('Trigger').item.json.tenant_id }}'::uuid,\n  '{{ $('Trigger').item.json.appeal_id }}'::uuid,\n  'assist',\n  jsonb_build_object(\n    'client_message', '{{ $('Trigger').item.json.context?.last_client_message || \"\" }}',\n    'device', '{{ $('Trigger').item.json.context?.phone_model || \"\" }}',\n    'repair_type', '{{ $('Trigger').item.json.context?.repair_type_name || \"\" }}'\n  ),\n  jsonb_build_object(\n    'type', '{{ $('Trigger').item.json.operator_action }}',\n    'media_type', '{{ $('Trigger').item.json.media_type }}'\n  ),\n  '{{ $('Trigger').item.json.response_to_send }}',\n  '{{ $('Trigger').item.json.response_to_send }}'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -432,
        16
      ],
      "id": "369e1043-09b4-4185-94ff-621d95860b35",
      "name": "Save to Training",
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $('Trigger').first().json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        224
      ],
      "id": "5b6f2919-96f2-46a2-9516-968097323c0a",
      "name": "Pass Through"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cb111111-1111-1111-1111-111111111111",
              "leftValue": "={{ $('Trigger').item.json.callback_query_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            },
            {
              "id": "64bd3b0e-27eb-49ba-a0ab-07adb14ed9fe",
              "leftValue": "$('Trigger').item.json.callback_query_id",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        384,
        128
      ],
      "id": "3e306c15-9da6-40e5-a6ac-1e8c87cb7b8d",
      "name": "Has Callback?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"appeal_id\": $('Trigger').item.json.appeal_id } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1600,
        144
      ],
      "id": "40498daf-5f16-42b9-91df-35d55f71691b",
      "name": "Respond"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QLpLHjX6YFsYUl4M",
          "mode": "list",
          "cachedResultUrl": "/workflow/QLpLHjX6YFsYUl4M",
          "cachedResultName": "BAT Operator Response Handler 1 - Main Router"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1120,
        -48
      ],
      "id": "59a283b3-3b51-4e3d-a8b6-198c41976f1e",
      "name": "Call 'BAT Operator Response Handler 1 - Main Router'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v1s1eefpYkPCfikZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/v1s1eefpYkPCfikZ",
          "cachedResultName": "BAT OUT Telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1184,
        240
      ],
      "id": "34bb9911-9ae0-46f6-9f35-9ea0e7810ff1",
      "name": "Call 'BAT OUT Telegram'"
    },
    {
      "parameters": {
        "jsCode": "const triggerData = $('Trigger').first().json;\n\n// Загрузить client_telegram_id из БД (эмуляция SQL запроса)\n// В реальности нужен SQL запрос, но можно взять из triggerData.external_chat_id\n\nreturn {\n  tenant_id: triggerData.tenant_id,\n  appeal_id: triggerData.appeal_id,\n  client_id: triggerData.client_id,\n  operator_id: triggerData.operator_telegram_id,\n  response_to_send: triggerData.response_to_send,\n  response_type: triggerData.media_type || 'text',\n  media_file_id: triggerData.media_data?.file_id || null,\n  media_url: null,\n  operator_action: triggerData.operator_action,\n  operator_name: triggerData.operator_name,\n  channel: triggerData.channel,\n  client_telegram_id: triggerData.external_chat_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        128
      ],
      "id": "798bba4c-4418-4dce-8ae4-9ea9f51ca844",
      "name": "Prepare and Load Client"
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Check Training Sample Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Training Sample Exists": {
      "main": [
        [
          {
            "node": "Not Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Exists?": {
      "main": [
        [
          {
            "node": "Save to Training",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Through",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Training": {
      "main": [
        [
          {
            "node": "Prepare and Load Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Through": {
      "main": [
        [
          {
            "node": "Prepare and Load Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Callback?": {
      "main": [
        [
          {
            "node": "Call 'BAT Operator Response Handler 1 - Main Router'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'BAT OUT Telegram'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'BAT Operator Response Handler 1 - Main Router'": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'BAT OUT Telegram'": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare and Load Client": {
      "main": [
        [
          {
            "node": "Has Callback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ae77ca901b15c37bb42b26ea9b5a21b78217dd557a563108d875a64964c49bb"
  }
}