Backend JSON/BAT Appeal Manager.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "6f250f91-7851-420e-ab42-b7427b5613a0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2960,
        1712
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconsole.log('═══ ATTACH BASE ═══');\nconsole.log('Saving client.id:', input.client?.id);\nreturn input;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        1712
      ],
      "id": "a2890d67-2e23-4b67-80ef-3065460212a0",
      "name": "Attach Base"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2112,
        1712
      ],
      "id": "a30a2c05-284a-4c54-a32e-cfe8d40d7b95",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const baseData = $('Attach Base').first()?.json || {};\nconst sqlResult = $input.first()?.json;\n\nconsole.log('═══ MERGE AFTER FIND ═══');\nconsole.log('SQL type:', typeof sqlResult);\nconsole.log('SQL is array?', Array.isArray(sqlResult));\nconsole.log('SQL length:', Array.isArray(sqlResult) ? sqlResult.length : 'not array');\n\n// Проверяем что SQL вернул\nlet appealRow = null;\nlet appealFound = false;\n\nif (sqlResult) {\n  if (Array.isArray(sqlResult)) {\n    if (sqlResult.length > 0) {\n      appealRow = sqlResult[0];\n      appealFound = true;\n      console.log('✅ Appeal found! ID:', appealRow.id);\n    } else {\n      console.log('⚠️ No active appeal found (empty array)');\n    }\n  } else if (sqlResult.id) {\n    appealRow = sqlResult;\n    appealFound = true;\n    console.log('✅ Appeal found! ID:', appealRow.id);\n  } else if (sqlResult.success === true) {\n    console.log('⚠️ SQL returned success=true (no appeal)');\n  }\n}\n\n// КРИТИЧНО: Восстанавливаем ВСЕ базовые данные\nconst output = {\n  ...baseData,  // Все поля включая client, channel, text и т.д.\n  appeal_found: appealFound\n};\n\n// Если нашли appeal - добавляем его\nif (appealRow) {\n  output.appeal = {\n    id: appealRow.id,\n    stage: appealRow.stage,\n    phone_model: appealRow.phone_model,\n    model_id: appealRow.model_id,\n    brand_id: appealRow.brand_id,\n    repair_type_id: appealRow.repair_type_id,\n    problem_description: appealRow.problem_description,\n    operation_mode: appealRow.operation_mode,\n    estimated_cost: appealRow.estimated_cost,\n    estimated_time: appealRow.estimated_time,\n    parts_owner: appealRow.parts_owner,\n    is_new: false\n  };\n}\n\nconsole.log('✅ Output client.id:', output.client?.id);\nconsole.log('Appeal found:', output.appeal_found);\nconsole.log('Appeal ID:', output.appeal?.id);\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        1808
      ],
      "id": "64fe6c76-1405-44e9-843f-bcda71729fc1",
      "name": "Merge After Find"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH vals AS (\n  SELECT\n    '{{ $json.client?.id || \"\" }}' AS client_id_text,\n    '{{ $json.tenant_id }}' AS tenant_id_text\n),\nv AS (\n  SELECT \n    CASE\n      WHEN client_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'\n        THEN client_id_text::uuid\n      ELSE NULL\n    END AS client_id,\n    CASE\n      WHEN tenant_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'\n        THEN tenant_id_text::uuid\n      ELSE NULL\n    END AS tenant_id\n  FROM vals\n)\nSELECT a.id, a.stage, a.phone_model, a.model_id, a.problem_description, a.created_at, a.operation_mode\nFROM appeals a\nJOIN v ON v.client_id IS NOT NULL\nWHERE a.client_id = v.client_id\n  AND a.tenant_id = v.tenant_id\n  AND a.stage NOT IN ('Завершено', 'Отменено')\n  AND a.created_at > NOW() - INTERVAL '7 days'\nORDER BY a.created_at DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "c02b6364-0250-4094-ae00-6c8bcca34079",
      "name": "Find Active Appeal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2320,
        1632
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "1be27586-efdb-483d-9905-7cc976fa7692",
      "name": "Appeal Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1504,
        1712
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO appeals (\n  tenant_id,\n  client_id,\n  device_type_id,\n  brand_id,\n  repair_type_id,\n  ad_channel_id,\n  ad_id,\n  stage,\n  operation_mode,\n  created_at\n)\nVALUES (\n  '{{ $json.tenant_id }}'::uuid,\n  '{{ $json.client.id }}'::uuid,\n  NULL,\n  NULL,\n  NULL,\n  (SELECT id FROM channels WHERE code = '{{ $json.channel }}' LIMIT 1),\n  NULLIF('{{ $json.meta.ad_id }}', ''),\n  'Первичный контакт',\n  'assist',\n  NOW()\n)\nRETURNING *;",
        "options": {}
      },
      "id": "e180756c-4813-41f6-891d-4fb73bf774df",
      "name": "Create New Appeal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1088,
        1808
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Безопасный доступ\nfunction fromNode(name) {\n  try {\n    const arr = $items(name);\n    return (arr && arr.length > 0) ? (arr[0].json || null) : null;\n  } catch (e) {\n    return null;\n  }\n}\n\n// Входные данные\nconst inMessage = fromNode('Execute Workflow Trigger') || fromNode('Webhook Trigger1') || $input.first()?.json || {};\nconst appealRow = $input.first()?.json; // SQL результат\n\nfunction pick(existing, ...cands) {\n  if (existing !== undefined && existing !== null && `${existing}` !== '') return existing;\n  for (const c of cands) {\n    if (c !== undefined && c !== null && `${c}` !== '') return c;\n  }\n  return existing ?? null;\n}\n\n// Сохраняем все поля из входных данных\nconst src = inMessage;\nconst prop = src.propertyName || {};\nconst meta = prop.meta || {};\nconst raw = meta.raw || {};\n\nconst channel = pick(src.channel, prop.channel, meta.ad_channel);\nconst external_chat_id = pick(src.external_chat_id, prop.external_chat_id, raw.chat?.id?.toString());\nconst external_user_id = pick(src.external_user_id, prop.external_user_id, raw.from?.id?.toString());\nconst external_message_id = pick(src.external_message_id, prop.external_message_id, meta.external_message_id, raw.message_id?.toString());\nconst timestamp = pick(src.timestamp, prop.timestamp, meta.timestamp, raw.date ? new Date(raw.date * 1000).toISOString() : null);\nconst text = pick(src.text, prop.text, raw.text);\n\n// Клиент (пробрасываем)\nconst client = src.client || {};\n\n// Appeal из SQL результата (КРИТИЧНО!)\nconst appeal = {\n  id: appealRow.id,                                    // UUID из БД\n  stage: appealRow.stage || 'Первичный контакт',\n  phone_model: appealRow.phone_model || null,\n  model_id: appealRow.model_id || null,\n  brand_id: appealRow.brand_id || null,\n  repair_type_id: appealRow.repair_type_id || null,\n  problem_description: appealRow.problem_description || null,\n  operation_mode: appealRow.operation_mode || 'assist',\n  estimated_cost: appealRow.estimated_cost || null,\n  estimated_time: appealRow.estimated_time || null,\n  parts_owner: appealRow.parts_owner || null,\n  is_new: false  // для Merge Existing, для Merge New = true\n};\n\n// Итог\nconst out = {\n  ...src,\n  ...(channel != null ? { channel } : {}),\n  ...(external_chat_id != null ? { external_chat_id } : {}),\n  ...(external_user_id != null ? { external_user_id } : {}),\n  ...(external_message_id != null ? { external_message_id } : {}),\n  ...(timestamp != null ? { timestamp } : {}),\n  ...(text ? { text } : {}),\n  client: client,\n  appeal: appeal  // ← ВОТ ГЛАВНОЕ!\n};\n\nif (out.success === undefined) out.success = true;\n\nreturn out;"
      },
      "id": "ed8c62c9-c555-49d7-8722-2f4c1fcafe15",
      "name": "Merge Existing Appeal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Безопасный доступ\nfunction fromNode(name) {\n  try {\n    const arr = $items(name);\n    return (arr && arr.length > 0) ? (arr[0].json || null) : null;\n  } catch (e) {\n    return null;\n  }\n}\n\n// Входные данные\nconst inMessage = fromNode('Execute Workflow Trigger') || fromNode('Webhook Trigger1') || $input.first()?.json || {};\nconst sqlResult = $input.first()?.json; // SQL результат\n\nconsole.log('=== MERGE NEW APPEAL DEBUG ===');\nconsole.log('Type of sqlResult:', typeof sqlResult);\nconsole.log('Is array:', Array.isArray(sqlResult));\nconsole.log('Full SQL result:', JSON.stringify(sqlResult, null, 2));\n\nfunction pick(existing, ...cands) {\n  if (existing !== undefined && existing !== null && `${existing}` !== '') return existing;\n  for (const c of cands) {\n    if (c !== undefined && c !== null && `${c}` !== '') return c;\n  }\n  return existing ?? null;\n}\n\n// КРИТИЧНО: Если SQL вернул массив - берем первый элемент!\nlet appealRow = sqlResult;\nif (Array.isArray(sqlResult)) {\n  console.log('SQL returned array with length:', sqlResult.length);\n  appealRow = sqlResult[0];\n}\n\nconsole.log('appealRow after processing:', JSON.stringify(appealRow, null, 2));\nconsole.log('appealRow.id:', appealRow?.id);\n\n// Проверка что данные есть\nif (!appealRow) {\n  console.error('❌ ERROR: No appeal data from SQL!');\n  throw new Error('No appeal data returned from SQL');\n}\n\nif (!appealRow.id) {\n  console.error('❌ ERROR: Appeal has no ID!');\n  console.error('Available fields:', Object.keys(appealRow));\n  throw new Error('Appeal ID is missing from SQL result');\n}\n\n// Сохраняем все поля из входных данных\nconst src = inMessage;\nconst prop = src.propertyName || {};\nconst meta = prop.meta || {};\nconst raw = meta.raw || {};\n\nconst channel = pick(src.channel, prop.channel, meta.ad_channel);\nconst external_chat_id = pick(src.external_chat_id, prop.external_chat_id, raw.chat?.id?.toString());\nconst external_user_id = pick(src.external_user_id, prop.external_user_id, raw.from?.id?.toString());\nconst external_message_id = pick(src.external_message_id, prop.external_message_id, meta.external_message_id, raw.message_id?.toString());\nconst timestamp = pick(src.timestamp, prop.timestamp, meta.timestamp, raw.date ? new Date(raw.date * 1000).toISOString() : null);\nconst text = pick(src.text, prop.text, raw.text);\n\n// Клиент (пробрасываем)\nconst client = src.client || {};\n\n// Appeal из SQL результата (КРИТИЧНО!)\nconst appeal = {\n  id: appealRow.id,                                    // UUID из БД\n  stage: appealRow.stage || 'Первичный контакт',\n  phone_model: appealRow.phone_model || null,\n  model_id: appealRow.model_id || null,\n  brand_id: appealRow.brand_id || null,\n  repair_type_id: appealRow.repair_type_id || null,\n  problem_description: appealRow.problem_description || null,\n  operation_mode: appealRow.operation_mode || 'assist',\n  estimated_cost: appealRow.estimated_cost || null,\n  estimated_time: appealRow.estimated_time || null,\n  parts_owner: appealRow.parts_owner || null,\n  is_new: true  // ← Для NEW appeal!\n};\n\nconsole.log('✅ Appeal object created with ID:', appeal.id);\n\n// Итог\nconst out = {\n  ...src,\n  ...(channel != null ? { channel } : {}),\n  ...(external_chat_id != null ? { external_chat_id } : {}),\n  ...(external_user_id != null ? { external_user_id } : {}),\n  ...(external_message_id != null ? { external_message_id } : {}),\n  ...(timestamp != null ? { timestamp } : {}),\n  ...(text ? { text } : {}),\n  client: client,\n  appeal: appeal  // ← ВОТ ГЛАВНОЕ!\n};\n\nif (out.success === undefined) out.success = true;\n\nconsole.log('=== OUTPUT ===');\nconsole.log('out.appeal.id:', out.appeal.id);\n\nreturn out;"
      },
      "id": "0d45330f-e2f3-4be6-b1ff-ab15a889c0d9",
      "name": "Merge New Appeal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        1808
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH vals AS (\n  SELECT\n    '{{ $json.tenant_id || \"\" }}'            AS tenant_id_text,\n    '{{ $json.appeal?.id || \"\" }}'           AS appeal_id_text,\n    '{{ $json.message_type || $json.role || \"client\" }}' AS message_type_text,\n    '{{ $json.text || \"\" }}'                 AS message_text,\n    '{{ $json.channel || \"\" }}'              AS channel_code,\n    '{{ $json.external_message_id || \"\" }}'  AS ext_msg_id,\n    '{{ $json.external_chat_id || \"\" }}'     AS ext_chat_id\n),\nvalidated AS (\n  SELECT\n    CASE\n      WHEN tenant_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'\n        THEN tenant_id_text::uuid\n      ELSE NULL\n    END AS tenant_id,\n    CASE\n      WHEN appeal_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'\n        THEN appeal_id_text::uuid\n      ELSE NULL\n    END AS appeal_id,\n    NULLIF(message_type_text,'') AS message_type,\n    NULLIF(message_text,'')      AS message_text,\n    NULLIF(channel_code,'')      AS channel_code,\n    NULLIF(ext_msg_id,'')        AS ext_msg_id,\n    NULLIF(ext_chat_id,'')       AS ext_chat_id\n  FROM vals\n),\nrefs AS (\n  SELECT\n    v.tenant_id,\n    v.appeal_id,\n    v.message_type,\n    v.message_text,\n    (SELECT id FROM channels WHERE code = v.channel_code LIMIT 1) AS channel_id,\n    v.channel_code,\n    v.ext_msg_id,\n    v.ext_chat_id\n  FROM validated v\n)\nINSERT INTO messages_history (\n  tenant_id,\n  appeal_id,\n  message_type,\n  message_text,\n  channel,\n  channel_id,\n  external_message_id,\n  external_chat_id\n)\nSELECT\n  r.tenant_id,\n  r.appeal_id,\n  COALESCE(r.message_type, 'client'),\n  COALESCE(r.message_text, ''),\n  r.channel_code,\n  r.channel_id,\n  r.ext_msg_id,\n  r.ext_chat_id\nFROM refs r\nWHERE r.appeal_id IS NOT NULL AND r.tenant_id IS NOT NULL\nRETURNING *;",
        "options": {}
      },
      "id": "362958e3-134c-46a6-88d3-5949874ae146",
      "name": "Save Message History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -688,
        1712
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "=yeSpnx9mPFRHQllf",
        "options": {}
      },
      "id": "40d93f87-9fdd-48e2-9a01-10146ac1ec9d",
      "name": "Execute AI Extractor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -96,
        1712
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"appeal_id\": $json.appeal.id } }}",
        "options": {}
      },
      "id": "77ded197-2df9-4540-88d8-7149ee081fac",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        144,
        1712
      ]
    },
    {
      "parameters": {
        "jsCode": "// Безопасный доступ к данным нод по имени\nfunction fromNode(name) {\n  try {\n    const arr = $items(name);\n    return (arr && arr.length > 0) ? (arr[0].json || null) : null;\n  } catch (e) {\n    return null;\n  }\n}\n\nconst input = $input.first()?.json || {};\nconst src =\n  fromNode('Merge Existing Appeal1') ??\n  fromNode('Merge New Appeal1') ??\n  fromNode('Execute Workflow Trigger') ??\n  input;\n\n// Универсальная выборка: берём существующее, иначе первый непустой кандидат\nfunction pick(existing, ...cands) {\n  if (existing !== undefined && existing !== null && `${existing}` !== '') return existing;\n  for (const c of cands) {\n    if (c !== undefined && c !== null && `${c}` !== '') return c;\n  }\n  return existing ?? null;\n}\n\n// Источники «истины» в вашем формате\nconst prop = src.propertyName || {};\nconst meta = prop.meta || {};\nconst raw  = meta.raw || {};\n\n// Канал и идентификаторы\nconst channel              = pick(src.channel,              prop.channel,              meta.ad_channel);\nconst external_chat_id     = pick(src.external_chat_id,     prop.external_chat_id,     raw.chat?.id?.toString());\nconst external_user_id     = pick(src.external_user_id,     prop.external_user_id,     raw.from?.id?.toString());\nconst external_message_id  = pick(src.external_message_id,  prop.external_message_id,  meta.external_message_id, raw.message_id?.toString());\nconst timestamp            = pick(src.timestamp,            prop.timestamp,            meta.timestamp, raw.date ? new Date(raw.date * 1000).toISOString() : null);\n\n// Текст\nlet text = (src.text ?? '').trim();\nif (!text) text = prop.text || raw.text || '';\n\n// Клиент (не затираем уже мерженный)\nconst clientSrc = src.client || {};\nconst client = { ...clientSrc };\n\n// Апелляция (если есть) - ВАЖНО!\nconst appealSrc = src.appeal || {};\nconst appealIn = input;\n\n// КРИТИЧНО: Создаем appeal ТОЛЬКО если есть id!\nlet appeal = null;\nconst appealId = pick(\n  appealSrc.id, \n  appealIn.appeal_id,  // <-- Добавлено: берём appeal_id из корня\n  appealIn.id\n);\n\nif (appealId) {\n  appeal = {\n    id: appealId,\n    stage: pick(appealSrc.stage, appealIn.stage),\n    phone_model: pick(appealSrc.phone_model, appealIn.phone_model),\n    model_id: pick(appealSrc.model_id, appealIn.model_id),\n    brand_id: pick(appealSrc.brand_id, appealIn.brand_id),\n    repair_type_id: pick(appealSrc.repair_type_id, appealIn.repair_type_id),\n    problem_description: pick(appealSrc.problem_description, appealIn.problem_description),\n    operation_mode: pick(appealSrc.operation_mode, appealIn.operation_mode, 'assist'),\n    estimated_cost: pick(appealSrc.estimated_cost, appealIn.estimated_cost),\n    estimated_time: pick(appealSrc.estimated_time, appealIn.estimated_time),\n    parts_owner: pick(appealSrc.parts_owner, appealIn.parts_owner),\n    is_new: pick(appealSrc.is_new, appealIn.is_new)\n  };\n  \n  console.log('✅ Appeal exists with ID:', appealId);\n} else {\n  console.log('⚠️ No appeal ID found - appeal will be created later');\n}\n\n// Итог без дублей и без перезаписи\nconst out = {\n  ...src,\n  ...(channel != null ? { channel } : {}),\n  ...(external_chat_id != null ? { external_chat_id } : {}),\n  ...(external_user_id != null ? { external_user_id } : {}),\n  ...(external_message_id != null ? { external_message_id } : {}),\n  ...(timestamp != null ? { timestamp } : {}),\n  ...(text ? { text } : {}),\n  ...(Object.keys(client).length ? { client } : {}),\n  ...(appeal ? { appeal, appeal_id: appeal.id } : {})  // <-- Добавлено: appeal_id в корень\n};\n\nif (out.success === undefined) out.success = true;\n\nconsole.log('=== PREPARE CONTRACT OUTPUT ===');\nconsole.log('Has appeal:', !!out.appeal);\nconsole.log('Appeal ID:', out.appeal?.id);\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        1712
      ],
      "id": "f482d2b5-8a35-4ee9-9e1d-bb7b8dc8f142",
      "name": "Prepare Contract1"
    },
    {
      "parameters": {
        "jsCode": "const baseData = $('Attach Base').first()?.json || {};\nconst sqlResult = $input.first()?.json;\n\nconsole.log('═══ MERGE AFTER FIND APPEAL ═══');\nconsole.log('SQL Result:', JSON.stringify(sqlResult, null, 2));\nconsole.log('Base client.id:', baseData.client?.id);\n\n// Обработка SQL результата\nlet appealRow = null;\nlet appealFound = false;\n\nif (sqlResult && typeof sqlResult === 'object' && !sqlResult.success) {\n  if (Array.isArray(sqlResult)) {\n    if (sqlResult.length > 0) {\n      appealRow = sqlResult[0];\n      appealFound = true;\n    }\n  } else if (sqlResult.id) {\n    appealRow = sqlResult;\n    appealFound = true;\n  }\n}\n\nconsole.log('Appeal found?', appealFound);\n\n// КРИТИЧНО: Восстанавливаем базовые данные\nconst output = {\n  ...baseData,  // Все исходные поля включая client\n  appeal_found: appealFound,\n  ...(appealRow ? {\n    appeal: {\n      id: appealRow.id,\n      stage: appealRow.stage,\n      phone_model: appealRow.phone_model,\n      model_id: appealRow.model_id,\n      brand_id: appealRow.brand_id,\n      repair_type_id: appealRow.repair_type_id,\n      problem_description: appealRow.problem_description,\n      operation_mode: appealRow.operation_mode,\n      estimated_cost: appealRow.estimated_cost,\n      estimated_time: appealRow.estimated_time,\n      parts_owner: appealRow.parts_owner,\n      is_new: false\n    }\n  } : {})\n};\n\nconsole.log('✅ Restored client.id:', output.client?.id);\nconsole.log('Appeal found:', output.appeal_found);\n\nreturn output;  // ← ОДИН item!"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        1712
      ],
      "id": "bc9b26a1-eb23-4cec-8cbe-154948e325b3",
      "name": "Merge After Find1"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Attach Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Base": {
      "main": [
        [
          {
            "node": "Find Active Appeal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge After Find1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Find": {
      "main": [
        [
          {
            "node": "Create New Appeal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Active Appeal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appeal Exists?": {
      "main": [
        [
          {
            "node": "Merge Existing Appeal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge After Find",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Appeal": {
      "main": [
        [
          {
            "node": "Merge New Appeal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Existing Appeal": {
      "main": [
        [
          {
            "node": "Save Message History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge New Appeal": {
      "main": [
        [
          {
            "node": "Save Message History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Message History": {
      "main": [
        [
          {
            "node": "Prepare Contract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute AI Extractor": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Contract1": {
      "main": [
        [
          {
            "node": "Execute AI Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Find1": {
      "main": [
        [
          {
            "node": "Appeal Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "channel": "telegram",
        "external_user_id": "6416413182",
        "external_chat_id": "6416413182",
        "text": "Здравствуйте",
        "timestamp": "2025-10-20T07:02:00.000Z",
        "client_phone": null,
        "client_name": "РемАкс",
        "client_email": null,
        "media": {
          "has_voice": false,
          "voice_transcribed_text": null,
          "has_images": false,
          "images": [],
          "has_video": false,
          "videos": [],
          "has_document": false,
          "documents": []
        },
        "meta": {
          "external_message_id": "994",
          "ad_channel": "telegram",
          "ad_id": null,
          "original_media_type": "text",
          "raw": {
            "message_id": 994,
            "from": {
              "id": 6416413182,
              "is_bot": false,
              "first_name": "РемАкс",
              "username": "RemAcsRu",
              "language_code": "ru"
            },
            "chat": {
              "id": 6416413182,
              "first_name": "РемАкс",
              "username": "RemAcsRu",
              "type": "private"
            },
            "date": 1760943720,
            "text": "Здравствуйте"
          },
          "username": "RemAcsRu",
          "batched": true,
          "batch_size": 1,
          "batch_wait_time": 20,
          "original_messages": [
            {
              "timestamp": "2025-10-20T07:02:00.000Z",
              "type": "text",
              "text_length": 12
            }
          ],
          "combined_at": "2025-10-20T07:02:21.607Z"
        },
        "prefilled_data": {
          "model": null,
          "parts_owner": null
        },
        "external_message_id": "994",
        "success": true,
        "client": {
          "id": "f08a1543-c066-4aa0-847b-bd8f1321ee75",
          "phone": null,
          "name": "РемАкс",
          "telegram_id": "6416413182",
          "vk_id": null,
          "whatsapp_id": null,
          "avito_id": null,
          "was_merged": false
        },
        "client_found": true
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ae77ca901b15c37bb42b26ea9b5a21b78217dd557a563108d875a64964c49bb"
  }
}