Backend JSON/BAT Client Resolver.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "da55bd2a-4768-44c5-8cd0-4aed33d6e3c3",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        1088
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH potential_clients AS (\n  SELECT * FROM clients \n  WHERE tenant_id = '{{ $json.tenant_id }}'\n    AND (\n      (phone IS NOT NULL AND phone = '{{ $json.client_phone }}')\n      OR (telegram_id IS NOT NULL AND telegram_id = '{{ $json.external_user_id }}' AND '{{ $json.channel }}' = 'telegram')\n      OR (vk_id IS NOT NULL AND vk_id = '{{ $json.external_user_id }}' AND '{{ $json.channel }}' = 'vk')\n      OR (whatsapp_id IS NOT NULL AND whatsapp_id = '{{ $json.external_user_id }}' AND '{{ $json.channel }}' = 'whatsapp')\n      OR (avito_id IS NOT NULL AND avito_id = '{{ $json.external_user_id }}' AND '{{ $json.channel }}' = 'avito')\n    )\n  LIMIT 1\n),\nresolved_client AS (\n  SELECT \n    COALESCE(master.id, pc.id) as id,\n    COALESCE(master.phone, pc.phone) as phone,\n    COALESCE(master.name, pc.name) as name,\n    COALESCE(master.telegram_id, pc.telegram_id) as telegram_id,\n    COALESCE(master.vk_id, pc.vk_id) as vk_id,\n    COALESCE(master.whatsapp_id, pc.whatsapp_id) as whatsapp_id,\n    COALESCE(master.avito_id, pc.avito_id) as avito_id,\n    CASE WHEN cm.id IS NOT NULL THEN true ELSE false END as was_merged\n  FROM potential_clients pc\n  LEFT JOIN client_merges cm ON pc.id = cm.merged_client_id\n  LEFT JOIN clients master ON cm.master_client_id = master.id\n)\nSELECT * FROM resolved_client;",
        "options": {}
      },
      "id": "77d33224-2b27-4c25-a14f-c5617e26bc70",
      "name": "Find Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -512,
        1088
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.client_found }}",
              "value2": true
            }
          ]
        }
      },
      "id": "8171f370-54ff-4c35-9a7f-53c598128c9a",
      "name": "Client Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        192,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из разных источников\nconst sourceJson = $('Execute Workflow Trigger').first().json;\nconst inputData = $input.first().json;\nconst findClientData = $('Find Client').first()?.json;\n\nconsole.log('═══ MERGE FOUND CLIENT DEBUG ═══');\nconsole.log('Source (Trigger):', JSON.stringify(sourceJson, null, 2));\nconsole.log('Input ($input):', JSON.stringify(inputData, null, 2));\nconsole.log('Find Client node:', JSON.stringify(findClientData, null, 2));\n\n// Пробуем найти данные клиента\nlet clientRow = null;\nlet dataSource = null;\n\n// Вариант 1: Из ноды Find Client напрямую\nif (findClientData) {\n  dataSource = 'Find Client node';\n  if (Array.isArray(findClientData)) {\n    clientRow = findClientData.length > 0 ? findClientData[0] : null;\n  } else if (findClientData.id) {\n    clientRow = findClientData;\n  }\n}\n\n// Вариант 2: Из $input\nif (!clientRow && inputData) {\n  dataSource = '$input';\n  if (Array.isArray(inputData)) {\n    clientRow = inputData.length > 0 ? inputData[0] : null;\n  } else if (inputData.id) {\n    clientRow = inputData;\n  }\n}\n\nconsole.log('Data source used:', dataSource);\nconsole.log('Client row:', JSON.stringify(clientRow, null, 2));\n\n// Проверка что нашли клиента\nif (!clientRow || !clientRow.id) {\n  console.error('❌ Available data:');\n  console.error('- sourceJson keys:', Object.keys(sourceJson));\n  console.error('- inputData keys:', Object.keys(inputData || {}));\n  console.error('- findClientData keys:', Object.keys(findClientData || {}));\n  throw new Error('❌ Client not found! Check logs above for available data.');\n}\n\nconsole.log('✅ Client found! ID:', clientRow.id);\n\n// Формируем выход\nreturn {\n  ...sourceJson,\n  client: {\n    id: clientRow.id,\n    phone: clientRow.phone,\n    name: clientRow.name,\n    telegram_id: clientRow.telegram_id,\n    vk_id: clientRow.vk_id,\n    whatsapp_id: clientRow.whatsapp_id,\n    avito_id: clientRow.avito_id,\n    was_merged: clientRow.was_merged || false\n  },\n  client_found: true\n};"
      },
      "id": "3d61c884-c109-4104-87a9-752cf12a324a",
      "name": "Merge Found Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        992
      ]
    },
    {
      "parameters": {
        "workflowId": "=vkQwat1iZhJJj7C9",
        "options": {}
      },
      "id": "880ce159-9d2c-4ce5-9bcc-f7076626e306",
      "name": "Execute Client Creator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        576,
        1200
      ]
    },
    {
      "parameters": {
        "workflowId": "=laevudT8uPlXjpap",
        "options": {}
      },
      "id": "b1cb4bf9-edcd-43e4-9f8d-1c32740cff35",
      "name": "Execute Appeal Manager",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        864,
        1088
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"client_id\": $json.client.id } }}",
        "options": {}
      },
      "id": "f7dfdeb1-bd5a-443b-9e5d-fd9e58330b2b",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1088,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "// Безопасный доступ к данным нод\nfunction fromNode(name) {\n  try {\n    const arr = $items(name);\n    return (arr && arr.length > 0) ? (arr[0].json || null) : null;\n  } catch (e) {\n    return null;\n  }\n}\n\nconst input = fromNode('Execute Workflow Trigger') || $input.first()?.json || {};\nconst sqlResult = $input.first()?.json; // Результат SQL\n\nconsole.log('=== PREPARE CONTRACT DEBUG ===');\nconsole.log('SQL Result type:', typeof sqlResult);\nconsole.log('SQL Result is array:', Array.isArray(sqlResult));\nconsole.log('SQL Result:', JSON.stringify(sqlResult, null, 2));\n\nfunction pick(existing, ...cands) {\n  if (existing !== undefined && existing !== null && `${existing}` !== '') return existing;\n  for (const c of cands) {\n    if (c !== undefined && c !== null && `${c}` !== '') return c;\n  }\n  return existing ?? null;\n}\n\n// КРИТИЧНО: Правильная обработка результата SQL\nlet clientRow = null;\n\nif (sqlResult) {\n  if (Array.isArray(sqlResult)) {\n    // Если массив - берем первый элемент (если есть)\n    if (sqlResult.length > 0) {\n      clientRow = sqlResult[0];\n      console.log('✅ Client found in array:', clientRow.id);\n    } else {\n      console.log('⚠️ SQL returned empty array - client not found');\n    }\n  } else if (sqlResult.id) {\n    // Если объект с id\n    clientRow = sqlResult;\n    console.log('✅ Client found as object:', clientRow.id);\n  }\n}\n\n// Сохраняем все входные данные\nconst src = input;\nconst prop = src.propertyName || {};\nconst meta = prop.meta || {};\nconst raw = meta.raw || {};\n\n// Базовые поля из входных данных\nconst channel = pick(src.channel, prop.channel, meta.ad_channel);\nconst external_chat_id = pick(src.external_chat_id, prop.external_chat_id, raw.chat?.id?.toString());\nconst external_user_id = pick(src.external_user_id, prop.external_user_id, raw.from?.id?.toString());\nconst external_message_id = pick(src.external_message_id, prop.external_message_id, meta.external_message_id, raw.message_id?.toString());\nconst timestamp = pick(src.timestamp, prop.timestamp, meta.timestamp, raw.date ? new Date(raw.date * 1000).toISOString() : null);\nconst text = pick(src.text, prop.text, raw.text);\n\n// Клиент из SQL результата\nconst client = clientRow && clientRow.id ? {\n  id: clientRow.id,\n  phone: clientRow.phone,\n  name: clientRow.name,\n  telegram_id: clientRow.telegram_id,\n  vk_id: clientRow.vk_id,\n  whatsapp_id: clientRow.whatsapp_id,\n  avito_id: clientRow.avito_id,\n  was_merged: clientRow.was_merged || false\n} : {};\n\nconsole.log('Client object:', JSON.stringify(client, null, 2));\nconsole.log('Client found:', !!clientRow && !!clientRow.id);\n\n// Appeal (пробрасываем если был)\nconst appealSrc = src.appeal || {};\nconst appeal = appealSrc.id ? {\n  id: appealSrc.id,\n  stage: appealSrc.stage,\n  phone_model: appealSrc.phone_model,\n  model_id: appealSrc.model_id,\n  problem_description: appealSrc.problem_description,\n  operation_mode: appealSrc.operation_mode,\n  is_new: appealSrc.is_new,\n  estimated_cost: appealSrc.estimated_cost,\n  estimated_time: appealSrc.estimated_time\n} : null;\n\n// Итог\nconst out = {\n  ...src,\n  ...(channel != null ? { channel } : {}),\n  ...(external_chat_id != null ? { external_chat_id } : {}),\n  ...(external_user_id != null ? { external_user_id } : {}),\n  ...(external_message_id != null ? { external_message_id } : {}),\n  ...(timestamp != null ? { timestamp } : {}),\n  ...(text ? { text } : {}),\n  client: client,\n  client_found: !!(clientRow && clientRow.id),  // ← ИСПРАВЛЕНО!\n  ...(appeal ? { appeal } : {})\n};\n\nif (out.success === undefined) out.success = true;\n\nconsole.log('=== OUTPUT ===');\nconsole.log('client_found:', out.client_found);\nconsole.log('client.id:', out.client?.id);\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        1088
      ],
      "id": "86f732d3-a4c0-400e-81b1-8ef6a4bb6f00",
      "name": "Prepare Contract"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Find Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Client": {
      "main": [
        [
          {
            "node": "Prepare Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Exists?": {
      "main": [
        [
          {
            "node": "Merge Found Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Client Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Found Client": {
      "main": [
        [
          {
            "node": "Execute Appeal Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Client Creator": {
      "main": [
        [
          {
            "node": "Execute Appeal Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Appeal Manager": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Contract": {
      "main": [
        [
          {
            "node": "Client Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ae77ca901b15c37bb42b26ea9b5a21b78217dd557a563108d875a64964c49bb"
  }
}