Backend JSON/BAT_FCM_Sender.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "6ebd53ca-7364-455b-bfce-70694dc9ebb5",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst tenant_id = input.tenant_id;\nconst notification_type = input.notification_type || 'new_appeal';\nconst appeal_id = input.appeal_id || null;\nconst title = input.title || '🔔 Уведомление';\nconst body = input.body || '';\nconst data = input.data || {};\n\n// Новое\nconst notification_id = `${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\nconst sent_at = new Date().toISOString();\nconst priority = notification_type === 'new_appeal' ? 'high' : 'default';\n\nconsole.log('╔═══ FCM SENDER INPUT ═══');\nconsole.log('Type:', notification_type);\nconsole.log('Priority:', priority);\n\nif (!tenant_id) {\n  throw new Error('tenant_id is required');\n}\n\nreturn {\n  tenant_id,\n  notification_type,\n  appeal_id,\n  title,\n  body,\n  data: {\n    type: notification_type,\n    appeal_id: appeal_id || '',\n    title: title,\n    body: body,\n    notification_id: notification_id,\n    sent_at: sent_at,\n    priority: priority,\n    ...data\n  }\n};"
      },
      "id": "33fef145-b826-41ff-9f3b-a51a99f2ab8f",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  fcm_token,\n  name\nFROM operators\nWHERE is_active = true\n  AND tenant_id = '{{ $json.tenant_id }}'::uuid\n  AND fcm_token IS NOT NULL;",
        "options": {}
      },
      "id": "139f6cd8-ede8-4e26-992e-f8e0b5c5350f",
      "name": "Get Operators with FCM",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        -48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Input').first().json;\nconst operators = $input.all();\n\nconsole.log('╔═══ MERGE WITH OPERATORS ═══');\nconsole.log('Operators count:', operators.length);\n\nif (operators.length === 0) {\n  console.log('⚠️ No operators with FCM tokens found');\n  return [{\n    json: {\n      ...input,\n      operators_count: 0,\n      skip_reason: 'no_operators_with_fcm'\n    }\n  }];\n}\n\nconst result = operators.map(op => {\n  const operatorData = op.json;\n  \n  return {\n    ...input,\n    operator_id: operatorData.id,\n    operator_name: operatorData.name,\n    fcm_token: operatorData.fcm_token\n  };\n});\n\nconsole.log('✅ Merged with', result.length, 'operators');\n\nreturn result;"
      },
      "id": "86a71067-0e86-4cc8-a8fc-a47ed5e3f8f6",
      "name": "Merge with Operators",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst total = items.length;\nconst sent = items.filter(i => i.json.fcm_sent === true).length;\nconst failed = items.filter(i => i.json.fcm_sent === false && !i.json.skipped).length;\nconst skipped = items.filter(i => i.json.skipped || i.json.fcm_skip_reason).length;\n\nconsole.log('╔═══ FCM SENDER SUMMARY ═══');\nconsole.log('Total operators:', total);\nconsole.log('✅ Sent:', sent);\nconsole.log('❌ Failed:', failed);\nconsole.log('⚠️ Skipped:', skipped);\n\nreturn {\n  success: true,\n  notification_type: items[0]?.json?.notification_type || 'unknown',\n  total_operators: total,\n  sent_count: sent,\n  failed_count: failed,\n  skipped_count: skipped,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "97bac666-12cc-4a79-acb2-616f178198cc",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fcm.googleapis.com/v1/projects/batterycrm/messages:send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"token\": \"{{ $json.fcm_token }}\",\n    \"notification\": {\n      \"title\": \"{{ $json.title }}\",\n      \"body\": \"{{ $json.body }}\"\n    },\n    \"data\": {\n      \"type\": \"{{ $json.data.type }}\",\n      \"appeal_id\": \"{{ $json.data.appeal_id }}\",\n      \"client_name\": \"{{ $json.data.client_name }}\",\n      \"channel\": \"{{ $json.data.channel }}\",\n      \"notification_id\": \"{{ $json.data.notification_id }}\",\n      \"sent_at\": \"{{ $json.data.sent_at }}\",\n      \"priority\": \"{{ $json.data.priority }}\"\n    },\n    \"android\": {\n      \"priority\": \"{{ $json.data.priority === 'high' ? 'high' : 'normal' }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        -48
      ],
      "id": "ca2639a8-58f7-444f-8705-e5952554faad",
      "name": "Send FCM"
    },
    {
      "parameters": {
        "jsCode": "const jwt = require('jsonwebtoken');\n\n// Приватный ключ напрямую (временно для теста)\nconst privateKey = `-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDF7rvXRF+6cVrM\nn5usQNs+w6cBdM+BypyFPIosHRoBZYXjz6aeZ7I5dvyDEqdHSZaAYeHK8TIp1aVu\nC/bYgmAj/7O0Xp9gRa3AuEUGbbwZPXXmo2uwO9PedSoK/xPjfJNiT5OjG8BkZYTU\nbR0cLdaL61yycXU2DbZqnI5BYKC0eZthS5Oo3F8etp7aNMhlZOpvmMNgtBbwss20\nFxtpTGnMkxl5EVLeEHDbMobb78BhH3yCm2w5YZ3/rpCZldbOp3K+76SAZNdxaXUc\noSduw2drWfFmRUZmupqiQ7vj+a1a1n5mmEHkvEf97U7ZVBtbVd8YyPxKrIY5yRgA\nMMGqy8a/AgMBAAECggEADlv/96GHulxv5Glt30TDQx3pl0L0rOtYiJf4RDQGR3So\njnrpkRNfzCh0MEQhq5vMldrECTePVpafzkiC63kl5WavEFZPBKp5bQJRS6KZY1Fg\npM9VSC9G8xwX5T1VIYtPm/G++bXRMtdkmA6kbn9q0bLNAksV4EqFYd2iul56uiz5\niusHGOctYXGtbLwHxN/A6/IK+5XS4ihJdD/5NbBz0YepCb9N9QiGdqz0tivDrfOJ\nhoB+6MeFJufjDVal9I8g4FgOzcB45qi6yaQ1MypaEZOTLec5gTnwfvtsUzC8vqFn\nalKjrQZLkYEsgPFL1HzbxCVL2DwV6lQ8Q7K/l6XbyQKBgQD2r3NqEhGJLIhdFu10\nOc4exEBXq/LTh4oHChWI23k8WgxIx/iaURIbKoLAflP4d6PNmhM2zjn/AQulOOhm\nacE03O5KXwSvXV786lJr6H4UsoGe52x2txt7EnPzI0gYpw4SY+zxHAiMfATLBQ5k\nH5tjMfKoWJoM8yNOmCOJjQof+QKBgQDNaAVWJgB5yTPWNvbb8T+GoYVUi978m3eS\nAMCV1GfCRbrTF8ITSUJQBpk/UZpIBYYoN1TK7YOkyW/MDi2ZJIZSllTbEcXi1AN/\n5zIfhOUeY8qGRHVkzxG+ns+9oLvsH+uGiw1rPUZ6gH7K18GKqY872rgReU3voQsI\n6y/1rby6dwKBgQCEhm1yppJVJ1964z5eGk/pp3UJpI6npUE51ukKxR20lovS7dtY\nzAT2IzhrQXLLITsW0ZdQ8immHWGsOY5gtp/dTnOV8MYLkBXfueLdpeFWLTAFtj5G\n6MgSri8sh9/LnrOonZZFUdIl5tqMVwMMNw67k7HRTwgzvMtTBdjRpLuzwQKBgCYN\naDeucJYfNRAxPIhAaCFb2ORxyQyJDJyqsQLQx6wQ2Ox0UUrbXoKOxmMZjfhbtZ/L\nqFSzrZigjKqD0eS2BIBWQ0AWSc+csU1HmlyGdR+tIv6+vfS/+6yRpTCfD1FOFIbn\nScQdJOpa1aJkWAGFKfjPqxvpmguTjQTI9SiRWA4/AoGAdEheUo8b6g2cvMzm8yij\ndM7ZNWnOKBAxiVBpsCp8kPD5a+lyxtYeAw8iwzFE2wRHA0OdTqhU9wvUNfdXQ0/B\nBNC0ZsPPDtwvi7PU5n/BuvQuU6xpde+UTQYKgu6NKDbIom+pM2zS5vigHdnCDZFh\nOYXjQWqDFg+Sk/tX2n0nQsM=\n-----END PRIVATE KEY-----`;\n\nconst now = Math.floor(Date.now() / 1000);\n\nconst payload = {\n  iss: 'firebase-adminsdk-fbsvc@batterycrm.iam.gserviceaccount.com',\n  sub: 'firebase-adminsdk-fbsvc@batterycrm.iam.gserviceaccount.com',\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600,\n  scope: 'https://www.googleapis.com/auth/firebase.messaging'\n};\n\nconst token = jwt.sign(payload, privateKey, { algorithm: 'RS256' });\n\nreturn {\n  ...$input.first().json,\n  jwt_token: token\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -48
      ],
      "id": "8fb212bd-2015-4a0f-b23b-930a95ce7e57",
      "name": "Generate JWT Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $json.jwt_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -48
      ],
      "id": "d3d52667-52e8-4223-b071-7dd914472e95",
      "name": "Get Access Token"
    },
    {
      "parameters": {
        "jsCode": "const tokenData = $input.first().json;\nconst originalData = $('Merge with Operators').first().json;\n\nreturn {\n  ...originalData,\n  access_token: tokenData.access_token\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -48
      ],
      "id": "143bcf59-97b1-42c0-9096-c4b5d6b24bbf",
      "name": "Merge Token with Data"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Get Operators with FCM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Operators with FCM": {
      "main": [
        [
          {
            "node": "Merge with Operators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge with Operators": {
      "main": [
        [
          {
            "node": "Generate JWT Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send FCM": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT Token": {
      "main": [
        [
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "Merge Token with Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Token with Data": {
      "main": [
        [
          {
            "node": "Send FCM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "tenant_id": "a0000000-0000-0000-0000-000000000001",
        "notification_type": "new_appeal",
        "appeal_id": "07af5e27-4532-4d6b-bdff-6f8c089a76d5",
        "title": "🔔 Новое обращение",
        "body": "РемАкс MD - telegram",
        "data": {
          "client_name": "РемАкс MD",
          "channel": "telegram"
        }
      }
    ]
  },
  "meta": {
    "instanceId": "8ae77ca901b15c37bb42b26ea9b5a21b78217dd557a563108d875a64964c49bb"
  }
}