n8n_workflows/TaskWork/BAT AI Universal Worker 7.json
{
  "updatedAt": "2025-11-26T07:15:24.000Z",
  "createdAt": "2025-11-25T14:28:45.300Z",
  "id": "YuSSLqzS2Vwd0ilA",
  "name": "BAT AI Universal Worker 7",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "eedd56ad-d4ed-439d-b030-c6b27c3952fa",
      "name": "Every 5 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -976,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "ai_extraction_queue",
        "options": {}
      },
      "id": "d04bff81-7866-4370-a8c5-b7c22d72a4ae",
      "name": "Pop Task",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -768,
        -16
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-task",
              "operator": {
                "type": "string",
                "operation": "exists"
              },
              "leftValue": "={{ $json }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "a1d08af2-6610-4841-9d54-be6eaf11e5a0",
      "name": "Has Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -544,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse task from Redis\nconst raw = $input.item.json;\n\nlet task;\nif (typeof raw === 'string') {\n  try {\n    const parsed = JSON.parse(raw);\n    task = Array.isArray(parsed) ? parsed[0] : parsed;\n  } catch (e) {\n    throw new Error('Failed to parse task: ' + e.message);\n  }\n} else if (Array.isArray(raw)) {\n  task = raw[0];\n} else {\n  task = raw;\n}\n\nif (!task || !task.entity_type) {\n  throw new Error('Invalid task: missing entity_type');\n}\n\n// Build prompt\nconst userPrompt = (task.prompt || '')\n  .replace('{message}', task.input_message || '')\n  .replace('{text}', task.input_message || '');\n\nreturn {\n  task,\n  system_prompt: task.system_prompt || 'Извлеки запрошенную информацию из текста.',\n  user_prompt: userPrompt,\n  chatInput: `${userPrompt}`\n};"
      },
      "id": "457c703a-183c-4c20-bb28-b7220c17f25f",
      "name": "Parse Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.system_prompt }}\n\nТЕКСТ КЛИЕНТА:\n{{ $json.task.input_message }}\n\n{{ $json.user_prompt }}",
        "options": {}
      },
      "id": "72100c60-1102-4733-baeb-163efefd6650",
      "name": "AI Extractor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -96,
        -112
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 500,
          "temperature": 0.2
        }
      },
      "id": "2d3c59cc-fac9-459b-928b-daec6d490982",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -96,
        112
      ],
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const task = $('Parse Task').item.json.task;\nconst aiResponse = $input.item.json;\n\n// Parse AI output\nlet result;\nlet rawOutput = '';\ntry {\n  rawOutput = aiResponse.output || aiResponse.text || JSON.stringify(aiResponse);\n  \n  // Try to extract JSON\n  const jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    // Try key:value format\n    const lines = rawOutput.split('\\n');\n    result = {};\n    for (const line of lines) {\n      const match = line.match(/^([\\w_]+):\\s*(.+)$/i);\n      if (match) {\n        result[match[1].toLowerCase()] = match[2].trim();\n      }\n    }\n  }\n} catch (e) {\n  result = { raw: rawOutput, parse_error: e.message };\n}\n\nreturn {\n  task,\n  result,\n  raw_output: rawOutput,\n  success: !result.parse_error\n};"
      },
      "id": "8154feb6-d40b-49eb-b92c-fbbdefc4cc47",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_extraction_tasks (tenant_id, appeal_id, entity_config_id, entity_type, device_index, input_message, status, raw_response, parsed_result, completed_at) VALUES ('{{ $json.task.tenant_id }}'::uuid, '{{ $json.task.appeal_id }}'::uuid, {{ $json.task.entity_config_id ? \"'\" + $json.task.entity_config_id + \"'::uuid\" : 'NULL' }}, '{{ $json.task.entity_type }}', {{ $json.task.device_index || 0 }}, '{{ $json.task.input_message.replace(/'/g, \"''\") }}', 'completed', '{{ $json.raw_output.replace(/'/g, \"''\") }}', '{{ JSON.stringify($json.result).replace(/'/g, \"''\") }}'::jsonb, now()) RETURNING id",
        "options": {}
      },
      "id": "f43447fb-ffb4-4a94-932c-0b7d12076e0c",
      "name": "Save Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        496,
        -112
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $('Parse Result').item.json;\nconst savedId = $input.item.json.id;\n\nreturn {\n  success: true,\n  task_id: savedId,\n  entity_type: result.task.entity_type,\n  appeal_id: result.task.appeal_id,\n  result: result.result\n};"
      },
      "id": "12c05d17-f736-46c9-a64c-b53eb0f5df5e",
      "name": "Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "return { message: 'No tasks', timestamp: new Date().toISOString() };"
      },
      "id": "d1cfde27-bf4a-4887-aacd-c8ef36005cab",
      "name": "No Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        96
      ]
    }
  ],
  "connections": {
    "Every 5 Seconds": {
      "main": [
        [
          {
            "node": "Pop Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Task": {
      "main": [
        [
          {
            "node": "Has Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Task?": {
      "main": [
        [
          {
            "node": "Parse Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Task": {
      "main": [
        [
          {
            "node": "AI Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Extractor": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "Save Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Result": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every 5 Seconds": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "a15b7e2c-069e-48cc-b66d-4c21a6c08311",
  "versionCounter": 15,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-25T14:28:45.311Z",
      "createdAt": "2025-11-25T14:28:45.311Z",
      "role": "workflow:owner",
      "workflowId": "YuSSLqzS2Vwd0ilA",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-02T07:52:39.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-25T13:52:16.776Z",
      "createdAt": "2025-11-25T13:52:16.776Z",
      "id": "KZWHB14qNi4HvGro",
      "name": "TaskWork"
    }
  ]
}