n8n_workflows/TaskWork/BAT AI Universal Worker 5.json
{
  "updatedAt": "2025-11-26T11:07:58.000Z",
  "createdAt": "2025-11-25T14:28:20.971Z",
  "id": "vDT1adgGuzD9gnwJ",
  "name": "BAT AI Universal Worker 5",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "fbbc509c-3522-459b-a794-4b8b94404680",
      "name": "Every 5 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1568,
        224
      ]
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "ai_extraction_queue",
        "options": {}
      },
      "id": "be8651fd-f9d6-4e06-a1b6-779c1f6e9553",
      "name": "Pop Task",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1360,
        224
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-task",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "null"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "fe3f86d7-d74b-488b-a200-b186496239b5",
      "name": "Has Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1136,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse task from Redis\nconst raw = $input.item.json.propertyName;\n\nlet task;\nif (typeof raw === 'string') {\n  try {\n    const parsed = JSON.parse(raw);\n    task = Array.isArray(parsed) ? parsed[0] : parsed;\n  } catch (e) {\n    throw new Error('Failed to parse task: ' + e.message);\n  }\n} else if (Array.isArray(raw)) {\n  task = raw[0];\n} else {\n  task = raw;\n}\n\nif (!task || !task.entity_type) {\n  throw new Error('Invalid task: missing entity_type');\n}\n\n// Build prompt\nconst userPrompt = (task.prompt || '')\n  .replace('{message}', task.input_message || '')\n  .replace('{text}', task.input_message || '');\n\nreturn {\n  task,\n  system_prompt: task.system_prompt || 'Извлеки запрошенную информацию из текста.',\n  user_prompt: userPrompt,\n  chatInput: `${userPrompt}`\n};"
      },
      "id": "c72ac6b2-1535-407f-a1ca-42401f498b6c",
      "name": "Parse Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        128
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.system_prompt }}\n\nТЕКСТ КЛИЕНТА:\n{{ $json.task.input_message }}\n\n{{ $json.user_prompt }}",
        "options": {}
      },
      "id": "d33cb513-150f-42d5-b0b2-19abcf8d5421",
      "name": "AI Extractor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -688,
        128
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 500,
          "temperature": 0.2
        }
      },
      "id": "e7ccf33a-3def-45eb-967b-ab72dcaec84e",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -688,
        352
      ],
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const task = $('Parse Task').item.json.task;\nconst aiResponse = $input.item.json;\n\n// Parse AI output\nlet result;\nlet rawOutput = '';\ntry {\n  rawOutput = aiResponse.output || aiResponse.text || JSON.stringify(aiResponse);\n  \n  // Try to extract JSON\n  const jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    // Try key:value format\n    const lines = rawOutput.split('\\n');\n    result = {};\n    for (const line of lines) {\n      const match = line.match(/^([\\w_]+):\\s*(.+)$/i);\n      if (match) {\n        result[match[1].toLowerCase()] = match[2].trim();\n      }\n    }\n  }\n} catch (e) {\n  result = { raw: rawOutput, parse_error: e.message };\n}\n\nreturn {\n  task,\n  result,\n  raw_output: rawOutput,\n  success: !result.parse_error\n};"
      },
      "id": "a16c6b7d-73b2-4aba-849a-889340f03684",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_extraction_tasks (tenant_id, appeal_id, entity_config_id, entity_type, device_index, input_message, status, raw_response, parsed_result, completed_at) VALUES ('{{ $json.task.tenant_id }}'::uuid, '{{ $json.task.appeal_id }}'::uuid, {{ $json.task.entity_config_id ? \"'\" + $json.task.entity_config_id + \"'::uuid\" : 'NULL' }}, '{{ $json.task.entity_type }}', {{ $json.task.device_index || 0 }}, '{{ $json.task.input_message.replace(/'/g, \"''\") }}', 'completed', '{{ $json.raw_output.replace(/'/g, \"''\") }}', '{{ JSON.stringify($json.result).replace(/'/g, \"''\") }}'::jsonb, now()) RETURNING id",
        "options": {}
      },
      "id": "dbd126ca-5886-42f4-8a9c-53239e126fad",
      "name": "Save Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -96,
        128
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $('Parse Result').item.json;\nconst savedId = $input.item.json.id;\n\nreturn {\n  success: true,\n  task_id: savedId,\n  entity_type: result.task.entity_type,\n  appeal_id: result.task.appeal_id,\n  result: result.result\n};"
      },
      "id": "2e8d61c2-ca35-4601-8492-709c6d9959c8",
      "name": "Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "return { message: 'No tasks', timestamp: new Date().toISOString() };"
      },
      "id": "9ae827c7-e8b6-4e0c-b8f3-203bca8a976e",
      "name": "No Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        336
      ]
    }
  ],
  "connections": {
    "Every 5 Seconds": {
      "main": [
        [
          {
            "node": "Pop Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Task": {
      "main": [
        [
          {
            "node": "Has Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Task?": {
      "main": [
        [
          {
            "node": "Parse Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Task": {
      "main": [
        [
          {
            "node": "AI Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extractor": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "Save Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Result": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every 5 Seconds": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {
    "Every 5 Seconds": [
      {
        "json": {
          "timestamp": "2025-11-26T13:27:05.005+04:00",
          "Readable date": "November 26th 2025, 1:27:05 pm",
          "Readable time": "1:27:05 pm",
          "Day of week": "Wednesday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "26",
          "Hour": "13",
          "Minute": "27",
          "Second": "05",
          "Timezone": "Europe/Samara (UTC+04:00)"
        }
      }
    ]
  },
  "versionId": "156c0418-9144-4119-be1c-9c420ee345a5",
  "versionCounter": 25,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-25T14:28:20.976Z",
      "createdAt": "2025-11-25T14:28:20.976Z",
      "role": "workflow:owner",
      "workflowId": "vDT1adgGuzD9gnwJ",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-02T07:52:39.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-25T13:52:16.776Z",
      "createdAt": "2025-11-25T13:52:16.776Z",
      "id": "KZWHB14qNi4HvGro",
      "name": "TaskWork"
    }
  ]
}